<div class="box box-default">
    <div class="box-header">
        <h3 class="box-title" ng-bind="$ctrl.post.title"></h3>
        <span><button class="btn btn-default" ng-click="$ctrl.close()">Close</button></span>
    </div>
    <div class="box-body">
        <div class="post-editor" ng-bind-html="$ctrl.content">

        </div>
    </div>
    <div class="box-footer"><button class="btn btn-default" ng-click="$ctrl.close()">Close</button></div>
</div>