<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">View : {{ ::$ctrl.module.title }}</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-4">
                <h3>Overview and introduction</h3>
                <ul>
                    <li ng-repeat="doc in ::$ctrl.docs">
                        <a ng-if="doc.type=='refer'" href="javascript:void()" ng-click="$ctrl.clickRefer(doc)" target="_blank">{{ doc.name }}</a>
                        <a ng-if="doc.type=='upload'" href="/filemanager/download?path={{ doc.path }}" target="_blank">{{ doc.name }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <h3>Description</h3>
                <div class="post-editor">
                    <div ng-bind-html="$ctrl.content"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button ng-click="$ctrl.cancel()" class="btn btn-default">Cancle</button>
    </div>
</div>