<div class="row">
    <div class="col-md-4">
        <div class="box box-widget">
            <div class="box-header with-border">
                <h3 class="box-title">Module Reference link</h3>
            </div>
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <tbody>
                    <tr ng-repeat="doc in ::$ctrl.docs">
                        <td>
                            <a href="{{ doc.href }}" target="_blank">{{ doc.name }}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="box box-widget">
            <div class="box-header with-border">
                <h3 class="box-title">Module Overview</h3>
            </div>
            <div class="box-body">
                <view-summernote ng-model="$ctrl.content"></view-summernote>
            </div>
        </div>
    </div>
</div>

<!--<div id="common-module-view" class="box box-default">-->
    <!--<div class="box-header">-->
        <!--<h3 class="box-title">{{ ::$ctrl.module.title }}</h3>-->
    <!--</div>-->
    <!--<div class="box-body">-->
        <!--<div class="col-md-4">-->
            <!--<h3>Overview and introduction</h3>-->
            <!--<ul>-->
                <!--<li ng-repeat="doc in ::$ctrl.docs">-->
                    <!--<a ng-if="doc.type=='refer'" href="javascript:void()" ng-click="$ctrl.clickRefer(doc)" target="_blank">{{ doc.name }}</a>-->
                    <!--<a ng-if="doc.type=='upload'" href="/filemanager/download?path={{ doc.path }}" target="_blank">{{ doc.name }}</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-md-8">-->
            <!--<h3>Description</h3>-->
            <!--<div class="post-editor">-->
                <!--<div ng-bind-html="$ctrl.content"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
