<!-- <div class="box box-widget"> -->
    <!-- <div class="box-header with-border">
        <h3 class="box-title">
            Presentation Files
        </h3>
        <p class="help-block">Only Accept Image or extension file .doc,.docx,.ppt,.pptx,.xls,.xlsx </p>
    </div> -->
    <!-- <div class="box-body no-padding"> -->
        <a style="cursor: pointer;" class="file-upload btn btn-flat"><img src="media/img/upload.png" class="img-responsive" alt="Image"> Upload</a>
        <p id="progress-file" class="text text-primary" style="display: none;">Uploading.....</p>
        <input type="file" class="hide" multiple accept="image/*,.doc,.docx,.ppt,.pptx,.xls,.xlsx"/>
        <table class="table table-bordered">
            <tbody>
                <tr ng-repeat="file in model track by $index">
                    <td>
                        <a style="cursor: pointer;" ng-bind="file|imageName"></a>
                    </td>
                    <td>
                        <a style="cursor: pointer;" class="text-danger text" ng-click="model.splice($index, 1)">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style="color:red;"><b>Only word.doc</b></p>
    <!-- </div> -->
<!-- </div> -->