<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="javascript:void()" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
                <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="components/AdminLTE/dist/img/avatar.png" class="user-image" alt="User Image">
                    <span class="hidden-xs" ng-bind="::$ctrl.user.name"></span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img src="components/AdminLTE/dist/img/avatar.png" class="img-circle" alt="User Image">

                        <p ng-bind="::$ctrl.user.name"></p>
                    </li>
                    <!-- Menu Body -->
                    <!--<li class="user-body">-->
                        <!--<div class="row">-->
                            <!--<div class="col-xs-4 text-center">-->
                                <!--<a href="javascript:void()">Followers</a>-->
                            <!--</div>-->
                            <!--<div class="col-xs-4 text-center">-->
                                <!--<a href="javascript:void()">Sales</a>-->
                            <!--</div>-->
                            <!--<div class="col-xs-4 text-center">-->
                                <!--<a href="javascript:void()">Friends</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a style="cursor: pointer" class="btn btn-default btn-flat">Thông Tin Cá Nhân</a>
                        </div>
                        <div class="pull-right">
                            <a style="cursor: pointer" class="btn btn-default btn-flat" ui-sref="logout">Thoát</a>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <li>
                <a style="cursor: pointer" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
        </ul>
    </div>
</nav>