<!-- Sidebar user panel -->
<div class="user-panel">
    <div class="pull-left image">
        <img src="components/AdminLTE/dist/img/avatar.png" class="img-circle" alt="{{ ::$ctrl.user.name }}">
    </div>
    <div class="pull-left info">
        <p ng-bind="::$ctrl.user.name"></p>
        <a href="#/logout" title="đăng xuất"><i class="fa fa-circle text-success"></i> Đăng xuất</a>
    </div>
</div>
