.editor() {
  /** Typography **/
  h1,
  h3,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
  }

  h1 {
    font-size: 38px;
    line-height: 40px;
  }
  h2 {
    font-size: 32px;
    line-height:36px;
  }
  h3 {
    font-size: 24px;
    line-height:28px;
  }
  h4 {
    font-size: 18px;
    ine-height:22px;
  }
  h5 {
    font-size: 14px;
    line-height:14px;
  }
  h6 {
    font-size: 12px;
  }
  p {
    margin: 0 0 15px 0;
  }
  .col-right p {
    margin: 0 0 25px 0;
  }
  .col-right ul{
    margin: 0 0 10px 0;
  }
  /** Lists **/
  ul,
  ol {
    padding: 0;
    margin: 0 0 0;
    list-style:none;
  }
  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-bottom: 0;
  }
  li {
    line-height: 20px;
  }
  hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
  }
  iframe {
    width:100%;
  }
  /** Links color **/
  a {
    color: #0088cc;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: #005580;
    text-decoration: underline;
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
//    margin-top: 0;
//    font-family: 'Roboto', Tahoma, Arial, helvetica, sans-serif;
//    font-weight: 600;
//    font-size: 25px;
//    line-height: 1.4em;
    font-size: inherit;
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
  }

  p {
    font-size: 13px;
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 0 15px 0;
    color: #555;
  }

  ul {
    padding-left: 30px;
    li {
      list-style: circle;
    }
  }

}