<!doctype html>
<html lang="en">
<head>
    <title>Master File Demo</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <h3>Programe Details</h3>
        <table class="table table-bordered">
            <tr>
                <td>Name: {{ $learner->name }}</td>
                <td>ID No. : {{ $learner->id }}</td>
                <td>Assignment No : Auto system created</td>
                <td>Course Title: {{ $course->title }}</td>
                <td>Enrolment date: </td>
            </tr>
        </table>
    </div>
</body>
</html>