<div class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title">Users</h3>
        <div class="pull-right box-tools">
            <a style="cursor: pointer;" class="btn btn-primary btn-sm" ui-sref="app.admin.user_create">Create New User</a>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Type</th>
                    <th style="min-width: 100px"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in $ctrl.users">
                    <td ng-bind="user.id"></td>
                    <td ng-bind="user.name"></td>
                    <td ng-bind="user.email"></td>
                    <td ng-bind="user.type"></td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">Action</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a style="cursor: pointer;" ui-sref="app.admin.user_edit({user_id: user.id})">Edit User</a>
                                </li>
                                <li>
                                    <a style="cursor: pointer;" ng-click="$ctrl.delete(user.id, user)">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>