<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-widget">
                <div class="box-header">
                    <div class="col-md-6">
                        <h3 class="box-title">Student List (Payments)</h3>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-6">
                            <order-filter-process ng-model="$ctrl.filter.process" class="process" />
                        </div>
                        <div class="col-md-6">
                            <div class="input-group input-group-sm">
                                <order-filter-payment-method ng-model="$ctrl.filter.payment_method" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="$ctrl.filterGuestPayment()">
                                        <i class="fa fa-filter"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>DOB</th>
                                <th>Country</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Course applied</th>
                                <th>School Fee</th>
                                <th>Payment Method</th>
                                <th>Process</th>
                                <th>Note</th>
                            </tr>
                            <tr ng-repeat="item in $ctrl.listInfoPayment">
                                <td ng-bind="item.id"></td>
                                <td>
                                    <a style="cursor: pointer;" ng-click="$ctrl.detailsPayment(item.code)">{{item.code}}</a>
                                </td>
                                <td style="width:100px;" ng-bind="(item.surname_name)+' '+(item.name)"></td>
                                <td ng-bind="item.birthday"></td>
                                <td ng-bind="item.country"></td>
                                <td ng-bind="item.phone"></td>
                                <td ng-bind="item.email"></td>
                                <td ng-bind="item.course"></td>
                                <td ng-bind="item.price"></td>
                                <td ng-bind="(item.payment_method | paymentMethod) + (item.desc)"></td>
                                <td ng-bind-html="item.process | filterProcess"></td>
                                <td ng-bind="item.note"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>