<div id="module-form" class="box box-widget">
    <div class="box-header with-border"><h3 class="box-title">Module Form</h3></div>
    <div class="box-body">
        <div class="col-md-6">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" ng-model="$ctrl.module.title" class="form-control"/>
                <label for="">Time Start</label>
                <vl-date ng-model="$ctrl.module.time_start"/>
                <label for="">Time End</label>
                <vl-date ng-model="$ctrl.module.time_end"/>
                <label for="content">Overview and Introduction Module </label>
                <summernote height="500" ng-model="$ctrl.module.content"></summernote>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Lecture Documentary</h2>
            <table class="table table-bordered">
                <tbody>
                <tr ng-repeat="meta in $ctrl.metadata.document track by $index">
                    <td>
                        <div class="form-group">
                            <label for="title">Name</label>
                            <input type="text" ng-model="meta.name" class="form-control" />
                        </div>
                    </td>
                    <td>
                        <div ng-if="meta.type=='refer'">
                            <div class="form-group">
                                <label for="title">Link</label>
                                <select class="form-control" ng-options="module.id as module.title for module in ::$ctrl.modules" ng-model="meta.module_id"></select>
                                <input type="text" class="hide" ng-model="meta.course_id" ng-value="$ctrl.course_id" class="form-control" />
                            </div>
                        </div>
                        <vl-upload-file ng-if="meta.type=='upload'" ng-model="meta.path" url="/api/teacher/filemanager/upload-storage"></vl-upload-file>
                    </td>
                    <td>
                        <a style="cursor: pointer;" class="text text-danger" ng-click="$ctrl.metadata.document.splice($index, 1)">Remove</a>
                    </td>
                </tr>
                </tbody>
                <tfooter>
                    <tr>
                        <td colspan="2">
                            <button type="button" ng-click="$ctrl.metadata.document.push({name: '', type: 'refer', course_id: $ctrl.course_id, module_id: 0})">Add Refer Lessons</button>
                            <button type="button" ng-click="$ctrl.metadata.document.push({name: '', type: 'upload', item: '#'})">Add File Upload</button>
                        </td>
                    </tr>
                </tfooter>
            </table>
        </div>
    </div>
    <div class="box-footer with-border">
        <div class="row">
            <div class="col-md-6">
                <button type="button" ng-show="$ctrl.module.id" class="button-submit btn btn-primary" ng-click="$ctrl.save()" data-loading-text="processing...">Update</button>
                <button type="button" ng-hide="$ctrl.module.id" ng-click="$ctrl.save()" class="button-submit btn btn-primary" data-loading-text="processing...">Create</button>
            </div>
        </div>
    </div>
</div>
