<div class="row">
    <!-- <div class="col-md-4">
        <admin-users />
    </div> -->
    <div class="col-md-12">
        <!-- <admin-courses /> -->
        <!-- <admin-checkouts /> -->
        <admin-payments-list on-click="$ctrl.detailsPayment($event)"/>

    </div>
</div>
