<div class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title">
            User Form
        </h3>
    </div>
    <div class="box-body">
        <div class="col-md-6">
            <div class="form-group" ng-if="$ctrl.user.id" >
                <label for="">ID</label>
                <input type="text" ng-model="$ctrl.user.id" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" ng-model="$ctrl.user.name" class="form-control" />
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" ng-model="$ctrl.user.email" class="form-control" />
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" ng-model="$ctrl.user.password" class="form-control" />
            </div>
            <div class="form-group">
                <label for="">Password Confirm</label>
                <input type="password" ng-model="$ctrl.user.password_confirmation" class="form-control" />
            </div>
            <div class="form-group">
                <label>Type</label>
                <select class="form-control" ng-options="type as type for type in ::$ctrl.types" ng-model="$ctrl.user.type"></select>
            </div>
            <div class="form-group">
                <button type="button" data-loading-text="Processing..." ng-show="$ctrl.user.id" class="btn btn-primary" ng-click="$ctrl.save()">Update</button>
                <button type="button" data-loading-text="Processing..." ng-hide="$ctrl.user.id" ng-click="$ctrl.save()" class="btn btn-primary">Create</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" ng-hide="$ctrl.user.type != 'learner'">
                <h2>Assign Courses</h2>
                <table class="table table-bordered">
                    <tbody>
                    <tr ng-repeat="user_course in $ctrl.user.course track by $index">
                        <td>
                            <div>
                                <div class="form-group">
                                    <label for="title">Courses</label>
                                    <select class="form-control" ng-options="course.id as course.title for course in ::$ctrl.courses" ng-model="user_course.id"></select>
                                    <input type="text" class="hide" ng-model="user_course.id" ng-value="$ctrl.user.course" class="form-control" />
                                </div>
                            </div>
                        </td>
                        <td>
                            <a style="cursor: pointer;" class="text text-danger" ng-click="$ctrl.user.course.splice($index, 1)">Remove</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfooter>
                        <tr>
                            <td colspan="2">
                                <button type="button" ng-click="$ctrl.user.course.push({id: 0})">Add Course</button>
                            </td>
                        </tr>
                    </tfooter>
                </table>
            </div>
        </div>
    </div>
</div>