<div class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title">
            Counrse Form
        </h3>
    </div>
    <div class="box-body">
        <div class="form-group">
            <label for="">Course Name</label>
            <input type="text" ng-model="$ctrl.course.title" class="form-control" />
        </div>
        <div class="form-group">
            <label for="">Price</label>
            <input type="text" ng-model="$ctrl.course.price" class="form-control" />
        </div>
        <div class="form-group">
            <label for="">Content</label>
            <summernote height="500" ng-model="$ctrl.course.content"></summernote>
        </div>
        <div class="form-group">
            <label>Teacher</label>
            <select class="form-control" ng-model="$ctrl.course.teacher_id">
                <option value="0">Setect teacher</option>
                <option
                        ng-repeat="teacher in $ctrl.teachers"
                        ng-selected="$ctrl.course.teacher_id"
                        value="{{teacher.id}}"
                >
                    {{teacher.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <button type="button" data-loading-text="Processing..." ng-show="$ctrl.course.id" class="btn btn-primary" ng-click="$ctrl.save()">Update</button>
            <button type="button" data-loading-text="Processing..." ng-hide="$ctrl.course.id" ng-click="$ctrl.save()" class="btn btn-primary">Create</button>
        </div>
    </div>
</div>