<div id="module-dashboard" class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active" id="li-module-list"><a style="cursor: pointer;" onclick="$('#module-dashboard div.tab-pane,#module-dashboard ul.nav>li').removeClass('active');$('#module-list,#li-module-list').addClass('active');">Module List</a></li>
        <li id="li-course-information"><a style="cursor: pointer;" onclick="$('#module-dashboard div.tab-pane,#module-dashboard ul.nav>li').removeClass('active');$('#course-information,#li-course-information').addClass('active');">Course Overview</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="module-list">
            <p>
                <a style="cursor: pointer;" class="btn btn-sm btn-social btn-success" ui-sref="app.admin.module_create({course_id: $resolve.course.id})"><i class="fa fa-plus"></i> Create New Module</a>
            </p>
            <admin-module-list course="::$resolve.course" />
        </div>
        <div class="tab-pane" id="course-information">
            <view-summernote height="800" ng-model="::$resolve.course.content"/>
        </div>
    </div>
</div>
