<div class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title">Courses</h3>
        <div class="pull-right box-tools">
            <a style="cursor: pointer;" class="btn btn-primary btn-sm" ui-sref="app.admin.course_create">Create New Course</a>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Course Name</th>
                <th>Price</th>
                <th style="min-width: 100px"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="course in $ctrl.courses">
                <td ng-bind="course.title"></td>
                <td ng-bind="course.price"></td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">Action</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a style="cursor: pointer;" ui-sref="app.admin.course_edit({course_id: course.id})">Edit Course</a></li>
                            <li><a style="cursor: pointer;" ui-sref="app.admin.course_view({course_id: course.id})">View Course</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>