<div class="row">
    <div class="col-md-4">
        <div class="box box-widget widget-user">
            <div class="widget-user-header bg-aqua-active">
                <h3 class="widget-user-username">Price: <label style="color: red; ">{{ ::$ctrl.checkout.price | currency }}</label></h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="">Course Name</label>
                    <input type="text" ng-model="$ctrl.checkout.course.title" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label for="">User Name</label>
                    <input type="text" ng-model="$ctrl.checkout.user.name" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label for="">Checkout Type</label>
                    <input type="text" ng-model="$ctrl.checkout.checkout_type" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <span ng-if="$ctrl.checkout.is_pay" class="label label-primary">Is Paid</span>
                    <span  ng-if="!$ctrl.checkout.is_pay" class="label label-danger">Not Pay</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="box box-widget">
            <div class="box-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active" id="li-tab-order-info"><a style="cursor: pointer;" onclick="$('#tab-paypal-info').tab('show');$('div.tab-pane').removeClass('active');$('#tab-paypal-info').addClass('active');" data-toggle="tab">Paypal Info</a></li>
                        <li id="li-tab-order-payment"><a style="cursor: pointer;" onclick="$('#tab-description').tab('show');$('div.tab-pane').removeClass('active');$('#tab-description').addClass('active');" data-toggle="tab">Description</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-paypal-info">
                            <div class="form-group">
                                <label for="">Payment ID</label>
                                <input type="text" ng-model="$ctrl.checkout.payment_id" class="form-control" disabled>
                            </div>
                            <div class="form-group">
                                <label for="">Payment Type</label>
                                <input type="text" ng-model="$ctrl.checkout.payment_type" class="form-control" disabled>
                            </div>
                            <div class="form-group">
                                <label for="">Payment Token</label>
                                <input type="text" ng-model="$ctrl.checkout.payment_token" class="form-control" disabled>
                            </div>
                            <div class="form-group">
                                <label for="">Price Token</label>
                                <input type="text" ng-model="$ctrl.checkout.price_token" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-description">
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea ng-model="$ctrl.checkout.payment_type" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
