<div class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title">Checkouts</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-xs-2">
                <input type="text" class="form-control" ng-model="$ctrl.search.s.payment_id" placeholder="Payment ID">
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" ng-model="$ctrl.search.s.payper_id" placeholder="Paper ID">
            </div>
            <div class="col-xs-3">
                <select class="form-control" ng-options="course.id as course.title for course in ::$ctrl.courses" ng-model="$ctrl.search.s.post_id"></select>
            </div>
            <div class="col-xs-3">
                <select class="form-control" ng-options="learner.id as learner.name for learner in ::$ctrl.learners" ng-model="$ctrl.search.s.user_id"></select>
            </div>
            <div class="col-xs-2">
                <button type="button" ng-click="$ctrl.searchCheckout()" class="btn btn-block btn-primary">Search</button>
            </div>
        </div>
        <br>
        <br>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Learner</th>
                <th>Course</th>
                <th>Payment Id</th>
                <th>Payper Id</th>
                <th>Checkout Type</th>
                <th>Price</th>
                <th>Is Pay</th>
                <th style="min-width: 100px"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="checkout in $ctrl.checkouts">
                <td ng-bind="checkout.id"></td>
                <td ng-bind="checkout.user.name"></td>
                <td ng-bind="checkout.course.title"></td>
                <td ng-bind="checkout.payment_id"></td>
                <td ng-bind="checkout.payper_id"></td>
                <td ng-bind="checkout.checkout_type"></td>
                <td ng-bind="checkout.price | currency"></td>
                <td>
                    <span ng-if="checkout.is_pay" class="label label-primary">Is Paid</span>
                    <span  ng-if="!checkout.is_pay" class="label label-danger">Not Pay</span>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default"><i class=""></i></button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a style="cursor: pointer;" ui-sref="app.admin.checkout_view({checkout_id: checkout.id})">View Checkout</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <div vl-pagination on-click="$ctrl.paginate" ng-bind-html="$ctrl.links"></div>
    </div>
</div>