<div class="user-panel">
    <div class="pull-left image">
        <img src="/components/AdminLTE/dist/img/avatar5.png" class="img-circle" alt="Hi {{ ::$ctrl.user.name }}">
    </div>
    <div class="pull-left info">
        <p ng-bind="::$ctrl.user.name"></p>
        <a style="cursor: pointer"><i class="fa fa-circle text-success"></i> Profile</a>
        <a style="cursor: pointer" ui-sref="logout"><i class="fa fa-circle text-danger"></i> Logout</a>
    </div>
</div>
<div id="sidebar-menu">
    <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a style="cursor: pointer" ui-sref="app.admin_dashboard">
                <i class="fa fa-dashboard"></i> <span>Home</span>
            </a>
        </li>
        <li>
            <a style="cursor: pointer" ui-sref="app.admin.courses">
                <i class="fa fa-dashboard"></i> <span>Courses</span>
            </a>
            <ul class="treeview-menu">
                <li><a ui-sref="app.admin.courses"><i class="fa fa-circle-o"></i> Courses</a></li>
                <li><a ui-sref="app.admin.course_create"><i class="fa fa-circle-o"></i> Create</a></li>
            </ul>
        </li>
        <li>
            <a style="cursor: pointer" ui-sref="app.admin.checkouts">
                <i class="fa fa-dashboard"></i> <span>Checkouts</span>
            </a>
            <ul class="treeview-menu">
                <li><a ui-sref="app.admin.checkouts"><i class="fa fa-circle-o"></i> Checkouts</a></li>
            </ul>
        </li>
        <li>
            <a style="cursor: pointer" ui-sref="app.admin.users">
                <i class="fa fa-dashboard"></i> <span>Users</span>
            </a>
            <ul class="treeview-menu">
                <li><a ui-sref="app.admin.users"><i class="fa fa-circle-o"></i> Users</a></li>
                <li><a ui-sref="app.admin.user_create"><i class="fa fa-circle-o"></i> Create</a></li>
            </ul>
        </li>
    </ul>
</div>