<admin-nav />
<div class="content-wrapper" style="margin-left:0">
    <section class="content-header"><h1 id="page-title">Your are in : <span></span></h1></section>
    <section class="content" style="min-height: 700px;">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ui-view></ui-view>
            </div>
        </div>
    </section>
</div>
