<div class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title">All Courses</h3>
        <button class="btn btn-primary pull-right" ng-click="$ctrl.add()"><i class="fa fa-plus"></i><button/>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <tbody ng-repeat="course in $ctrl.courses">
                <tr style="background-color: #f9f9f9;" ng-init="course.show_modules = false">
                    <th colspan="2" style="border-top: 1px solid #f4f4f4;">
                        <div>
                            <p style="font-size: 20px">
                              <a ng-click="$ctrl.edit(course)"><strong ng-bind="course.title"></strong></a>
                              <a style="color: red; padding-left: 10px"
                                  ng-click="$ctrl.deleteCourse(course)"
                                  ng-confirm-click="Are you SURE you want to remove {{ course.title }}?">
                                  <i class="fa fa-trash-o"></i>
                              </a>
                            </p>
                            <p style="font-size: 20px">
                              <a>
                                <i class="fa fa-arrow-circle-down" ng-click="course.show_modules = course.show_modules ? false : true"></i>
                              </a>
                            </p>
                        </div>
                    </th>
                </tr>
                <tr ng-if="course.show_modules">
                    <td>
                      <admin-ek-modules-by-course modules="course.modules" course-id="course.id"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
