<div class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title" ng-if="!$ctrl.lesson.id">Create Lesson</h3>
        <h3 class="box-title" ng-if="$ctrl.lesson.id">Edit Lesson <strong ng-bind="$ctrl.course.title"></strong></h3>
    </div>
    <div class="box-body">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" ng-model="$ctrl.lesson.title">
        </div>
        <div class="form-group">
            <label>Description</label>
            <ng-ckeditor
                   ng-model="$ctrl.lesson.description"
                   skin="moono"
                   remove-buttons="Image" remove-plugins="iframe,flash,smiley"
                   >
            </ng-ckeditor>
        </div>
    </div>
    <div class="box-footer">
        <button type="button" ng-if="!$ctrl.lesson.id" class="btn btn-primary" ng-click="$ctrl.submit($event)">Add</button>
        <button type="button" ng-if="$ctrl.lesson.id" class="btn btn-primary" ng-click="$ctrl.submit($event)">Update</button>
    </div>
</div>
