<style>
    .content-e-knowledge {
      float: left;
      width: 100%;
      clear: both;
    }
    .content-e-knowledge .page-title h1,
    .content-e-knowledge .page-title h2,
    .content-e-knowledge h2,
    .content-e-knowledge h3,
    .content-e-knowledge h4,
    .content-e-knowledge h5 {
        color: #0f76bb;
        font-family: 'HelveticaBold',arial;
        font-weight: normal;
    }
    .content-e-knowledge .section_title {
        padding: 10px;
        background-image: url('http://learn.awards-uk.com/skin/frontend/default/blanco/images/bg_lesson_section_.png');
        letter-spacing: -2px;
        font-size: 25px;
        line-height: 20px;
        color: #ffffff;
    }
    .content-e-knowledge li {
        padding-left: 10px;
        margin: 0px;
    }
    .content-e-knowledge ul,.content-e-knowledge ol {
        padding-left: 20px;
    }
</style>
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title" ng-bind="$ctrl.module.title" style="font-weight: bold"></h3>
            <button ng-click="$ctrl.updateModule();" class="btn btn-primary pull-right">Update</button>
        </div>
        <div class="box-body" style="padding: 0 40px 10px 40px">
          <div class="content-e-knowledge">
            <label>Learning Outcomes</label>
            <ng-ckeditor
                   ng-model="$ctrl.module.learning_outcomes"
                   skin="moono"
                   remove-buttons="Image" remove-plugins="iframe,flash,smiley"
                   >
            </ng-ckeditor>
            <label>Introduction</label>
            <ng-ckeditor
                   ng-model="$ctrl.module.introduction"
                   skin="moono"
                   remove-buttons="Image" remove-plugins="iframe,flash,smiley"
                   >
            </ng-ckeditor>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Lessons</h3>
                <button class="btn btn-primary pull-right" ng-click="$ctrl.addLesson();"><i class="fa fa-plus"></i></button>
            </div>
            <div class="box-body">
              <table class="table table-bordered">
                  <tbody ng-repeat="lesson in $ctrl.lessons track by $index + 1">
                      <tr ng-if="lesson.id == $ctrl.lesson.id" style="background-color: gainsboro">
                          <td>{{ $index + 1 }}</td>
                          <td ng-bind="lesson.title"></td>
                          <td>
                              <button class="btn btn-primary" ng-click="$ctrl.editLesson(lesson)"><i class="fa fa-edit"></i></button>
                              <button class="btn btn-danger"
                              ng-confirm-click="Are you SURE you want to remove {{ lesson.title }}?"
                              ng-click="$ctrl.deleteLesson(lesson)"><i class="fa fa-trash"></i></button>
                          </td>
                      </tr>
                      <tr ng-if="lesson.id != $ctrl.lesson.id" ng-click="$ctrl.chooseLesson(lesson)">
                          <td>{{ $index + 1 }}</td>
                          <td ng-bind="lesson.title"></td>
                          <td style="width: 100px">
                              <button class="btn btn-primary" ng-click="$ctrl.editLesson(lesson)"><i class="fa fa-edit"></i></button>
                              <button class="btn btn-danger"
                              ng-confirm-click="Are you SURE you want to remove {{ lesson.title }}?"
                              ng-click="$ctrl.deleteLesson(lesson)"><i class="fa fa-trash"></i></button>
                          </td>
                      </tr>
                  </tbody>
              </table>
            </div>
        </div>
   </div>
   <div class="col-md-8">
       <div class="box box-primary">
           <div class="box-header with-border">
               <button class="btn btn-primary" ng-click="$ctrl.addSection();"><i class="fa fa-plus"></i></button>
               <button type="button" ng-if="$ctrl.lesson_section_next_page_url" ng-click="$ctrl.nextPage()" class="btn btn-default pull-right">Next</button>
               <button type="button" ng-if="$ctrl.lesson_section_prev_page_url" ng-click="$ctrl.prevPage()" class="btn btn-default pull-right">Prev</button>
           </div>
           <div class="box-body">
               <div ng-repeat="lesson_section in $ctrl.lesson_sections">
                     <div class="box-footer">
                         <button class="btn btn-primary pull-right" ng-click="$ctrl.editSection(lesson_section)"><i class="fa fa-edit"></i></button>
                     </div>
                     <hr>
                     <div class="content-e-knowledge" ng-bind-html="lesson_section.content | unsafe"></div>
               </div>
           </div>
       </div>
  </div>
</div>
<div class="modal fade" id="admin-module-lesson-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" ng-init="$ctrl.lesson.module_id = $ctrl.module.id">
            <admin-ek-lesson-modal lesson="$ctrl.lesson" on-submit="$ctrl.reloadLessons($event)"/>
        </div>
    </div>
</div>
<div class="modal fade" id="admin-module-lesson-section-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" ng-init="$ctrl.section.lesson_id = $ctrl.lesson.id">
            <admin-ek-lesson-section-modal section="$ctrl.section" on-submit="$ctrl.reloadLesson($event)"/>
        </div>
    </div>
</div>
