<label>Modules</label>
<button style="margin-left: 10px" ng-click="$ctrl.addNewLineModuleByCourse();" class="btn btn-primary"><i class="fa fa-plus"></i></button>
<table class="table table-bordered">
    <tbody ng-repeat="module in $ctrl.modules">
        <tr>
            <td>
                <input class="form-control" ng-model="module.code" placeholder="Code"/>
            </td>
            <td>
                <input class="form-control" ng-model="module.title" placeholder="Title"/>
            </td>
            <td>
                <ng-ckeditor
                       ng-model="module.description"
                       skin="moono"
                       remove-buttons="Image"
                       >
                </ng-ckeditor>
            </td>
            <td>
                <a style="font-size: 30px" ng-click="$ctrl.viewDetail(module)"><i class="fa fa-edit"></i></a>
                <a style="font-size: 30px; color:green" ng-if="module.id" ng-click="$ctrl.editModuleByCourse(module)"><i class="fa fa-save"></i></a>
                <a style="font-size: 30px; color:green" ng-if="!module.id" ng-click="$ctrl.addModuleByCourse(module)"><i class="fa fa-save"></i></a>
                <a ng-confirm-click="Are you SURE you want to remove {{ module.title }}?"
                    style="font-size: 30px;color:red"
                    ng-click="$ctrl.deleteModuleByCourse(module)"
                ><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
    </tbody>
</table>
