<section class="content">
    <div class="col-md-6 col-md-offset-3">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title" ng-bind="'Code: '+$ctrl.dataDetails.code"></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- <div class="form-group col-xs-12">
                    <label>Select Disabled</label>
                    <select class="form-control" disabled="">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                    </select>
                </div> -->
                <div class="form-group col-xs-12">
                    <label>Course applied</label>
                    <input type="text" class="form-control" disabled="" ng-value="$ctrl.dataDetails.course" ng-model="$ctrl.dataDetails.course">
                </div>
                <div class="form-group col-xs-6">
                    <label>Surname Name</label>
                    <input type="text" class="form-control" disabled="" ng-value="$ctrl.dataDetails.surname_name" ng-model="$ctrl.dataDetails.surname_name">
                </div>
                <div class="form-group col-xs-6">
                    <label>Name</label>
                    <input type="text" class="form-control" disabled="" ng-value="$ctrl.dataDetails.name" ng-model="$ctrl.dataDetails.name">
                </div>
                <div class="form-group col-xs-6">
                    <label>DOB</label>
                    <input type="text" class="form-control" disabled="" ng-value="$ctrl.dataDetails.birthday" ng-model="$ctrl.dataDetails.birthday">
                </div>
                <div class="form-group col-xs-6">
                    <label>Phone</label>
                    <input type="text" class="form-control" disabled="" ng-value="$ctrl.dataDetails.phone" ng-model="$ctrl.dataDetails.phone">
                </div>
                <div class="form-group col-xs-12">
                    <label>Mail</label>
                    <input type="text" class="form-control" disabled="" ng-value="$ctrl.dataDetails.email" ng-model="$ctrl.dataDetails.email">
                </div>
                <div class="form-group col-xs-12">
                    <label>Address</label>
                    <input type="text" class="form-control" disabled="" ng-value="$ctrl.dataDetails.address" ng-model="$ctrl.dataDetails.address">
                </div>
                <div class="form-group col-xs-6">
                    <label>Country</label>
                    <input type="text" class="form-control" disabled="" ng-value="$ctrl.dataDetails.country" ng-model="$ctrl.dataDetails.country">
                </div>
                <div class="form-group col-xs-6">
                    <label>Nationality Of</label>
                    <input type="text" class="form-control" disabled="" ng-value="$ctrl.dataDetails.nationality_of" ng-model="$ctrl.dataDetails.nationality_of">
                </div>
                <div class="form-group col-xs-6">
                    <label>Gender</label>
                    <input type="text" class="form-control" disabled="" ng-value="$ctrl.dataDetails.gender" ng-model="$ctrl.dataDetails.gender">
                </div>
                <div class="form-group col-xs-6">
                    <label>Highest Education Level</label>
                    <input type="text" class="form-control" disabled="" ng-value="$ctrl.dataDetails.highest_education_level" ng-model="$ctrl.dataDetails.highest_education_level">
                </div>
                <div class="form-group col-xs-12">
                    <label>School Fee</label>
                    <input type="text" class="form-control" disabled="" ng-value="$ctrl.dataDetails.price" ng-model="$ctrl.dataDetails.price">
                </div>
                <div class="form-group col-xs-12">
                    <label>Payment Link</label>
                    <input type="text" class="form-control" disabled="" ng-value="$ctrl.dataDetails.link">
                </div>
                <div class="form-group col-xs-12">
                    <label>Note</label>
                    <input type="text" class="form-control" disabled="" ng-model="$ctrl.dataDetails.note">
                </div>
                <div class="col-xs-12">
                    <button type="button" id="edit_btn" class="btn btn-info" ng-click="$ctrl.editInfo()">Edit</button>
                    <button type="button" id="save_btn" class="btn btn-success" ng-click="$ctrl.saveInfo()" data-loading-text="loading...">Save</button>
                    <button type="button" class="btn btn-success"  data-loading-text="loading...">
                        <a class="downloadImageFix" href="api/filemanager/download-no-auth?path={{ $ctrl.dataDetails.path_studen_photo }}" title="Download" target="_blank">Download Photo</a>
                    </button>
                    <button type="button" class="btn btn-success"  data-loading-text="loading...">
                            <a class="downloadImageFix" href="api/filemanager/download-no-auth?path={{ $ctrl.dataDetails.path_transcript }}" title="Download" target="_blank">Download Transcript</a>
                        </button>
                   
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="button" id="confirm_btn" class="btn btn-success" data-loading-text="Confirm..." ng-click="$ctrl.confirm()">Complete</button>
                <button type="button" id="sent_btn" class="btn btn-success pull-right" data-loading-text="Sending..." ng-click="$ctrl.sentMail()">Send link</button>
              </div>
        </div>
    </div>
</section>
