<div class="ArticleCopy language-">
    <p class="wp-special">This article is a part of our AtoZ CSS Series. You can find other entries to the series <a href="https://www.sitepoint.com/tag/atoz-css/">here</a>.<br>
        View the full screencast and transcript on Keyframe Animations <a href="https://www.sitepoint.com/atoz-css-screencast-keyframe">here</a>.</p>
    <p>Welcome to our AtoZ CSS series! In this series, I’ll be exploring different CSS values (and properties) each beginning with a different letter of the alphabet. We know that sometimes screencasts are just not enough, in this article I’ve added a new quick tip/lesson about keyframe animations for you.</p>
    <p><img src="https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2016/09/1473747837k1b-01-1024x576.png" alt="k1b-01" width="1024" height="576" class="alignnone size-large wp-image-139310"></p>
    <h2>K is for <code class=" language-undefined">@keyframes</code></h2>
    <p>In this week’s tip, we look at ways to handle vendor prefixes and a quick tip for refactoring your <code class=" language-undefined">@keyframes</code> into a more condensed format.</p>
    <p>We talked a lot about <code class=" language-undefined">@keyframes</code> in the <a href="https://www.sitepoint.com/atoz-css-screencast-keyframe">video</a> about the letter K. Here are some extra tips that you might find useful when working with CSS animations (and any current or future experimental properties).</p>
    <h3>Tip 1</h3>
    <p>When setting up your keyframes for an animation, it’s quite common for certain points of the animation to share the same values for particular properties. Instead of having a long list of keyframes, you can combine them into a comma separated list, just like you would with selectors that share the same properties and values.</p>
<pre class=" language-css"><code class=" language-css"><span class="token atrule"><span class="token rule">@keyframes</span> pulse</span> <span class="token punctuation">{</span>
    <span class="token selector">0%, 50% </span><span class="token punctuation">{</span><span class="token property">font-size</span><span class="token punctuation">:</span> <span class="token number">10</span>px<span class="token punctuation">;</span><span class="token punctuation">}</span>
    <span class="token selector">25%, 100% </span><span class="token punctuation">{</span><span class="token property">font-size</span><span class="token punctuation">:</span> <span class="token number">20</span>px<span class="token punctuation">;</span><span class="token punctuation">}</span>
    <span class="token punctuation">}</span>

    <span class="token comment" spellcheck="true">/* just like */</span>
    <span class="token selector">h1, h2, h3 </span><span class="token punctuation">{</span>
    <span class="token property">font-family</span><span class="token punctuation">:</span> <span class="token string">'Avenir'</span>, sans-serif<span class="token punctuation">;</span>
    <span class="token punctuation">}</span></code></pre>
    <h3>Tip 2</h3>
    <p>Support for CSS animations is very good — at the time of writing the <a href="http://www.caniuse.com/animation">global support is 89.5%</a> and all supporting browsers have both <code class=" language-undefined">@keyframes</code> and <code class=" language-undefined">animation</code> unprefixed. </p>
    <div class="ArticleBox u-inline"><h3 class="ArticleBox_header t-bg">
        <span class="ArticleBox_icon fa fa-pencil"></span> More from this author
    </h3><div class="m-border ArticleBox_content"><ul class="ArticleBox_list"><li class="ArticleBox_listItem"><a class="f-c-grey-500 l-b-n" href="https://www.sitepoint.com/atoz-css-screencast-keyframe/?utm_source=sitepoint&amp;utm_medium=relatedinline&amp;utm_term=&amp;utm_campaign=relatedauthor">AtoZ CSS Screencast: Keyframe Animations</a></li><li class="ArticleBox_listItem"><a class="f-c-grey-500 l-b-n" href="https://www.sitepoint.com/atoz-css-quick-tip-justify-text/?utm_source=sitepoint&amp;utm_medium=relatedinline&amp;utm_term=&amp;utm_campaign=relatedauthor">AtoZ CSS Quick Tip: Justifying Text and Using Flexbox</a></li></ul></div></div>
    <p>However, to ensure backwards compatibility with Safari 8 and iOS 8.4 and below, you’ll need <code class=" language-undefined">-webkit</code> vendor prefixes to ensure your animations actually play. Adding these manually can make your code bloated and hard to maintain as every tiny change will need to be replicated in multiple places. This can be prone to human error which is never a good thing.</p>
    <p>There are two ways that you can keep your code nice and clean, and also avoid the manual task of duplication.</p>
    <p>You could use the <a href="http://leaverou.github.io/prefixfree/">-prefix-free JavaScript library</a> by <a href="http://www.twitter.com/leaverou">Lea Verou</a>. This takes care of all the prefixing for you, so you just write the unprefixed code, and the script runs in the browser and injects all the necessary prefixes for you based on support for features in the browser currently being used.</p>
    <p>Another option is to use <a href="https://github.com/postcss/autoprefixer">Autoprefixer</a>. This is a CSS post-processer that you run after you’ve finished writing your unprefixed code – usually as part of an automated task runner like <a href="http://www.gruntjs.com">Grunt</a> or <a href="http://www.gulpjs.com">Gulp</a>. Autoprefixer uses info from <a href="http://caniuse.com">Caniuse</a> to determine what prefixes are required.</p>
    <p>I personally use Autoprefixer with a Gulp task and haven’t written a vendor prefix for months. It’s a great tip to speed up your workflow and works for all CSS properties, not just <code class=" language-undefined">@keyframes</code>!</p>
</div>