<div id="vlNewsEventsAnnouncements-news" class="box box-primary">
    <div class="box-header"><h3 class="box-title">News</h3></div>
    <div class="box-body no-padding">
        <table class="table table-striped">
            <tbody>
            <tr ng-repeat="new in ::$ctrl.news">
                <td>
                    <a ng-click="$ctrl.click(new.id)" style="cursor: pointer">
                        <span ng-bind="new.title"></span>
                        <span class="text text-info"> ({{ new.created_at|formatDate }})</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="vlNewsEventsAnnouncements-events" class="box box-success">
    <div class="box-header"><h3 class="box-title">Events</h3></div>
    <div class="box-body no-padding">
        <table class="table table-striped">
            <tbody>
            <tr ng-repeat="event in ::$ctrl.events">
                <td>
                    <a ng-click="$ctrl.click(event.id)" style="cursor: pointer">
                        <span ng-bind="event.title"></span>
                        <span class="text text-info"> ({{ event.created_at|formatDate }})</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="vlNewsEventsAnnouncements-announcements" class="box box-warning">
    <div class="box-header"><h3 class="box-title">Announcements</h3></div>
    <div class="box-body no-padding">
        <table class="table table-striped">
            <tbody>
            <tr ng-repeat="announcement in ::$ctrl.announcements">
                <td>
                    <a ng-click="$ctrl.click(announcement.id)" style="cursor: pointer">
                        <span ng-bind="announcement.title"></span>
                        <span class="text text-info"> ({{ announcement.created_at|formatDate }})</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
