/* 
	Project name
	Author: Thong Pham
	Version: 0.0.1
*/
/* BASE - Base styles, variable, mixins, etc */
#mm-blocker {
  background-color: rgba(0, 0, 0, 0.35) !important;
}
@media (max-width: 767px) {
  .zopim {
    display: none !important;
  }
}

a.badge.badgeFix2 {
  margin-right: 20px;
}

.content-wrapper.asideFix.ng-scope {
  margin-left: 0px;
}
.content {
  overflow: hidden;
}

.padding-bottom-70 {
  margin-bottom: 70px;
}

.clear-fix {
  clear: both;
}

.padding {
  padding: 15px;
}

.margin {
  margin: 15px;
}

.w-100 {
  width: 100%;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.bg-fixed {
  background-attachment: fixed;
}

.no-radius {
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-background-clip: padding-box;
  -moz-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
}

.text-bold {
  font-weight: bold;
}

.break-word {
  word-break: break-word;
}

@-webkit-keyframes icon-zoom {
  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@keyframes icon-zoom {
  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
}

/*!
 * Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.2.1
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Hover.css Copyright Ian Lunn 2017. Generated with Sass.
 */
/* 2D TRANSITIONS */
/* BACKGROUND TRANSITIONS */
/* BORDER TRANSITIONS */
/* SHADOW/GLOW TRANSITIONS */
/* SPEECH BUBBLES */
/* ICONS */
/* CURLS */
/* MODULES - Individual site components */
#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  color: #444;
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none;
  border: solid 1px #ccc;
  background-color: #fff;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

#back-to-top:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

#back-to-top:hover {
  background: #e9ebec;
}

.btn-round {
  outline: none !important;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 30px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-clip: padding-box;
}

.manager-task {
  clear: both;
  padding-right: 70px;
  padding-left: 20px;
}

.manager-task .table > thead > tr > th,
.manager-task .table > tbody > tr > th,
.manager-task .table > tfoot > tr > th,
.manager-task .table > thead > tr > td,
.manager-task .table > tbody > tr > td,
.manager-task .table > tfoot > tr > td {
  border-top: 0;
}

.manager-task .table > tbody > tr > td,
.manager-task .table > tbody > tr > th,
.manager-task .table > tfoot > tr > td,
.manager-task .table > tfoot > tr > th,
.manager-task .table > thead > tr > td,
.manager-task .table > thead > tr > th {
  padding-bottom: 10px;
  padding-top: 10px;
}

.manager-task .table > thead > tr > th {
  border-bottom: 0;
}

.manager-task .table {
  font-size: 18px;
}

.manager-task .table tr.complated {
  color: #7d7d7d;
}

.manager-task .table tr.working {
  color: #21a010;
}

.manager-task .table tr.not-seen {
  color: #99114a;
}

.manager-task .table td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.manager-task .table td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.manager-task .task-name {
  display: table;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: #ececec;
  font-size: 20px;
  color: #ffffff;
  margin: auto;
  margin-top: 15px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-background-clip: padding-box;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
}

.manager-task .task-name span {
  padding: 0 10px;
  display: table-cell;
  vertical-align: middle;
}

.manager-task .task-name.task-info {
  background-color: #46b3c3;
}

.manager-task .task-name.task-primary {
  background-color: #466cc3;
}

.manager-task .task-name.task-danger {
  background-color: #c34687;
}

.manager-task .sty-tbl-task {
  box-shadow: 0px 0px 25px #e0e0e0;
  border-radius: 15px;
  padding: 28px 60px 20px 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  max-height: 400px;
  overflow-y: scroll;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.manager-task .sty-tbl-task:hover {
  background-color: #fff;
}

.manager-task .sty-tbl-task:active, .manager-task .sty-tbl-task:focus {
  background-color: #ccc;
}

.toolbar-search-mobile {
  background-color: #8393ca;
  padding: 15px 8px;
}

.toolbar-search-mobile form .form-group {
  position: relative;
}

.toolbar-search-mobile form .form-group ::-webkit-input-placeholder {
  color: #4c4c4c !important;
}

.toolbar-search-mobile form .form-group ::-moz-placeholder {
  color: #4c4c4c !important;
}

.toolbar-search-mobile form .form-group :-moz-placeholder {
  color: #4c4c4c !important;
}

.toolbar-search-mobile form .form-group :-ms-input-placeholder {
  color: #4c4c4c !important;
}

.toolbar-search-mobile form .form-group ::-ms-input-placeholder {
  color: #4c4c4c !important;
}

.toolbar-search-mobile form .form-group :-ms-input-placeholder {
  color: #4c4c4c !important;
}

.toolbar-search-mobile form .form-group :placeholder-shown {
  color: #4c4c4c !important;
}

.toolbar-search-mobile form input {
  background-color: #d9d9d9;
  box-shadow: 0px 2px 15px #868686;
  padding-left: 45px;
  padding-right: 90px;
  height: 45px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
}

.toolbar-search-mobile form img {
  position: absolute;
  top: 12px;
  left: 15px;
  max-width: 20px;
}

.toolbar-search-mobile form button {
  outline: none !important;
  position: absolute;
  top: 5px;
  right: 6px;
  border-radius: 5px;
  background-color: #a464bf;
  color: #fff;
  border: none;
}

/* MODULES - CHAT */
.pchat {
  width: 100%;
  height: 100%;
  max-width: 400px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  padding-bottom: 90px;
  background-color: #20222b;
  -moz-transform: translate(310px);
  -o-transform: translate(310px);
  -ms-transform: translate(310px);
  -webkit-transform: translate(310px);
  transform: translate(310px);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.pchat ul.list-chat,
.pchat ul.user-chat {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: auto;
}

.pchat ul.list-chat li,
.pchat ul.user-chat li {
  padding-left: 23px;
  padding-right: 18px;
}

.pchat ul.list-chat li a,
.pchat ul.user-chat li a {
  color: #f7f7f7;
  display: table;
  width: 100%;
  padding: 15px 0;
  border-bottom: solid 1px #3d3f48;
}

.pchat ul.list-chat li a .sty-left,
.pchat ul.list-chat li a .sty-right,
.pchat ul.user-chat li a .sty-left,
.pchat ul.user-chat li a .sty-right {
  display: table-cell;
  vertical-align: middle;
}

.pchat ul.list-chat li a .sty-left,
.pchat ul.user-chat li a .sty-left {
  width: 75px;
}

.pchat ul.list-chat li a .sty-left span,
.pchat ul.user-chat li a .sty-left span {
  font-size: 30px;
  background-color: #8a858f;
  color: #ffffff;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-background-clip: padding-box;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
}

.pchat ul.list-chat li a .sty-right p,
.pchat ul.user-chat li a .sty-right p {
  margin: 0;
}

.pchat ul.list-chat li a .sty-right .name,
.pchat ul.user-chat li a .sty-right .name {
  font-size: 30px;
}

.pchat ul.list-chat li a .sty-right .sub-name,
.pchat ul.user-chat li a .sty-right .sub-name {
  font-size: 14px;
}

.pchat ul.list-chat li:last-child a,
.pchat ul.user-chat li:last-child a {
  border-bottom: 0;
}

.pchat ul.list-chat li:hover, .pchat ul.list-chat li:active, .pchat ul.list-chat li:focus, .pchat ul.list-chat li:active,
.pchat ul.user-chat li:hover,
.pchat ul.user-chat li:active,
.pchat ul.user-chat li:focus,
.pchat ul.user-chat li:active {
  background-color: #424756;
}

.pchat ul.list-chat li:hover a, .pchat ul.list-chat li:active a, .pchat ul.list-chat li:focus a, .pchat ul.list-chat li:active a,
.pchat ul.user-chat li:hover a,
.pchat ul.user-chat li:active a,
.pchat ul.user-chat li:focus a,
.pchat ul.user-chat li:active a {
  border-color: #424756;
}

.pchat ul.list-chat li.online a span,
.pchat ul.user-chat li.online a span {
  background-color: #8b26e0;
}

.pchat ul.list-chat {
  background-color: #2f323d;
  height: 100%;
}

.pchat.extend {
  width: 100%;
  padding-bottom: 0;
  background-color: #2f323d;
  -moz-transform: translate(0px);
  -o-transform: translate(0px);
  -ms-transform: translate(0px);
  -webkit-transform: translate(0px);
  transform: translate(0px);
}

.pchat.extend .buts-extend {
  bottom: 27px;
  left: -40px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.pchat.extend .buts-extend:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.pchat .buts-extend {
  position: absolute;
  cursor: pointer;
  width: 60px;
  left: 17px;
  bottom: 12px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.pchat .content-chat {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #2f323d;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.pchat .content-chat.out {
  -moz-transform: translate(100%);
  -o-transform: translate(100%);
  -ms-transform: translate(100%);
  -webkit-transform: translate(100%);
  transform: translate(100%);
}

.pchat .content-chat .back-chat {
  color: #fff;
  position: absolute;
  top: 24px;
  left: 15px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
}

.pchat .content-chat .back-chat:before {
  font-size: 45px;
  padding: 10px;
}

.pchat .content-chat .back-chat:hover {
  background-color: #424756;
}

.pchat .content-chat .user-chat {
  padding-left: 40px;
}

.pchat .content-chat .user-chat li {
  background-color: transparent !important;
}

.pchat .content-chat .content-main {
  list-style: none;
  padding-left: 23px;
  padding-right: 18px;
  padding-top: 20px;
  background-color: #2f323d;
  overflow-y: scroll;
  height: 70%;
  height: calc(100% - 154px - 91px);
  width: 100%;
  position: absolute;
  left: 0;
}

.pchat .content-chat .content-main li {
  max-width: 275px;
  background-color: #662d91;
  padding: 17px 15px 17px 15px;
  color: #fff;
  margin-bottom: 25px;
  float: left;
  clear: both;
  text-align: justify;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 15px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-clip: padding-box;
}

.pchat .content-chat .content-main li.me-chat {
  float: right;
  background-color: #252525;
}

.pchat .content-chat form {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #20222b;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 5px;
}

.pchat .content-chat form textarea {
  width: 320px;
  min-height: 105px;
  resize: none;
  margin-right: 17px;
  background-color: #d7d7d7;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 15px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-clip: padding-box;
}

.pchat .content-chat form .note {
  color: #7a7a7a;
  padding-right: 15px;
}

.pchat.padding-top {
  padding-top: 80px;
}

.pchat.padding-top .content-chat {
  padding-top: 80px;
}

.pchat.padding-top .content-chat .back-chat {
  top: 103px;
}

.pchat.padding-top .content-main {
  height: 51%;
  height: calc(100% - 154px - 91px - 80px);
}

.put-content {
  width: 100%;
  width: calc(100% - 90px);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.put-content.extend {
  width: 70%;
  width: calc(100% - 400px);
}

.form-table {
  padding: 0 45px;
  font-size: 24px;
}

.form-table .title {
  line-height: 50px;
}

.form-table .title button {
  margin-left: 25px;
  min-height: 52px;
  font-size: 24px;
  padding: 0 35px;
  outline: none !important;
  border: none;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 7px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-clip: padding-box;
  background: -moz-linear-gradient(0deg, #DADDE8 0, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, 0deg, color-stop(0, DADDE8), color-stop(100%, ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(0deg, #DADDE8 0, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(0deg, #DADDE8 0, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(0deg, #DADDE8 0, #ffffff 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1');
  /* for IE */
  background: linear-gradient(0deg, #DADDE8 0, #ffffff 100%);
  /* W3C */
}

.form-table .t-left {
  font-size: 30px;
}

.form-table article {
  max-height: 400px;
  background-color: #f5f5f5;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 20px;
  margin-top: 35px;
  box-shadow: 2px 2px 25px #dedede;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
}

.form-table article table {
  color: #505050;
}

.form-table article table tr td {
  min-height: 55px;
}

.form-table article table tr.completed {
  color: #213cc7;
}

.form-table article table tr.not-enough {
  color: #be1a1a;
}

.learning-process {
  margin-top: 60px;
  margin-bottom: 60px;
}

.request-frm-teacher .title {
  font-size: 24px;
  color: #1d1d1d;
  margin-bottom: 30px;
}

.request-frm-teacher .panel {
  background-color: #f5f5f5;
  padding: 40px 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px #dcdcdc;
  margin-bottom: 40px;
}

.request-frm-teacher .panel .header {
  padding-bottom: 15px;
  border-bottom: solid 2px #cccccc;
}

.request-frm-teacher .panel .header p {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
}

.request-frm-teacher .panel .body {
  color: #770f95;
  padding-top: 35px;
  padding-left: 15px;
}

.request-frm-teacher .panel .body p.content {
  border-left: solid 10px #ceacce;
  padding-left: 20px;
  font-size: 19px;
  cursor: auto;
  white-space: pre-wrap;
}

.request-frm-teacher button {
  border: none;
  outline: none !important;
  min-height: 49px;
  font-size: 24px;
  padding: 0 25px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 7px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-clip: padding-box;
}

.request-frm-teacher button.btn-default {
  background-color: #ebebeb;
}

.request-frm-teacher button.btn-primary {
  background-color: #4e46c3;
}

.request-frm-teacher button.btn-primary:hover, .request-frm-teacher button.btn-primary:focus, .request-frm-teacher button.btn-primary:active {
  background-color: #232054;
}

.request-frm-teacher .des1 {
  margin-bottom: 25px;
}

.request-frm-teacher .des1 .des-title {
  display: block;
  font-size: 24px;
}

.request-frm-teacher .des1 .des-sub-title {
  font-size: 18px;
}

/* MODULES - PAYMENT */
.payment-page {
  padding-top: 50px;
  padding-bottom: 35px;
}

.payment-page .info-pmend .info-left-pmend,
.payment-page .info-pmend .info-right-pmend {
  background-color: #ebebeb;
  padding: 35px 30px 15px 53px;
  font-size: 18px;
  border-radius: 10px;
  border: solid 1px #eaeaea;
}

.payment-page .info-pmend .info-left-pmend .title-p {
  margin-bottom: 12px;
}

.payment-page .info-pmend .info-left-pmend .row {
  margin-bottom: 8px;
}

.payment-page .info-pmend .info-left-pmend a.btn {
  font-size: 18px;
  padding: 3px 33px;
  border: solid 1px #ececec;
  color: #fff;
  outline: none !important;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
}

.payment-page .info-pmend .info-left-pmend a.btn.btn-default {
  background-color: #c1c1c1;
}

.payment-page .info-pmend .info-left-pmend a.btn.btn-primary {
  background-color: #487eec;
}

.payment-page .info-pmend .info-right-pmend {
  padding-bottom: 20px;
  border: none;
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}

.payment-page .info-pmend .info-right-pmend .table thead > tr > th,
.payment-page .info-pmend .info-right-pmend .table tbody > tr > th,
.payment-page .info-pmend .info-right-pmend .table tfoot > tr > th,
.payment-page .info-pmend .info-right-pmend .table thead > tr > td,
.payment-page .info-pmend .info-right-pmend .table tbody > tr > td,
.payment-page .info-pmend .info-right-pmend .table tfoot > tr > td {
  border-top: 0;
  padding-top: 0;
}

.payment-page .info-pmend .info-right-pmend .table thead > tr > th {
  border: none;
}

.payment-page .info-pmend .info-right-pmend input {
  background-color: #ffffc6;
  border: none;
  font-size: 18px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
}

.payment-page .info-pmend .info-right-pmend form {
  padding-top: 10px;
}

.payment-page .info-pmend .info-right-pmend .lbl-promo {
  margin-right: 20px;
  font-weight: 400;
}

.payment-page .info-pmend .info-right-pmend hr {
  border-width: 2px;
  border-color: #acacac;
}

.payment-page .info-pmend .info-right-pmend .sp-med {
  margin-right: 115px;
}

.payment-page .note-method {
  font-size: 18px;
  color: #ababab;
  line-height: 1;
  font-style: italic;
}

.payment-page .choose-payment .title-pmet {
  font-size: 30px;
  margin-top: 5px;
}

.payment-page .choose-payment .left-pmet,
.payment-page .choose-payment .mid-pmet,
.payment-page .choose-payment .right-pmet {
  position: relative;
  box-shadow: 3px 3px 15px #dcdbdb;
  background-color: #f7f7f7;
  padding: 50px 80px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 15px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-clip: padding-box;
}

.payment-page .choose-payment .left-pmet .sty-btn-method,
.payment-page .choose-payment .mid-pmet .sty-btn-method,
.payment-page .choose-payment .right-pmet .sty-btn-method {
  position: absolute;
  width: 100%;
  bottom: -25px;
  left: 0;
  text-align: center;
}

.payment-page .choose-payment .left-pmet .sty-btn-method a,
.payment-page .choose-payment .mid-pmet .sty-btn-method a,
.payment-page .choose-payment .right-pmet .sty-btn-method a {
  padding: 10px 20px;
  font-size: 24px;
  background-color: #88a7ff;
  border: none;
  outline: none !important;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
}

.payment-page .choose-payment .title-pmethod {
  font-weight: 600;
  font-size: 30px;
  color: #4c67dc;
  margin-bottom: 30px;
  margin-top: 0;
}

.payment-page .choose-payment .left-pmet .note-method {
  margin-top: 50px;
}

.payment-page .choose-payment .left-pmet img {
  max-width: 100%;
}

.payment-page .choose-payment .mid-pmet .frm-flag label,
.payment-page .choose-payment .right-pmet .frm-flag label {
  font-weight: 400;
  color: #ababab;
  font-size: 18px;
  font-style: italic;
}

.payment-page .choose-payment .mid-pmet .frm-flag img,
.payment-page .choose-payment .right-pmet .frm-flag img {
  margin-left: 15px;
  margin-right: 15px;
}

.payment-page .choose-payment .mid-pmet .note-method,
.payment-page .choose-payment .right-pmet .note-method {
  margin-top: 20px;
}

.payment-page .choose-payment .mid-pmet ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-top: 30px;
}

.payment-page .choose-payment .mid-pmet ul span {
  color: #adb3e0;
  font-style: italic;
  padding-left: 20px;
}

.payment-page .choose-payment .right-pmet .address-pment {
  font-size: 18px;
  margin-top: 38px;
}

.payment-page .choose-payment .right-pmet .but-gmap a {
  display: inline-block;
  position: relative;
}

.payment-page .choose-payment .right-pmet .but-gmap a img {
  position: absolute;
  right: -35px;
  top: -10px;
}

.payment-page .choose-payment .right-pmet .but-gmap span {
  background-color: #cbccc9;
  font-size: 18px;
  display: inline-block;
  padding: 3px 27px;
  border-radius: 15px;
  color: #fff;
}

.payment-page .choose-payment .right-pmet .but-gmap span:hover {
  background-color: #969696;
}

.tabs-icon-toolbar {
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px -1px 6px #c7c7c7;
  -moz-box-shadow: 0px -1px 6px #c7c7c7;
  box-shadow: 0px -1px 6px #c7c7c7;
}

.tabs-icon-toolbar ul {
  display: table;
  height: 100%;
  width: 100%;
}
/* test */
a.afix {
  width: 100%;
  height: 100%;
  padding-top: 40px;
}

img.imgFix {
  width: 24.8px;
  height: 25px;
}

li{
  position: relative
}

.divFix{
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: -1;
}

/* span.spanFix {
  padding-top: 21px;
} */
/* test */

.tabs-icon-toolbar ul li {
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 8px;
}

.tabs-icon-toolbar ul li a {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

.tabs-icon-toolbar ul li a img {
  max-height: 25px;
  margin: auto;
}

.tabs-icon-toolbar ul li a img:first-child {
  display: block;
}

.tabs-icon-toolbar ul li a img:last-child {
  display: none;
}

.tabs-icon-toolbar ul li a span {
  font-size: 13px;
  color: #a5a5a5;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabs-icon-toolbar ul li:active a span, .tabs-icon-toolbar ul li:focus a span, .tabs-icon-toolbar ul li.active a span {
  color: #646685;
}

.tabs-icon-toolbar ul li:active a img:first-child, .tabs-icon-toolbar ul li:focus a img:first-child, .tabs-icon-toolbar ul li.active a img:first-child {
  display: none;
}

.tabs-icon-toolbar ul li:active a img:last-child, .tabs-icon-toolbar ul li:focus a img:last-child, .tabs-icon-toolbar ul li.active a img:last-child {
  display: block;
}

.profile-mobile .profile-top {
  position: relative;
  padding-top: 35px;
  padding-bottom: 15px;
}

.profile-mobile .profile-top:after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(-35deg, #0285FF 0, #ee39ec 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, -35deg, color-stop(0, 285FF), color-stop(100%, ee39ec));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-35deg, #0285FF 0, #ee39ec 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-35deg, #0285FF 0, #ee39ec 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-35deg, #0285FF 0, #ee39ec 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1');
  /* for IE */
  background: linear-gradient(-35deg, #0285FF 0, #ee39ec 100%);
  /* W3C */
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.profile-mobile .profile-top .avatar img {
  max-width: 150px;
  border: solid 5px #fff;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-background-clip: padding-box;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
}

.profile-mobile .profile-top h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
  margin-top: 20px;
  color: #585596;
}

.profile-mobile .profile-top p {
  color: #7976c3;
  font-size: 12px;
}

.profile-mobile .profile-info ul {
  margin: 0;
  padding: 25px 50px;
  background-color: #e5e5e5;
  font-size: 13px;
}

.profile-mobile .profile-info ul li {
  list-style: none;
  display: table;
  width: 100%;
  margin-bottom: 5px;
}

.profile-mobile .profile-info ul li span, .profile-mobile .profile-info ul li p {
  display: table-cell;
}

.profile-mobile .profile-info ul li span {
  width: 90px;
}

.profile-mobile .but-update {
  background-color: #e5e5e5;
  padding-bottom: 100px;
}

.profile-mobile .but-update button {
  max-width: 275px;
  height: 100%;
  padding: 6px 0;
  margin: 0;
  background-color: #6167cf;
  outline: none !important;
  display: inline-block;
}

.course-work-mobile {
  background-color: #e5e5e5;
}

.course-work-mobile .select-tool {
  background-color: #8393ca;
  padding: 13px 8px 5px 8px;
}

.course-work-mobile .select-tool .row {
  margin-bottom: 10px;
}

.course-work-mobile .select-tool .sub-title {
  color: #000;
  padding-top: 10px;
  font-weight: 600;
}

.course-work-mobile .select-tool .select2 {
  width: 100% !important;
}

.course-work-mobile .select-tool .select2 .select2-selection {
  background-color: #d7d7d7;
}

.course-work-mobile .select-tool .select2 .select2-selection__rendered {
  line-height: 35px;
  font-weight: 600;
  color: #000;
}

.course-work-mobile .select-tool .select2 .select2-selection {
  height: 40px;
}

.course-work-mobile .select-tool .select2 .select2-selection__arrow {
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 23px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.58);
}

.course-work-mobile .select-tool .select2 .select2-selection__arrow b {
  border-color: #81a0c7 transparent transparent transparent !important;
}

.course-work-mobile .select-tool .select2.select2-container--open .select2-selection__arrow b {
  border-color: transparent transparent #81a0c7 transparent !important;
}

.course-work-mobile h3.title {
  padding: 0 25px;
  font-size: 20px;
  font-weight: 600;
  color: #1d1d1d;
}

.course-work-mobile .panel {
  margin-left: 8px;
  margin-right: 8px;
}

.course-work-mobile .panel ul.info-user {
  margin: 0;
  padding: 0;
}

.course-work-mobile .panel ul.info-user li {
  list-style: none;
  font-weight: bold;
}

.course-work-mobile .panel .content {
  padding: 0;
  padding-top: 15px;
  cursor: auto;
  white-space: pre-wrap;
}

.course-work-mobile .group-btn {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 15px;
}

.course-work-mobile .group-btn button {
  outline: none !important;
}

/* ================== E-KNOWLEDGE ================= */
.e-knowledge-mobile .list-group a {
  border-left: 0;
  border-right: 0;
}

.e-knowledge-mobile .list-group a:last-child, .e-knowledge-mobile .list-group a:first-child {
  border-radius: 0;
}

/* ================== MY COURSE ================= */
.my-course-mobile .panel-group .panel + .panel {
  margin-top: 0;
}

.my-course-mobile .list-item .panel {
  border: none;
  border-radius: 0;
}

.my-course-mobile .list-item .panel .panel-heading {
  background-color: #c7c7c7;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px -1px 5px #a9a9a9;
  border-radius: 0;
}

.my-course-mobile .list-item .panel .panel-heading .panel-title a {
  font-weight: bold;
  display: table;
  width: 100%;
}

.my-course-mobile .list-item .panel .panel-heading .panel-title a span, .my-course-mobile .list-item .panel .panel-heading .panel-title a img {
  display: table-cell;
}

.my-course-mobile .list-item .panel .panel-heading .panel-title a span {
  color: #4c4c4c;
  width: 100%;
  line-height: 1.3;
  vertical-align: middle;
}

.my-course-mobile .list-item .panel .panel-heading .panel-title a img {
  width: 35px;
}

.my-course-mobile .list-item .panel .panel-heading .panel-title a img.active {
  display: none !important;
}

.my-course-mobile .list-item .panel .panel-heading .panel-title a img.default {
  display: table-cell !important;
}

.my-course-mobile .list-item .panel .panel-heading .panel-title a[aria-expanded="true"] img {
  width: 35px;
}

.my-course-mobile .list-item .panel .panel-heading .panel-title a[aria-expanded="true"] img.active {
  display: table-cell !important;
}

.my-course-mobile .list-item .panel .panel-heading .panel-title a[aria-expanded="true"] img.default {
  display: none !important;
}

.my-course-mobile .list-item .panel .panel-body {
  padding: 0;
  border: none;
}

.my-course-mobile .list-item .panel .panel-body .badge {
  background-color: transparent;
  color: #8596d6;
  font-size: 13px;
}

.my-course-mobile .list-item .panel .panel-body .badge.badgeFix {
  color: gray;
}

.my-course-mobile .list-item .panel .panel-body ul {
  margin: 0;
}

.my-course-mobile .list-item .panel .panel-body ul li {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  background-color: #e5e5e5;
}

.my-course-mobile .list-item .panel .collapse-disabled span {
  color: #949494 !important;
  cursor: no-drop;
}

.my-course-mobile .list-item .panel .collapse-disabled img {
  cursor: no-drop;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

p.content.contentFix{
  border-left: solid 10px #ceacce;
  padding-left: 20px;
  font-size: 19px;
  cursor: auto;
  white-space: pre-wrap;
  color: #770f95;
}

.boxFixWhite
{
  background: white;
    border-radius: 10px;
    padding-top: 0px;
}

/* LAYOUT - Page layout styles */
/* RESPONSIVE - Page layout styles mobile */
@media only screen and (max-width: 992px) {
  .center-992 {
    text-align: center;
  }
  body {
    background-color: #e5e5e5;
  }
}

@media only screen and (max-width: 768px) {
  .center-768 {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .center-480 {
    text-align: center;
  }
}
