a {

    -webkit-text-decoration-skip: objects;
    text-decoration: none
}

a:hover,
a:focus {
    text-decoration: none
}

@-webkit-keyframes translateIn {
    0% {
        display: -webkit-flex;
        display: flex;
        opacity: 0;
        -webkit-transform: translateY(60px) scale(.95);
        transform: translateY(60px) scale(.95);
        z-index: -1
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
        z-index: 2
    }
}

@keyframes translateIn {
    0% {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        opacity: 0;
        -webkit-transform: translateY(60px) scale(.95);
        transform: translateY(60px) scale(.95);
        z-index: -1
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
        z-index: 2
    }
}

@-webkit-keyframes translateOut {
    0% {
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
        z-index: 2
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-60px) scale(.95);
        transform: translateY(-60px) scale(.95);
        z-index: -1
    }
}

@keyframes translateOut {
    0% {
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
        z-index: 2
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-60px) scale(.95);
        transform: translateY(-60px) scale(.95);
        z-index: -1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        z-index: 1
    }
    100% {
        opacity: 1;
        z-index: 2
    }
}

@keyframes fadeIn {
    0% {
        z-index: 1
    }
    100% {
        opacity: 1;
        z-index: 2
    }
}

@-webkit-keyframes fadeOut {
    0% {
        z-index: 2
    }
    100% {
        opacity: 0;
        z-index: -1
    }
}

@keyframes fadeOut {
    0% {
        z-index: 2
    }
    100% {
        opacity: 0;
        z-index: -1
    }
}

@-webkit-keyframes removeDisplay {
    0%,
    100% {
        display: -webkit-flex;
        display: flex
    }
    99% {
        display: none
    }
}

@keyframes removeDisplay {
    0%,
    100% {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    99% {
        display: none
    }
}

.browse .browse__menu,
.gallery .gallery__cta {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .075em
}

.gallery {
    position: relative
}

.gallery .gallery__group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%
}

.gallery .gallery__group.active {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: static
}

.gallery .gallery__section {
    position: relative
}

.gallery .gallery__section--primary {
    -webkit-flex-basis: 77.5%;
    -ms-flex-preferred-size: 77.5%;
    flex-basis: 77.5%;
    padding-right: 15px
}

.gallery .gallery__section--secondary {
    -webkit-flex-basis: 22.5%;
    -ms-flex-preferred-size: 22.5%;
    flex-basis: 22.5%;
    font-size: 0
}

.gallery .gallery__section--secondary .card {
    margin-bottom: 15px
}

.gallery .gallery__cta {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    line-height: 1em;
    opacity: 0;
    width: 100%;
    margin-top: 15px;
    position: absolute;
    bottom: 0
}

@media screen and (min-width: 1000px) {
    .gallery .gallery__cta {
        font-size: 12px
    }
}

.gallery .gallery__cta:after {
    content: '';
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    height: 1px;
    background-color: #fff;
    opacity: .6;
    margin-left: 15px;
    margin-right: 5px
}

.gallery .gallery__cta:before {
    width: 0;
    height: 0;
    content: '';
    border-left: 5px solid #fff;
    border-top: calc(5px - 1px) solid transparent;
    border-bottom: calc(5px - 1px) solid transparent;
    position: absolute;
    right: 0;
    opacity: .6
}

.gallery:not(.gallery--pixel-squid-demo) .gallery__section--primary .card,
.gallery:not(.gallery--pixel-squid-demo) .gallery__section--secondary .card:nth-child(1),
.gallery:not(.gallery--pixel-squid-demo) .gallery__section--secondary .card:nth-child(2),
.gallery:not(.gallery--pixel-squid-demo) .gallery__section--secondary .card:nth-child(3) {
    -webkit-animation: translateOut .4s ease-out forwards;
    animation: translateOut .4s ease-out forwards
}

.gallery:not(.gallery--pixel-squid-demo) .gallery__cta {
    -webkit-animation: fadeOut .5s ease-out forwards;
    animation: fadeOut .5s ease-out forwards
}

.gallery:not(.gallery--pixel-squid-demo) .active .gallery__section--primary .card,
.gallery:not(.gallery--pixel-squid-demo) .active .gallery__section--secondary .card:nth-child(1),
.gallery:not(.gallery--pixel-squid-demo) .active .gallery__section--secondary .card:nth-child(2),
.gallery:not(.gallery--pixel-squid-demo) .active .gallery__section--secondary .card:nth-child(3) {
    -webkit-animation: translateIn .4s ease-out both;
    animation: translateIn .4s ease-out both
}

.gallery:not(.gallery--pixel-squid-demo) .active .gallery__cta {
    -webkit-animation: fadeIn 1s .3s ease-out forwards;
    animation: fadeIn 1s .3s ease-out forwards
}

@media screen and (max-width: 850px) {
    .gallery--pixel-squid-demo .gallery__group.active {
        display: block
    }
    .gallery--pixel-squid-demo .gallery__cta {
        display: none
    }
    .gallery--pixel-squid-demo .gallery__section--primary {
        padding-right: 0;
        padding-bottom: 10px
    }
    .gallery--pixel-squid-demo .gallery__section--secondary .card:not(:nth-child(4)) {
        padding-right: 10px
    }
    .gallery--pixel-squid-demo .gallery__section--secondary {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
}

@media screen and (min-width: 850px) {
    .gallery .gallery__cta {
        font-size: 12px
    }
    .gallery--pixel-squid-demo .gallery__group {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    .gallery--pixel-squid-demo .gallery__section--primary {
        -webkit-flex-basis: 80.5%;
        -ms-flex-preferred-size: 80.5%;
        flex-basis: 80.5%;
        padding-right: 1.5%;
        margin-bottom: 0
    }
    .gallery--pixel-squid-demo .gallery__section--secondary {
        -webkit-flex-basis: 16.95%;
        -ms-flex-preferred-size: 16.95%;
        flex-basis: 16.95%;
        font-size: 0
    }
    .gallery--pixel-squid-demo .gallery__section--secondary .card {
        margin-bottom: 15%
    }
    .gallery--pixel-squid-demo .gallery__section--secondary .card:nth-child(4) {
        margin-bottom: 0
    }
}

@media screen and (max-width: 850px) {
    .browse-panel {
        display: none
    }
}

.browse-panel__background {
    /*border-radius: 6px;*/
    overflow: hidden;
    display: block;
    -webkit-transform: translateX(50%) translateX(-90px) translateY(0);
    -ms-transform: translateX(50%) translateX(-90px) translateY(0);
    transform: translateX(50%) translateX(-90px) translateY(0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .5s ease-in-out;
    opacity: 1
}


/*@media screen and (min-width: 1000px) {
    .browse-panel__background {
        height: 780px
    }
}*/

.browse-panel--green .browse-panel__background {
    background: linear-gradient(135deg, #4772d9 30%, #00dcaf 60%, #00dcaf)
}

.browse-panel--pink .browse-panel__background {
    background: linear-gradient(135deg, #756de3 30%, #f94b71 60%, #f94b71)
}

.browse-panel--purple .browse-panel__background {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9d00f8+0,ffc71e+78,ffc71e+100 */
    background: rgb(157, 0, 248);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(157, 0, 248, 1) 0%, rgba(255, 199, 30, 1) 78%, rgba(255, 199, 30, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(157, 0, 248, 1) 0%, rgba(255, 199, 30, 1) 78%, rgba(255, 199, 30, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(157, 0, 248, 1) 0%, rgba(255, 199, 30, 1) 78%, rgba(255, 199, 30, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d00f8', endColorstr='#ffc71e', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.browse {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 100px 0 50px 0;
}

.browse .browse__inner {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

@media screen and (min-width: 300px) {
    .browse .browse__inner {
        width: 90%;
        max-width: 500px
    }
}

@media screen and (min-width: 850px) {
    .browse .browse__inner {
        width: 90%;
        max-width: 95%
    }
}

@media screen and (min-width: 1000px) {
    .browse .browse__inner {
        width: 95%;
        max-width: 95%
    }
}

@media screen and (min-width: 1180px) {
    /* .browse-panel__background {
        height: 880px
    }*/
    .browse .browse__inner {
        width: 95%;
        max-width: 1180px
    }
}

.browse .browse__menu {
    font-size: 12px;
    color: #505050;
    list-style: none;
    padding: 0;
    margin: 0
}

.browse .browse__menu-link {
    padding: 8px 0;
    color: #414141;
    font-weight: bold;
    font-size: 16px;
}

.browse li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    transition: all .4s ease-in-out
}

.card,
.card .card__image {
    display: block;
    width: 100%
}

.browse li:after,
.browse li:before {
    opacity: 0;
    content: '';
    height: 1px;
    transition: all .4s ease-in-out
}

.browse li:before {
    width: 200%;
    position: absolute;
    -webkit-transform: translate(-200%, -1px);
    -ms-transform: translate(-200%, -1px);
    transform: translate(-200%, -1px);
    background: linear-gradient(to right, transparent 10%, #4772d9 50%)
}

.browse li:after {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 15px;
    -webkit-transform: translate(200%, -1px);
    -ms-transform: translate(200%, -1px);
    transform: translate(200%, -1px);
    margin-right: -100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9d00f8+0,ffc71e+100 */
background: rgb(157,0,248); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(157,0,248,1) 0%, rgba(255,199,30,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(157,0,248,1) 0%,rgba(255,199,30,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(157,0,248,1) 0%,rgba(255,199,30,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d00f8', endColorstr='#ffc71e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.browse li.active {
    color: #9D00F8;
}

.browse li.active:before {
    opacity: 1;
    -webkit-transform: translate(calc(-100% - 15px), -1px);
    -ms-transform: translate(calc(-100% - 15px), -1px);
    transform: translate(calc(-100% - 15px), -1px)
}

.browse li.active:after {
    opacity: 1;
    -webkit-transform: translate(0, -1px);
    -ms-transform: translate(0, -1px);
    transform: translate(0, -1px)
}

.browse .browse__gallery {
    z-index: 10;
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%
}

.browse .browse__menu {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%
}

.card {
    position: relative
}

.card .card__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2
}

.card .card__figure {
    padding-top: 66.67%;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.card .card__image,
.card .card__panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.card .card__image {
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out
}

.card .card__heading {
    text-align: center;
    font-size: 12px;
    line-height: 1em;
    color: #505050;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 0
}

.card .card__count {
    color: #aeaeaf
}

.card .card__panel {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(40, 40, 40, .7);
    opacity: 0;
    -webkit-backface-visibility: hidden;
    transition: opacity .5s ease-in-out;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05)
}

@media screen and (min-width: 850px) {
    .card .card__heading {
        font-size: 16px
    }
    .card .card__link:hover~.card__panel {
        opacity: 1
    }
    .card .card__link:hover+.card__image {
        -webkit-transform: scale(1.025);
        -ms-transform: scale(1.025);
        transform: scale(1.025)
    }
    .card .card__cta {
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .075em;
        line-height: 1em;
        border-radius: 6px;
        transition: all .2s ease-in-out;
        font-size: 10px;
        padding: 11px 30px;
        background-color: #fff;
        color: #303030;
        display: inline-block;
        text-align: center;
        margin: 30px
    }
}

.card--pixel-squid-demo .card__figure,
.card--thin .card__figure {
    padding-top: 60%
}

@media screen and (min-width: 850px) and (min-width: 850px) {
    .card .card__cta {
        font-size: 12px
    }
}

@media screen and (min-width: 850px) and (min-width: 1000px) {
    .card .card__cta {
        font-size: 12px
    }
}

.card--pixelsquid .card__link:hover+.card__image {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.card--pixel-squid-demo .card__panel {
    display: none
}

.card--pixel-squid-demo .card__image {
    width: 100%;
    height: auto
}

.browse-list {
    overflow: hidden;
    margin-top: -60px;
    padding-top: 60px;
    padding-bottom: 40px;
    background: linear-gradient(to bottom, #4772d9, #756de3);
    text-align: center
}

.browse-list .browse-list__heading {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 26px;
    line-height: 1.1;
    text-transform: none;
    text-decoration: none;
    color: #fff;
    opacity: .6;
    margin-top: 0;
    margin-bottom: 30px
}

@media screen and (min-width: 850px) {
    .browse-list .browse-list__heading {
        font-size: 26px
    }
}

@media screen and (min-width: 1000px) {
    .browse-list .browse-list__heading {
        font-size: 26px
    }
    .browse-list .browse-list__section-heading {
        font-size: 12px
    }
}

.browse-list .browse-list__section-heading {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.1;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .075em;
    color: #fff;
    opacity: .6;
    margin-top: 10px;
    margin-bottom: 20px
}

.browse-list .browse-list__list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media screen and (min-width: 300px) {
    .browse-list .browse-list__list {
        width: 90%;
        max-width: 500px
    }
}

@media screen and (min-width: 850px) {
    .browse-list .browse-list__section-heading {
        font-size: 12px
    }
    .browse-list .browse-list__list {
        width: 90%;
        max-width: 95%
    }
    .browse-list {
        display: none
    }
}

@media screen and (min-width: 1000px) {
    .browse-list .browse-list__list {
        width: 95%;
        max-width: 95%
    }
}

@media screen and (min-width: 1180px) {
    .browse-list .browse-list__list {
        width: 95%;
        max-width: 1180px
    }
}

.browse-list .browse-list__item {
    -webkit-flex-basis: calc(50% - 10px);
    -ms-flex-preferred-size: calc(50% - 10px);
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px
}

@media screen and (max-width: 300px) {
    .browse-list .browse-list__item {
        -webkit-flex-basis: calc(50% - 5px);
        -ms-flex-preferred-size: calc(50% - 5px);
        flex-basis: calc(50% - 5px);
        margin-bottom: 10px
    }
}