<div class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title">
            Counrse Form
        </h3>
    </div>
    <div class="box-body">
        <div class="form-group">
            <label for="">Course Name</label>
            <input type="text" ng-model="course.title" class="form-control" />
        </div>
        <div class="form-group">
            <label for="">Content</label>
            <summernote height="500" ng-model="course.content"></summernote>
        </div>
        <div class="form-group">
            <a style="cursor: pointer;" class="btn btn-default" ui-sref-opts="{reload: true}" ui-sref="app.teacher_course.dashboard({course_id: course.id})">Cancel</a>
            <button type="button" data-loading-text="Processing..." ng-show="course.id" class="btn btn-primary" ng-click="save()">Update</button>
            <button type="button" data-loading-text="Processing..." ng-hide="course.id" ng-click="save()" class="btn btn-primary">Create</button>
        </div>
    </div>
</div>