<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-if="$ctrl.item.id" ng-bind="$ctrl.item.title"></h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="">Course Name</label>
            <input type="text" class="form-control" ng-model="$ctrl.item.title" />
        </div>
        <div class="form-group">
            <label for="">Price For Paypal Payment (USD)</label>
            <input type="text" class="form-control" ng-model="$ctrl.item.price" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-if="$ctrl.item.id" ng-click="$ctrl.submit()" class="btn submit btn-primary" data-loading-text="updating...">Update</button>
        <button type="button" ng-if="!$ctrl.item.id" ng-click="$ctrl.submit()" class="btn submit btn-primary">Create</button>
    </div>
</div>
