<div class="box box-widget">
    <div class="box-header">
        <h3 class="box-title">
            Final Assignment Submission
        </h3>
    </div>
    <div class="box-body table-responsive">
        <table class="table table-border">
            <thead>
                <tr>
                    <th>Student Info</th>
                    <th>Module Name</th>
                    <th>Final Assignment File</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.items track by $index">
                    <td ng-bind="item.user.name"></td>
                    <td ng-bind="item.module.title"></td>
                    <td ng-bind="item.final_file"></td>
                    <td>
                        <a title="Download File" style="cursor: pointer; font-size: 17px" class="text text-primary" ng-click="$ctrl.download(item.id)">
                            <i class="fa fa-download"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>