<div class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title">
            Learning Outcome Scenarios Form
        </h3>
    </div>
    <div class="box-body">
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" ng-model="$ctrl.item.title" class="form-control" />
        </div>
        <div class="form-group">
            <label for="title">Scenarios if any</label>
            <textarea class="form-control" ng-model="$ctrl.item.scenarios"></textarea>
        </div>
    </div>
    <div class="box-footer">
        <button type="button" ng-if="$ctrl.item.id" ng-click="$ctrl.submit()" class="btn submit btn-primary" data-loading-text="updating...">Update</button>
        <button type="button" ng-if="!$ctrl.item.id" ng-click="$ctrl.submit()" class="btn submit btn-primary" data-loading-text="creating...">Create</button>
    </div>
</div>