<div class="box box-default" ng-show="$ctrl.task.id">
    <div class="box-header">
        <h3 class="box-title">Multi Choice Questions</h3>
    </div>
    <div class="box-body">
        <table class="table">
            <tbody>
            <tr ng-repeat="question in $ctrl.questions track by $index">
                <td>
                    <input type="text" ng-model="question.title" class="form-control" placeholder="Input Question"/>
                </td>
                <td>
                    <input type="text" ng-model="question.answer" class="form-control" placeholder="Input Answer"/>
                </td>
                <td>
                    <textarea class="form-control" rows="4" ng-model="question.optionText" placeholder="Input Option, Every option per line"></textarea>
                </td>
                <td><a style="cursor: pointer;" ng-click="$ctrl.questions.splice($index, 1)" class="text text-danger">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <button type="button" ng-click="$ctrl.questions.push({title: '', answer: '', optionText: ''})" class="btn btn-default">Add more</button>
        <button type="button" data-loading-text="processing..." class="button-submit btn btn-primary" ng-click="$ctrl.save()">Save MCQ Form</button>
    </div>
</div>