<h2 ng-show="$ctrl.moduleId">Module : {{ $ctrl.module.title }}</h2>
<div id="module-tasks" class="box nav-tabs-custom" style="border-top: none;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_tasks" data-toggle="tab">Tasks</a></li>
        <li><a href="#tab_task_info" data-toggle="tab">Task Info</a></li>
        <li><a href="#tab_task_add" data-toggle="tab">Add new </a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_tasks">
            <table ng-show="$ctrl.tasks.length" class="table table-bordered">
                <tbody>
                <tr ng-repeat="task in $ctrl.tasks track by $index">
                    <td>{{ task.title }}</td>
                    <td>{{ task.preference|arrayToText:',' }}</td>
                    <td>{{ task.keywords }}</td>
                    <td>
                        <span ng-show="task.type=='mcq'" class="label label-success">MCQ Task</span>
                        <span ng-show="task.type=='assignment'" class="label label-success">Assignment Task</span>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">Action</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <!--<li><a href="javascript:void()" ui-sref="task_edit({module_id: $ctrl.module.id, task_id: task.id})">Edit task</a></li>-->
                                <li><a href="javascript:void()" ng-click="$ctrl.onSelectTask(task.id)">Edit task</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:void()" ng-click="$ctrl.delete(task.id,$index)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row" ng-show="$ctrl.tasks.length">
                <div class="col-sm-6"><div class="dataTables_info">Showing 1 to 10 of {{ $ctrl.total }} modules</div></div>
                <div class="col-sm-6">
                    <div class="dataTables_paginate paging_simple_numbers" ng-bind-html="$ctrl.links" vl-pagination on-click="$ctrl.pagination"></div>
                </div>
            </div>
            <p class="text text-warning" ng-hide="$ctrl.tasks.length">Please select your module</p>
        </div>
        <div class="tab-pane" id="tab_task_info">
            <p class="text text-warning" ng-hide="$ctrl.task.id">Please select task in Task List</p>
            <task-form on-cancle="$ctrl.onCancleInfoTask($event)" ng-if="$ctrl.task.id" module="$ctrl.module" task="$ctrl.task"></task-form>
        </div>
        <div class="tab-pane" id="tab_task_add">
            <task-form ng-if="$ctrl.module.id" module="$ctrl.module" only-create="true"></task-form>
        </div>
    </div>
</div>