<table class="table table-bordered">
    <thead>
        <tr>
            <th>Module Name</th>
            <th style="width: 100px;">Total Tasks</th>
            <th style="width: 100px; width: 100px">Time Start</th>
            <th style="width: 100px; width: 100px">Time End</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="module in ::$ctrl.modules">
            <td ng-bind="module.title"></td>
            <td ng-bind="module.tasks_count" style="width: 100px;"></td>
            <td>{{ module.time_start|formatDate}}</td>
            <td>{{ module.time_end|formatDate}}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="fa fa-gear"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor: pointer;" ui-sref="app.teacher_module.dashboard({course_id: module.parent_id,module_id: module.id})">View Module</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor: pointer;" ui-sref="app.teacher_module.edit({course_id: module.parent_id,module_id: module.id})">Edit Module</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>