<div class="box box-default">
    <div class="box-header">
        <h3 class="box-title">Modules ({{ $ctrl.total }})</h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Lession Name</th>
                    <th style="width: 100px;">Total Tasks</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="module in $ctrl.modules">
                <tr id="module-view-{{ module.id }}" ng-if="$ctrl.viewmodule == module.id">
                    <td colspan="3">
                        <div>
                            <common-module-view module="$ctrl.module" template="common-module-view-theme1.html" on-cancel="$ctrl.cancelViewModule()"></common-module-view>
                        </div>
                    </td>
                </tr>
                <tr ng-hide="$ctrl.viewmodule == module.id">
                    <td ng-bind="module.title"></td>
                    <td ng-bind="module.tasks_count" style="width: 100px;"></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                <i class="fa fa-gear"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor: pointer;" ng-click="$ctrl.viewModule(module.id)">View Lession</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor: pointer;" ui-sref="app.teacher.module_edit({course_id: $ctrl.course_id,id: module.id})">Edit Lession</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <div ng-bind-html="$ctrl.links"></div>
    </div>
</div>
