<div class="col-md-7">
    <div class="box box-widget">
        <div class="box-header with-border">
            <h3 class="box-title">Assigment review box</h3>
        </div>
        <div class="box-body">
            <view-summernote height="800" ng-model="::$ctrl.answer"/>
            <div class="form-group">
                <label for="">Keywords: </label>
                <vl-bootstrap-tagsinput ng-model="::$ctrl.userTask.task.keywords" read-only="true" />
            </div>
            <div class="form-group">
                <label for="">Total Match: <strong ng-bind="$ctrl.totalMatch"></strong></label>
            </div>
        </div>
    </div>
    <div class="box box-widget">
        <div class="box-header with-border">
            <h3 class="box-title">Referencing Box</h3>
        </div>
        <div class="box-body">
            <view-summernote height="300" ng-model="::$ctrl.userTask.reference_box"/>
        </div>
    </div>
    <div class="box box-widget direct-chat direct-chat-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Message Box</h3>
        </div>
        <div class="box-body">
            <div ng-repeat="comment in $ctrl.comments" style="padding: 10px;">
                <div class="direct-chat-msg" ng-if="comment.user.type == 'teacher_1'">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left" ng-bind="comment.user.name"></span>
                        <span class="direct-chat-timestamp pull-right" ng-bind="comment.created_at|formatDate:'DD-MM-YYYY H:I:S'">23 Jan 2:00 pm</span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="components/AdminLTE/dist/img/avatar.png" />
                    <div class="direct-chat-text" ng-bind="comment.message"></div>
                    <!-- /.direct-chat-text -->
                </div>
                <div class="direct-chat-msg right" ng-if="comment.user.type == 'learner'">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-right" ng-bind="comment.user.name"></span>
                        <span class="direct-chat-timestamp pull-left" ng-bind="comment.created_at|formatDate:'DD-MM-YYYY H:I:S'"></span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="components/AdminLTE/dist/img/avatar5.png" /><!-- /.direct-chat-img -->
                    <div class="direct-chat-text"  ng-bind="comment.message"></div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="input-group">
                <input type="text" ng-model="$ctrl.message" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-btn">
                        <button type="button" data-loading-text="sending..." class="button-send btn btn-primary btn-flat" ng-click="$ctrl.send()">Send</button>
                    </span>
            </div>
        </div>
    </div>

</div>
<div class="col-md-5">
    <div id="submission-user-form" class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Update Box</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label for="">Teacher Feedback (use for Master File)</label>
                <textarea rows="5" class="form-control" ng-model="$ctrl.form.teacher_comment"></textarea>
            </div>
            <div class="form-group">
                <label for="">Choose Grade</label>
                <select ng-model="$ctrl.form.grade" ng-options="grade.value as grade.label for grade in $ctrl.grades" class="form-control"></select>
            </div>
            <div class="form-group">
                <button type="button" ng-click="$ctrl.cancle()" class="btn btn-default">Cancel</button>
                <button type="button" ng-click="$ctrl.submit()" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
    <div class="box box-widget">
        <div class="box-header with-border">
            <h3 class="box-title">
                Presentation Files
            </h3>
        </div>
        <div class="box-body no-padding">
            <table class="table table-bordered">
                <tbody>
                <tr ng-repeat="file in ::$ctrl.userTask.files">
                    <td>
                        <a href="api/filemanager/download-no-auth?path={{ file }}" ng-bind="file|imageName" title="Download" target="_blank"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>