<div id="submission-user-tasks" class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title">Task List</h3>
        <br>
        <p>Student: <strong>{{ $ctrl.user.name }}</strong></p>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr ng-repeat="usertask in $ctrl.userTasks track by $index">
                    <td>{{ usertask.task.lo.title }}</td>
                    <td>{{ usertask.task.lo.scenarios }}</td>
                    <td>{{ usertask.task.title }}</td>
                    <td>{{ usertask.task.question }}</td>
                    <td>{{ usertask.teacher_comment }}</td>
                    <td>{{ usertask.grade }}</td>
                    <td>
                        <a style="cursor: pointer;" ng-if="usertask.task.type == 'assignment'" class="text text-primary" ui-sref="app.teacher_course.submission_review({course_id: $ctrl.course_id,id: usertask.id})">Review</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="col-sm-6"><div class="dataTables_info">Showing 1 to 10 of {{ $ctrl.total }} Task</div></div>
            <div class="col-sm-6">
                <div class="dataTables_paginate paging_simple_numbers" ng-bind-html="$ctrl.links" vl-pagination on-click="$ctrl.pagination"></div>
            </div>
        </div>
    </div>
</div>
