<div id="submission-user-tasks" class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title">Submission Box</h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Student Info</th>
                    <th>Status ( outstanding) %</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usertask in $ctrl.userTasks track by $index">
                    <td>{{ usertask|parser:'user.name' }}</td>
                    <td>Processed <strong ng-bind="usertask.process"></strong> of <strong ng-bind="usertask.count_task"></strong>tasks</td>
                    <td>
                        <a style="cursor: pointer; padding-right: 10px; font-size: 17px" class="text text-primary" ng-click="$ctrl.viewDetail(usertask.user)"><i class="fa fa-search"></i></a>
                        <a title="Download Master File" style="cursor: pointer; font-size: 17px" class="text text-primary" ng-click="$ctrl.downloadExcel(usertask.user)"><i class="fa fa-download"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="col-sm-6"><div class="dataTables_info">Showing 1 to 10 of {{ $ctrl.total }} Task</div></div>
            <div class="col-sm-6">
                <div class="dataTables_paginate paging_simple_numbers" ng-bind-html="$ctrl.links" vl-pagination on-click="$ctrl.pagination"></div>
            </div>
        </div>
    </div>
</div>
