<div id="task-form" class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title" ng-hide="$ctrl.task.id">Add Task for Module {{ ::$ctrl.module.title }}</h3>
        <h3 class="box-title" ng-show="$ctrl.task.id">Update Task</h3>
    </div>
    <div class="box-body">
        <div class="col-md-6">
            <div class="form-group" ng-hide="$ctrl.hasmodule">
                <label for="">Select Module</label>
                <select class="form-control" ng-options="module.id as module.title for module in ::$ctrl.modules" ng-model="$ctrl.module_id"></select>
            </div>
            <div class="form-group">
                <label for="">Choose Learning Outcome Scenarios</label>
                <select class="form-control" ng-model="$ctrl.task.lo_id" ng-options="lo.id as lo.title for lo in $ctrl.los"></select>
            </div>
            <div class="form-group">
                <label for="title">Task Type</label>
                <select class="form-control" ng-options="type.key as type.label for type in $ctrl.types" ng-model="$ctrl.task.type"></select>
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" ng-model="$ctrl.task.title" class="form-control" />
            </div>
            <div class="form-group">
                <label for="title">Scenarios if any</label>
                <textarea class="form-control" ng-model="$ctrl.task.scenarios"></textarea>
            </div>
            <div class="form-group">
                <label for="title">Question?</label>
                <input type="text" ng-model="$ctrl.task.question" class="form-control" />
            </div>
            <div class="form-group">
                <label for="title">Lecture Recommendation</label>
                <textarea class="form-control" ng-model="$ctrl.task.lecture_recommendation"></textarea>
            </div>
            <div class="form-group">
                <label for="title">Keywords</label>
                <!--<vl-bootstrap-tagsinput ng-model="$ctrl.task.keywords"/>-->
                <vl-bootstrap-tagsinput ng-model="$ctrl.task.keywords"/>
            </div>
            <div class="form-group">
                <label for="title">Sort</label>
                <input type="number" ng-model="$ctrl.task.sort" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <h2>Reference</h2>
            <table class="table table-bordered">
                <tbody>
                <tr ng-repeat="meta in $ctrl.task.preference track by $index">
                    <td>
                        <div class="form-group">
                            <label for="title">Name</label>
                            <input type="text" ng-model="meta.name" class="form-control" />
                        </div>
                    </td>
                    <td>
                        <div ng-if="meta.type=='refer'">
                            <div class="form-group">
                                <label for="title">Link</label>
                                <select class="form-control" ng-options="module.id as module.title for module in ::$ctrl.modules" ng-model="meta.module_id"></select>
                                <input type="text" class="hide" ng-model="meta.course_id" ng-value="$ctrl.course_id" class="form-control" />
                            </div>
                        </div>
                        <div ng-if="meta.type=='link'">
                            <div class="form-group">
                                <label for="title">Link</label>
                                <input type="text" ng-model="meta.href" class="form-control" />
                            </div>
                        </div>
                        <vl-upload-file ng-if="meta.type=='upload'" ng-model="meta.path" url="/api/teacher/filemanager/upload-storage"></vl-upload-file>
                    </td>
                    <td>
                        <a style="cursor: pointer;" class="text text-danger" ng-click="$ctrl.task.preference.splice($index, 1)">Remove</a>
                    </td>
                </tr>
                </tbody>
                <tfooter>
                    <tr>
                        <td colspan="2">
                            <button type="button" ng-click="$ctrl.task.preference.push({name: '', type: 'refer', course_id: $ctrl.course_id, module_id: 0})">Add Refer Lessons</button>
                            <button type="button" ng-click="$ctrl.task.preference.push({name: '', type: 'upload'})">Add File Upload</button>
                            <button type="button" ng-click="$ctrl.task.preference.push({name: '', type: 'link', href: '#'})">Add Custom Url</button>
                        </td>
                    </tr>
                </tfooter>
            </table>
        </div>
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="col-md-6">
                <a style="cursor: pointer;" class="btn btn-default" ng-show="$ctrl.onCancle" ng-click="$ctrl.cancle()">Back</a>
                <button type="button" ng-show="$ctrl.task.id" class="button-submit btn btn-primary" ng-click="$ctrl.save()">Update</button>
                <button type="button" ng-hide="$ctrl.task.id" ng-click="$ctrl.save()" class="button-submit btn btn-primary">Create</button>
            </div>
            <div class="col-md-6 pull-right" style="text-align: right">
                <button type="button" ng-show="$ctrl.task.id" class="btn btn-danger" ng-click="$ctrl.delete()">Delete</button>
            </div>
        </div>
        <!--<a href="#" class="btn btn-default" ui-sref="task_list({module_id: $ctrl.module.id})">Cancel</a>-->
    </div>
</div>
<mqc-form task="::$ctrl.task" ng-if="$ctrl.task.id && $ctrl.task.type == 'mcq' " />