<div class="box box-default">
    <div class="box-header">
        <h3 class="box-title">Tasks</h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>
            <tr ng-repeat="task in $ctrl.tasks track by $index">
                <td>{{ ::task.title }}</td>
                <td>{{ ::task.preference|arrayToText:',' }}</td>
                <td>{{ ::task.keywords }}</td>
                <td>
                    <span ng-show="task.type=='mcq'" class="label label-success">MCQ Task</span>
                    <span ng-show="task.type=='assignment'" class="label label-success">Assignment Task</span>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">Action</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="javascript:void()" ui-sref="task_edit({module_id: task.post_id, task_id: task.id})">Edit</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:void();" ng-click="$ctrl.delete(task.id,$index)">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer" ng-show="$ctrl.links" ng-bind-html="$ctrl.links"></div>
</div>