<teacher-nav />
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            All Master File
            <small>You are all master files page</small>
        </h1>
        <ol class="breadcrumb">
            <li><a style="cursor: pointer" ui-sref="app.teacher_dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">All Master Files</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <teacher-info />
            </div>
            <div class="col-lg-9 col-sm-9">
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <h3 class="box-title">All Master Files</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Course Name</th>
                                <th>Processed</th>
                                <th style="max-width: 100px;width: 100px"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="master_file in $ctrl.master_files">
                                <td ng-bind="master_file.user.name"></td>
                                <td ng-bind="master_file.course.title"></td>
                                <td>Processed <strong ng-bind="master_file.processed"></strong> of <strong ng-bind="master_file.course_count"></strong> Tasks</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                            <i class="fa fa-gear"></i>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" style="position: initial;">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor: pointer;" ng-click="$ctrl.download(master_file.user_id, master_file.post_id)">Download Master File</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="col-md-12">
                            <div vl-pagination on-click="$ctrl.paginate" ng-bind-html="$ctrl.links"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
