<div id="learner-courses" class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title">Master File Config</h3>
    </div>
    <div class="box-body">
        <div class="form-group">
            <label for="title">Intake / Class</label>
            <input type="text" ng-model="$ctrl.config.intake_class" class="form-control" />
        </div>
        <div class="form-group">
            <label for="title">Module / Unit</label>
            <input type="text" ng-model="$ctrl.config.module_unit" class="form-control" />
        </div>
        <div class="form-group">
            <label for="title">Lecture Name</label>
            <input type="text" ng-model="$ctrl.config.lecture_name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="title">Date Submitted</label>
            <input type="text" ng-model="$ctrl.config.date_submitted" class="form-control" />
        </div>
        <div class="form-group">
            <label for="title">Date Due</label>
            <input type="text" ng-model="$ctrl.config.date_due" class="form-control" />
        </div>
    </div>
    <div class="box-footer with-border">
        <button type="button" ng-click="$ctrl.save()" class="btn btn-flat btn-primary">Save</button>
    </div>
</div>