<div class="row">
    <div class="col-sm-12 col-xs-12">
        <div class="box box-widget">
            <div class="box-header with-border">
                <h3 class="box-title">Module Overview</h3>
                <div class="pull-right box-tools">
                    <a style="cursor: pointer;" class="btn btn-info btn-sm" ui-sref="app.teacher_module.create_lo({course_id: $resolve.course.id, module_id: $resolve.module.id})">Add LO</a>
                    <a style="cursor: pointer;" class="btn btn-info btn-sm" ui-sref="app.teacher_module.edit({course_id: $resolve.course.id, module_id: $resolve.module.id})">Edit Module</a>
                </div>
            </div>
            <div class="box-body">
                <view-summernote height="500" ng-model="::$resolve.module.content"/>
            </div>
        </div>
        <div class="box box-widget">
            <div class="box-header with-border">
                <h3 class="box-title">Task List</h3>
                <div class="pull-right box-tools">
                    <a style="cursor: pointer;" class="btn btn-primary btn-sm" ui-sref="app.teacher_module.create_task({course_id: $resolve.course.id, module_id: $resolve.module.id})">Create New Task</a>
                </div>
            </div>
            <div class="box-body no-padding">
                <teacher-task-list module="::$resolve.module"/>
            </div>
        </div>
        <div class="box box-widget">
            <div class="box-header with-border">
                <h3 class="box-title">Task Merit List</h3>
                <div class="pull-right box-tools">
                    <a style="cursor: pointer;" class="btn btn-success btn-sm" ui-sref="app.teacher_module.create_task_merit({course_id: $resolve.course.id, module_id: $resolve.module.id})">Create Merit Task</a>
                </div>
            </div>
            <div class="box-body no-padding">
                <teacher-task-list module="::$resolve.module" merit="true"/>
            </div>
        </div>
        <div class="box box-widget">
            <div class="box-header with-border">
                <h3 class="box-title">Task Distinction List</h3>
                <div class="pull-right box-tools">
                    <a style="cursor: pointer;" class="btn btn-warning btn-sm" ui-sref="app.teacher_module.create_task_diction({course_id: $resolve.course.id, module_id: $resolve.module.id})">Create Diction Task</a>
                </div>
            </div>
            <div class="box-body no-padding">
                <teacher-task-list module="::$resolve.module" diction="true"/>
            </div>
        </div>
    </div>
</div>
