<teacher-nav />
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            {{ ::$resolve.module.title }}
            <small>You are module page</small>
        </h1>
        <ol class="breadcrumb">
            <li><a style="cursor: pointer" ui-sref="app.teacher_dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a style="cursor: pointer" ui-sref="app.teacher_course.dashboard({course_id: $resolve.course.id})"><i class="fa fa-cube"></i> {{ ::$resolve.course.title }}</a></li>
            <li class="active" ng-bind="::$resolve.module.title"></li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <teacher-info/>
                <common-module-preference module="::$resolve.module" />
            </div>
            <div class="col-lg-9 col-sm-9">
                <ui-view></ui-view>
            </div>
        </div>
    </section>
</div>
