<teacher-nav />
<div class="content-wrapper" style="margin-left: 0px;">
    <section class="content-header"><h1>{{ 'Teacher Portal' }}</h1></section>
    <section class="content">
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<div class="box box-primary">-->
                    <!--<img src="/portal/img/banner.jpg" style="width: 100%">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <teacher-courses />
        <!--<vl-news-events-announcements on-click="$ctrl.viewPost($event)"></vl-news-events-announcements>-->
        <!--<div id="common-post-view">-->
            <!--<common-post-view ng-if="$ctrl.postView" post="$ctrl.postView" on-close="$ctrl.closeViewPost()"></common-post-view>-->
        <!--</div>-->
    </section>
</div>
