<header class="main-header">
    <!-- Logo -->
    <a style="cursor: pointer;" class="logo text-center">
        
        <img src="media/img/logo.png" class="img-responsive logoFix" alt="Image">
        
    </a>
    <nav class="navbar navbar-static-top">

        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a style="cursor: pointer;" ui-sref="app.teacher_dashboard">Home</a>
                </li>
                <!--<li>-->
                    <!--<a style="cursor: pointer;">FAQs</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a style="cursor: pointer;">Free Gruide</a>-->
                <!--</li>-->
            </ul>
        </div>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li>
                    <!--<a style="cursor: pointer;" ui-sref="app.teacher_all_master_file_module">All Master Files Module</a>-->
                    <a style="cursor: pointer;" ui-sref="app.teacher_dashboard">All Master Files Module</a>
                </li>
                <li class="dropdown user user-menu">
                    <a style="cursor: pointer;" class="dropdown-toggle hiFix" data-toggle="dropdown">
                        Hi, <span class="hidden-xs" ng-bind="::$ctrl.user.name"></span>
                        <img src="media/img/user2.png" class="user-image" alt="{{ ::$ctrl.user.name }}">

                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="components/AdminLTE/dist/img/avatar5.png" class="img-circle" alt="{{ ::$ctrl.user.name }}">
                            <p ng-bind="::$ctrl.user.name"></p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a style="cursor: pointer;" ui-sref="app.learnerNoneCourse.profile" class="btn btn-default btn-flat" title="{{ ::$ctrl.user.name }}">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a style="cursor: pointer;" ui-sref="logout" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--<div class="navbar-custom-menu navMenuFix">-->
            <!--<ul class="nav navbar-nav">-->
                <!--<li class="dropdown notifications-menu">-->
                    <!--<a style="cursor: pointer;" class="dropdown-toggle notiFixHover" data-toggle="dropdown">-->
                        <!--&lt;!&ndash; <i class="fa fa-bell-o"></i> &ndash;&gt;-->
                        <!--<div class="noti">-->
                            <!--<img src="media/img/noti.png" class="img-responsive notiIconFix" alt="Image">-->
                            <!--<p class="pNoti">9</p>-->
                        <!--</div>-->
                        <!--<img src="media/img/bell.png" class="img-responsive notiFix" alt="Image">-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu dropMenuFix">-->
                        <!--<li class="header text-center headerFix">You have 10 notifications</li>-->
                        <!--<li>-->
                            <!--&lt;!&ndash; inner menu: contains the actual data &ndash;&gt;-->
                            <!--<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;">-->
                                <!--<ul class="menu" style="overflow: hidden; width: 100%; height: 200px; overflow-y: scroll;">-->
                                    <!--<li>-->
                                        <!--<a style="cursor: pointer;">-->
                                            <!--<i class="fa fa-users text-aqua"></i> 5 new members joined today-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a style="cursor: pointer;">-->
                                            <!--<i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause-->
                                            <!--design problems-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a style="cursor: pointer;">-->
                                            <!--<i class="fa fa-users text-red"></i> 5 new members joined-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a style="cursor: pointer;">-->
                                            <!--<i class="fa fa-shopping-cart text-green"></i> 25 sales made-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a style="cursor: pointer;">-->
                                            <!--<i class="fa fa-user text-red"></i> You changed your username-->
                                        <!--</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="footer">-->
                            <!--<a style="cursor: pointer;">View all</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown messages-menu">-->
                    <!--<a style="cursor: pointer;" class="dropdown-toggle notiFixHover" data-toggle="dropdown">-->
                        <!--&lt;!&ndash; <i class="fa fa-envelope-o"></i> &ndash;&gt;-->
                        <!--<div class="noti">-->
                            <!--<img src="media/img/noti.png" class="img-responsive notiIconFix" alt="Image">-->
                            <!--<p class="pNoti">9</p>-->
                        <!--</div>-->
                        <!--<img src="media/img/mail.png" class="img-responsive notiFix" alt="Image">-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu dropMenuFix">-->
                        <!--<li class="header text-center headerFix">You have 4 messages</li>-->
                        <!--<li>-->
                            <!--&lt;!&ndash; inner menu: contains the actual data &ndash;&gt;-->
                            <!--<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;">-->
                                <!--<ul class="menu" style="overflow: hidden; width: 100%; height: 200px; overflow-y: scroll;">-->
                                    <!--<li>-->
                                        <!--&lt;!&ndash; start message &ndash;&gt;-->
                                        <!--<a style="cursor: pointer;">-->
                                            <!--<div class="pull-left">-->
                                                <!--<img src="components/AdminLTE/dist/img/avatar5.png" class="img-circle" alt="User Image">-->
                                            <!--</div>-->
                                            <!--<h4>-->
                                                <!--Support Team-->
                                                <!--<small>-->
                                                    <!--<i class="fa fa-clock-o"></i> 5 mins</small>-->
                                            <!--</h4>-->
                                            <!--<p>Why not buy a new awesome theme?</p>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--&lt;!&ndash; end message &ndash;&gt;-->
                                    <!--<li>-->
                                        <!--<a style="cursor: pointer;">-->
                                            <!--<div class="pull-left">-->
                                                <!--<img src="components/AdminLTE/dist/img/avatar5.png" class="img-circle" alt="User Image">-->
                                            <!--</div>-->
                                            <!--<h4>-->
                                                <!--AdminLTE Design Team-->
                                                <!--<small>-->
                                                    <!--<i class="fa fa-clock-o"></i> 2 hours</small>-->
                                            <!--</h4>-->
                                            <!--<p>Why not buy a new awesome theme?</p>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a style="cursor: pointer;">-->
                                            <!--<div class="pull-left">-->
                                                <!--<img src="components/AdminLTE/dist/img/avatar5.png" class="img-circle" alt="User Image">-->
                                            <!--</div>-->
                                            <!--<h4>-->
                                                <!--Developers-->
                                                <!--<small>-->
                                                    <!--<i class="fa fa-clock-o"></i> Today</small>-->
                                            <!--</h4>-->
                                            <!--<p>Why not buy a new awesome theme?</p>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a style="cursor: pointer;">-->
                                            <!--<div class="pull-left">-->
                                                <!--<img src="components/AdminLTE/dist/img/avatar5.png" class="img-circle" alt="User Image">-->
                                            <!--</div>-->
                                            <!--<h4>-->
                                                <!--Sales Department-->
                                                <!--<small>-->
                                                    <!--<i class="fa fa-clock-o"></i> Yesterday</small>-->
                                            <!--</h4>-->
                                            <!--<p>Why not buy a new awesome theme?</p>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a style="cursor: pointer;">-->
                                            <!--<div class="pull-left">-->
                                                <!--<img src="components/AdminLTE/dist/img/avatar5.png" class="img-circle" alt="User Image">-->
                                            <!--</div>-->
                                            <!--<h4>-->
                                                <!--Reviewers-->
                                                <!--<small>-->
                                                    <!--<i class="fa fa-clock-o"></i> 2 days</small>-->
                                            <!--</h4>-->
                                            <!--<p>Why not buy a new awesome theme?</p>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                                <!--<div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div>-->
                                <!--<div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="footer">-->
                            <!--<a style="cursor: pointer;">See All Messages</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown tasks-menu">-->
                    <!--<a style="cursor: pointer;" class="dropdown-toggle notiFixHover" data-toggle="dropdown">-->
                        <!--&lt;!&ndash; <i class="fa fa-flag-o"></i> &ndash;&gt;-->
                        <!--<div class="noti">-->
                            <!--<img src="media/img/noti.png" class="img-responsive notiIconFix" alt="Image">-->
                            <!--<p class="pNoti">9</p>-->
                        <!--</div>-->
                        <!--<img src="media/img/pin.png" class="img-responsive notiFix" alt="Image">-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu dropMenuFix">-->
                        <!--<li class="header text-center headerFix">You have 9 tasks</li>-->
                        <!--<li>-->
                            <!--&lt;!&ndash; inner menu: contains the actual data &ndash;&gt;-->
                            <!--<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;">-->
                                <!--<ul class="menu" style="overflow: hidden; width: 100%; height: 200px; overflow-y: scroll;">-->
                                    <!--<li>-->
                                        <!--&lt;!&ndash; Task item &ndash;&gt;-->
                                        <!--<a style="cursor: pointer;">-->
                                            <!--<h3>-->
                                                <!--Design some buttons-->
                                                <!--<small class="pull-right">20%</small>-->
                                            <!--</h3>-->
                                            <!--<div class="progress xs">-->
                                                <!--<div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">-->
                                                    <!--<span class="sr-only">20% Complete</span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--&lt;!&ndash; end task item &ndash;&gt;-->
                                    <!--<li>-->
                                        <!--&lt;!&ndash; Task item &ndash;&gt;-->
                                        <!--<a style="cursor: pointer;">-->
                                            <!--<h3>-->
                                                <!--Create a nice theme-->
                                                <!--<small class="pull-right">40%</small>-->
                                            <!--</h3>-->
                                            <!--<div class="progress xs">-->
                                                <!--<div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">-->
                                                    <!--<span class="sr-only">40% Complete</span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--&lt;!&ndash; end task item &ndash;&gt;-->
                                    <!--<li>-->
                                        <!--&lt;!&ndash; Task item &ndash;&gt;-->
                                        <!--<a style="cursor: pointer;">-->
                                            <!--<h3>-->
                                                <!--Some task I need to do-->
                                                <!--<small class="pull-right">60%</small>-->
                                            <!--</h3>-->
                                            <!--<div class="progress xs">-->
                                                <!--<div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">-->
                                                    <!--<span class="sr-only">60% Complete</span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--&lt;!&ndash; end task item &ndash;&gt;-->
                                    <!--<li>-->
                                        <!--&lt;!&ndash; Task item &ndash;&gt;-->
                                        <!--<a style="cursor: pointer;">-->
                                            <!--<h3>-->
                                                <!--Make beautiful transitions-->
                                                <!--<small class="pull-right">80%</small>-->
                                            <!--</h3>-->
                                            <!--<div class="progress xs">-->
                                                <!--<div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">-->
                                                    <!--<span class="sr-only">80% Complete</span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--&lt;!&ndash; end task item &ndash;&gt;-->
                                <!--</ul>-->
                                <!--<div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div>-->
                                <!--<div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="footer">-->
                            <!--<a style="cursor: pointer;">View all tasks</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    </nav>
</header>