<div class="user-panel">
    <div class="pull-left image">
        <img src="/components/AdminLTE/dist/img/avatar5.png" class="img-circle" alt="Hi {{ ::$ctrl.user.name }}">
    </div>
    <div class="pull-left info">
        <p ng-bind="::$ctrl.user.name"></p>
        <a style="cursor: pointer"><i class="fa fa-circle text-success"></i> Profile</a>
        <a style="cursor: pointer" ui-sref="logout"><i class="fa fa-circle text-danger"></i> Logout</a>
    </div>
</div>
<div id="sidebar-menu">
    <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a style="cursor: pointer" ui-sref="app.teacher_dashboard">
                <i class="fa fa-dashboard"></i> <span>Home</span>
            </a>
        </li>
        <li>
            <a style="cursor: pointer" ui-sref="app.teacher.submission({course_id: $ctrl.course_id})">
                <i class="fa fa-dashboard"></i> <span>Submission Box</span>
            </a>
        </li>
        <li>
            <a style="cursor: pointer" ui-sref="app.teacher.master_file_config({course_id: $ctrl.course_id})">
                <i class="fa fa-dashboard"></i> <span>Config Master File</span>
            </a>
        </li>
        <li class="active treeview">
            <a style="cursor: pointer">
                <i class="fa fa-bars"></i> <span>Teacher Action</span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a style="cursor: pointer" ui-sref="app.teacher.module_create({course_id: $ctrl.course_id})">
                        <span>Create Module</span>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer" ui-sref="app.teacher.task_create({course_id: $ctrl.course_id})">
                        <span>Create Task</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="active treeview">
            <a style="cursor: pointer">
                <i class="fa fa-list"></i> <span>Module name</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a style="cursor: pointer" ui-sref="app.teacher.overview_lessions({course_id:$ctrl.course_id})">Overview Lession</a>
                </li>
                <li ng-repeat="module in ::$ctrl.modules" ng-class="{treeview: module.tasks.length, active: module.tasks.length}">
                    <!--<a style="cursor: pointer" title="Edit {{ module.title }}" ui-sref="app.teacher.module_edit({course_id:$ctrl.course_id,id: module.id})" ng-bind="module.title"></a>-->
                    <a style="cursor: pointer" title="View {{ module.title }}" ui-sref="app.teacher.module_view({course_id:$ctrl.course_id,id: module.id})" ng-bind="module.title"></a>
                    <ul class="treeview-menu" ng-if="module.tasks.length">
                        <li ng-repeat="task in module.tasks">
                            <a style="cursor: pointer" title="Edit {{ task.title }}" ui-sref="app.teacher.task_edit({course_id:$ctrl.course_id,module_id: module.id,id: task.id})">
                                {{ task.title }} <span class="label label-info" ng-show="task.type=='mcq'">MCQ</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>