<header class="main-header">
<a style="cursor: pointer;" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>L</b>EARING</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>LEARNING</b></span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
<!-- Sidebar toggle button-->
<a style="cursor: pointer;" class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span>
</a>
<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
    <ul class="nav navbar-nav">
        <li><a style="cursor: pointer;" ui-sref="app.teacher_dashboard">Home</a></li>
        <li><a style="cursor: pointer;" ui-sref="app.teacher_allcourses">All Course</a></li>
        <!--<li><a style="cursor: pointer;" ui-sref="app.teacher_all_master_file">All Master Files</a></li>-->
        <li><a style="cursor: pointer;" ui-sref="app.teacher_all_master_file_module">All Master Files Module</a></li>
        <!--<li>-->
            <!--<a style="cursor: pointer">-->
                <!--Submission Box-->
            <!--</a>-->
        <!--</li>-->
        <!--<li><a style="cursor: pointer;">FAQs</a></li>-->
        <!--<li><a style="cursor: pointer;">Free Gruide</a></li>-->
        <li><a style="cursor: pointer;">Contact</a></li>
    </ul>
</div>
<div class="navbar-custom-menu">
<ul class="nav navbar-nav">
<li class="dropdown user user-menu">
    <a style="cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown">
        <img src="components/AdminLTE/dist/img/avatar5.png" class="user-image" alt="{{ ::$ctrl.user.name }}">
        <span class="hidden-xs" ng-bind="::$ctrl.user.name"></span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img src="components/AdminLTE/dist/img/avatar5.png" class="img-circle" alt="{{ ::$ctrl.user.name }}">

            <p ng-bind="::$ctrl.user.name"></p>
        </li>
        <li class="user-footer">
            <div class="pull-left">
                <a style="cursor: pointer;" ui-sref="app.teacher_profile" class="btn btn-default btn-flat" title="{{ ::$ctrl.user.name }}">Profile</a>
            </div>
            <div class="pull-right">
                <a style="cursor: pointer;" ui-sref="logout" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>
</ul>
</div>
</nav>
</header>