<teacher-nav />
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            All Course
            <small>You are all course page</small>
        </h1>
        <ol class="breadcrumb">
            <li><a style="cursor: pointer" ui-sref="app.teacher_dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">All Courses</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <teacher-info />
            </div>
            <div class="col-lg-9 col-sm-9">
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <h3 class="box-title">All Course</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Course Name</th>
                                    <th>Course Price</th>
                                    <th>URL Payment</th>
                                    <th style="max-width: 100px;width: 100px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="course in $ctrl.courses">
                                    <td ng-bind="course.title"></td>
                                    <td ng-bind="course.price|currency"></td>
                                    <td>
                                        {{ $ctrl.base_uri + '#/enroll-course/' + course.id }}
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-gear"></i>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor: pointer;" ng-click="$ctrl.edit(course.id)">Edit Course</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor: pointer;" ui-sref="app.teacher_course.dashboard({course_id: course.id})">View Course</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="modal-teacherAllcourse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <item-form ng-if="$ctrl.modal == 'update'" item="$ctrl.course" template="app/teacher/theme/course-form-modal.html" on-submit="$ctrl.update($event)" />
    </div>
</div>
