<div class="box box-widget widget-user-2">
    <div class="widget-user-header bg-yellow">
        <div class="widget-user-image">
            <img class="img-circle" src="components/AdminLTE/dist/img/avatar5.png" alt="{{ ::$ctrl.user.name }}">
        </div>
        <h3 class="widget-user-username" ng-bind="::$ctrl.user.name"></h3>
        <h5 class="widget-user-desc" ng-bind="::$ctrl.user.email"></h5>
    </div>
    <div class="box-footer no-padding">
        <ul class="nav">
            <!--<li><a style="cursor: pointer;" ui-sref="app.teacher_course.submission({course_id: })" class="text text-primary">Submission Box</a></li>-->
            <!--<li><a style="cursor: pointer;">Courses <span class="pull-right badge bg-aqua">0</span></a></li>-->
            <!--<li><a style="cursor: pointer;">Modules <span class="pull-right badge bg-blue">0</span></a></li>-->
        </ul>
    </div>
</div>
