<aside class="main-sidebar">
    <section class="sidebar" style="min-height: 600px;">
        <teacher-sidebar></teacher-sidebar>
    </section>
</aside>
<div class="content-wrapper">
    <section class="content-header"><h1 id="page-title">Your are in : <span></span></h1></section>
    <section class="content" style="min-height: 700px;">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ui-view></ui-view>
            </div>
        </div>
    </section>
</div>
