<table class="table table-bordered">
    <tbody>
        <tr ng-repeat="task in $ctrl.tasks">
            <td ng-bind="task.lo.title" ></td>
            <td ng-bind="task.lo.scenarios"></td>
            <td>{{ task.title }}</td>
            <td ng-bind="task.question"></td>
            <!--<td>-->
                <!--<span ng-show="task.type=='mcq'" class="label label-success">MCQ Task</span>-->
                <!--<span ng-show="task.type=='assignment'" class="label label-success">Assignment Task</span>-->
            <!--</td>-->
            <td style="max-width: 30px;width: 30px;" ng-bind="task.sort" align="center"></td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-gear"></i>
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a style="cursor: pointer;" ui-sref="app.teacher_module.edit_task({course_id: $ctrl.module.parent_id,module_id: task.post_id, id: task.id})">Edit</a></li>
                        <li class="divider"></li>
                        <li><a style="cursor: pointer;" ng-click="$ctrl.delete(task.id,$index, task.title)">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="col-md-12">
    <div vl-pagination on-click="$ctrl.paginate" ng-bind-html="$ctrl.links"></div>
</div>
