<div id="teacher-courses" class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Courses</h3>
    </div>
    <div class="box-body">
        <div class="col-md-3" ng-repeat="course in ::$ctrl.courses">
            <div class="small-box bg-aqua" style="background: url(/{{course.image}}) no-repeat center center;">
                <div class="inner">
                    <h3 ng-bind="course.title"></h3>
                </div>
                <div class="icon">
                    <i class="fa fa-cubes"></i>
                </div>
                <a style="cursor: pointer;" class="small-box-footer" ui-sref="app.teacher_course.dashboard({course_id: course.id})">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>