<table class="table table-bordered">
    <thead>
        <tr>
            <th>Course Name</th>
            <th style="min-width: 100px"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="course in $ctrl.courses">
            <td ng-bind="course.title"></td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Action</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a style="cursor: pointer;" ui-sref="app.teacher_course.edit({course_id: course.id})">Edit Course</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>