<teacher-nav />
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            {{ ::$resolve.course.title }}
            <small>You are course page</small>
        </h1>
        <ol class="breadcrumb">
            <li><a style="cursor: pointer" ui-sref="app.teacher_dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">All Courses</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <teacher-info />
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <h3 class="box-title">Menu</h3>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav">
                            <li><a style="cursor: pointer;" ui-sref="app.teacher_course.dashboard({course_id: $resolve.course.id})" class="text text-primary">View Course</a></li>
                            <li><a style="cursor: pointer;" ui-sref="app.teacher_course.submission({course_id: $resolve.course.id})" class="text text-primary">Submission Box</a></li>
                            <li><a style="cursor: pointer;" ui-sref="app.teacher_course.final_assignment_submission({course_id: $resolve.course.id})" class="text text-primary">Final Assignment Submission</a></li>
                            <li><a style="cursor: pointer;" ui-sref="app.teacher_course.master_file_config({course_id: $resolve.course.id})" class="text text-primary">Master File Config</a></li>
                            <!--<li><a style="cursor: pointer;">Courses <span class="pull-right badge bg-aqua">0</span></a></li>-->
                            <!--<li><a style="cursor: pointer;">Modules <span class="pull-right badge bg-blue">0</span></a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-sm-9">
                <ui-view></ui-view>
            </div>
        </div>
    </section>
</div>
