<!-- COURSE WORK -->
<section class="course-work-mobile padding-bottom-70">
    <div class="select-tool">
        <div class="row">
            <div class="col-xs-3 sub-title">Choose Module</div>
            <div class="col-xs-9">
                <!-- <select-directive group="my-modules"/> -->
                <!-- <p ng-bind="$ctrl.module.id" ng-model="$ctrl.taskFilter.moduler_id"></p> -->
                <!-- <select class="form-control">
                    <option ng-bind="$ctrl.module.title"></option>
                </select> -->
                <module-list2 module="$ctrl.modules" ng-model="$ctrl.taskFilter.moduler_id" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 sub-title">Choose Task</div>
            <div class="col-xs-9">
                <!-- {{$ctrl.taskFilter}} -->
                <task-list ng-model="$ctrl.taskFilter.task_id" moduleid="$ctrl.taskFilter.moduler_id" />
                <!-- <select class="form-control" ng-model="$ctrl.mytasks"
                    ng-options="task.title group by task.type_of_grade for task in $ctrl.tasks">
                </select> -->
                <!-- <select class="form-control">
                    <optgroup label="Task">
                        <option ng-repeat="none in $ctrl.task.none" ng-value="none.id">{{none.title}}</option>
                    </optgroup>
                    <optgroup label="Task Merit">
                        <option ng-repeat="none in $ctrl.task.merit" ng-value="none.id">{{none.title}}</option>
                    </optgroup>
                    <optgroup label="Task Diction">
                        <option ng-repeat="none in $ctrl.task.diction" ng-value="none.id">{{none.title}}</option>
                    </optgroup>
                </select> -->
            </div>
        </div>
        <!-- <button class="w-100 btn btn-default" ng-click="$ctrl.filter()" data-loading-text="Loading...">Choose Task</button> -->
    </div>

    <div ng-if="$ctrl.showCourse =='true'">
        <h3 class="title">Request from the teacher</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- <ul class="info-user">
                    <li>Request from the teacher</li>
                </ul> -->
                <div class="content">
                    <p style="font-weight: bold">Question</p>
                    <p ng-bind="$ctrl.task.question"></p>
                    <p style="font-weight: bold">Scenarios</p>
                    <p ng-bind="$ctrl.task.scenarios"></p>
                    <p style="font-weight: bold">Lecture Recommendation</p>
                    <p ng-bind="$ctrl.task.lecture_recommendation"></p>
                </div>
            </div>
        </div>

        <h3 class="title">Student task</h3>

        <div class="row group-btn">
            <div class="col-xs-4">
                <!-- <button class="w-100 btn btn-warning">Upload</button> -->
                <vl-files-form ng-model="$ctrl.user_task.files" url="/api/learner/filemanager/upload-storage" />
            </div>

            <div class="col-xs-4">
                <button class="w-100 btn btn-default" ng-if="$ctrl.user_task.status == 'draft'" type="button" data-loading-text="processing..."
                    ng-click="$ctrl.save()">Save draft</button>
            </div>

            <div class="col-xs-4">
                <button class="w-100 btn btn-success" ng-if="$ctrl.user_task.status == 'draft'" type="button" data-loading-text="processing..."
                    ng-click="$ctrl.submission()">Submission</button>
            </div>
        </div>

        <!-- <div class="panel panel-default">
            <div class="panel-body">

                <h3>Task {{$ctrl.task.title}}</h3>
                <summernote ng-if="$ctrl.user_task.status == 'draft'" height="500" ng-model="$ctrl.user_task.answer"></summernote>
                <view-summernote height="600" ng-model="::$ctrl.user_task.answer" ng-if="$ctrl.user_task.status == 'submission'" />
                <h3 class="box-title">Insert Reference</h3>
                <view-summernote height="200" ng-model="::$ctrl.user_task.reference_box" ng-if="$ctrl.user_task.status == 'submission'" />
                <summernote ng-if="$ctrl.user_task.status == 'draft'" height="200" ng-model="$ctrl.user_task.reference_box"></summernote>

            </div>
        </div> -->
    </div>

</section>
<!-- END: COURSE WORK -->