<ui-view></ui-view>
<!-- TABS-ICON-FOOTER -->
<section class="tabs-icon-toolbar">
        <ul class="no-margin no-padding">
            <li >
                    <div class="divFix">
                            <img class="imgFix" src="media/img/tabs-icon/my-course-active.png">
                    </div>
                <a class="afix" ng-click="clickUrl('app.learner_mobile.my_course')">
                    <!-- <div class="tabs-icon-img"> -->
                        <!-- <img src="media/img/tabs-icon/my-course.png" alt=""> -->

                    <!-- </div> -->
                    <span class="spanFix">My Course</span>
                </a>
            </li>

            <li >
                    <div class="divFix">
                            <img class="imgFix" src="media/img/tabs-icon/knowledge-active.png">
                    </div>
                <a class="afix" ng-click="clickUrl('app.learner_mobile.eknowledge.courses')">
                    <!-- <div class="tabs-icon-img"> -->
                        <!-- <img src="media/img/tabs-icon/knowledge.png" alt=""> -->

                    <!-- </div> -->
                    <span class="spanFix">E-Book</span>
                </a>
            </li>

            <li >
                <div class="divFix">
                        <img class="imgFix" src="media/img/tabs-icon/course-work-active.png">
                </div>
                <a class="afix" ng-click="clickUrl('app.learner_mobile.course_work')">
                    <!-- <div class="tabs-icon-img"> -->
                        <!-- <img src="media/img/tabs-icon/course-work.png" alt=""> -->

                    <!-- </div> -->
                    <span class="spanFix">Course Work</span>
                </a>
            </li>

            <li >
                    <div class="divFix">
                            <img class="imgFix" src="media/img/tabs-icon/referal-link-active.png">
                    </div>
                <a class="afix" ng-click="clickUrl('app.learner_mobile.referal_ink')">
                    <!-- <div class="tabs-icon-img" > -->
                        <!-- <img src="media/img/tabs-icon/referal-link.png" alt=""> -->

                    <!-- </div> -->
                    <span class="spanFix">Referal Link</span>
                </a>
            </li>

            <li>
                    <div class="divFix">
                            <img class="imgFix" src="media/img/tabs-icon/profile-active.png">
                    </div>
                <a class="afix"  ng-click="clickUrl('app.learner_mobile.profile')">
                    <!-- <div class="tabs-icon-img"> -->
                        <!-- <img src="media/img/tabs-icon/profile.png" alt=""> -->

                    <!-- </div> -->
                    <span class="spanFix">Profile</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- END: TABS-ICON-FOOTER -->
