<!-- PROFILE -->
<section class="profile-mobile padding-bottom-70">
    <article class="profile-top">
        <div class="avatar text-center">
            <img src="http://via.placeholder.com/150x150" alt="">
            <h2 ng-bind="$ctrl.profile.name" ng-if="$ctrl.edit == 'false'"></h2>
            <div class="col-xs-10 col-xs-offset-1">
                <br>
                <div class="form-group" ng-if="$ctrl.edit == 'true'">
                    <input type="text" ng-value="$ctrl.profile.name" ng-model="$ctrl.updateProfile.name" class="form-control">
                </div>
            </div>

            <p>vietnam</p>
        </div>
    </article>

    <article class="profile-info">
        <!-- {{$ctrl.updateProfile}} -->
        <ul>
            <li>
                <span>Mail</span>
                <p ng-bind="$ctrl.profile.email" ></p>
                <!-- <div class="form-group" ng-if="$ctrl.edit == 'true'">
                    <input type="text" ng-value="$ctrl.profile.email" ng-model="$ctrl.updateProfile.email" class="form-control">
                </div> -->

            </li>
            <!-- <li ng-if="$ctrl.edit == 'true'"></li> -->
            <li>
                <span>Password</span>
                <!-- <p ng-bind="$ctrl.profile.email"></p> -->
                <div class="form-group" >
                    <input type="password" ng-model="$ctrl.updateProfile.password" class="form-control">
                </div>

            </li>
            <li>
                <span>Password Confirmation</span>
                <!-- <p ng-bind="$ctrl.profile.email"></p> -->
                <div class="form-group" >
                    <input type="password" ng-model="$ctrl.updateProfile.password_confirmation" class="form-control">
                </div>

            </li>
            <!-- <li>
                <span>Contact</span>
                <p>+84 000 000 000</p>
            </li>

            <li>
                <span>Major</span>
                <p>Finance</p>
            </li>

            <li>
                <span>Process</span>
                <p>Lv 3 Diploma in Business....</p>
            </li>

            <li>
                <span>About</span>
                <p>Empty</p>
            </li> -->
        </ul>
    </article>

    <div class="but-update text-center">
        <button id="btnUpdate" class="btn btn-primary w-100" ng-if="$ctrl.edit == 'false'" ng-click="$ctrl.update()" data-loading-text="Update Form..." >Update</button>
        <button id="btnSave" class="btn btn-primary w-100" ng-if="$ctrl.edit == 'true'" ng-click="$ctrl.save()" data-loading-text="Save..." >Save</button>
    </div>
</section>
<!-- END: PROFILE -->