<section class="my-course-mobile padding-bottom-70">
    <article class="toolbar-search-mobile">
        <module-list ng-model="$ctrl.filter" />
        <br>
    </article>
    <article class="list-item">
        <div class="panel-group" id="eknowledge" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default" ng-repeat="course in ::$ctrl.courses track by $index" ng-if="course.modules[0]">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#eknowledge" href="#collapse-1" aria-expanded="true">
                            <h4>
                                <b>Module list</b>
                            </h4>

                            <div class="clear-fix"></div>
                        </a>
                    </h4>
                </div>
                <div id="collapse-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-1">
                    <div class="panel-body">
                        <ul class="list-group" ng-repeat="module in course.modules">
                            <li class="list-group-item">
                                <!-- <a href="" class="badge">view more</a> -->
                                {{$index+1}}.
                                <a class="badge" ng-show="module.time_start|isBetween:module.time_end" style="cursor: pointer" class="text text-primary"
                                    ng-click="$ctrl.details(module.id)">View Reference </a>
                                <a class="badge badgeFix" ng-hide="module.time_start|isBetween:module.time_end" style="cursor: pointer" class="text text-muted">Registered</a>
                                {{module.title}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </article>
</section>