<!-- COURSE WORK -->
<section class="course-work-mobile padding-bottom-70">
    <div class="select-tool">
        <div class="row">
            <div class="col-xs-3 sub-title">Choose Module</div>
            <div class="col-xs-9">
                <select class="form-control">
                    <option ng-bind="$ctrl.module.title"></option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 sub-title">Choose Task</div>
            <div class="col-xs-9">
                <task-list ng-model="$ctrl.taskFilter.task_id" ng-change="$ctrl.filter()" moduleid="$ctrl.id" />

            </div>
        </div>
        <!-- <button class="w-100 btn btn-default" ng-click="$ctrl.filter()" data-loading-text="Loading...">Choose Task</button> -->
    </div>
    
    <div ng-if="$ctrl.showCourse =='true'">
        <div style="margin-top: 20px;"></div>
        <div class="box box-widget">
            <div class="box-header">
                <h3 class="box-title">Task Reference link</h3>
            </div>
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <tbody>
                        <!-- ngRepeat: doc in ::$ctrl.task.preference -->
                        <tr ng-repeat="doc in $ctrl.task.preference" class="ng-scope">
                            <td>
                                <!-- ngIf: doc.type=='refer' -->
                                <!-- ngIf: doc.type=='upload' -->
                                <!-- ngIf: doc.type=='link' -->
                                <a ng-if="doc.type=='link'" target="_blank" href="https://www.youtube.com/watch?v=nzoJpo8HZK8"
                                    class="ng-binding ng-scope">Leaders view on Corporate Communication</a>
                                <!-- end ngIf: doc.type=='link' -->
                            </td>
                        </tr>
                        <!-- end ngRepeat: doc in ::$ctrl.task.preference -->
                        <tr ng-repeat="doc in $ctrl.task.preference" class="ng-scope">
                            <td>
                                <!-- ngIf: doc.type=='refer' -->
                                <!-- ngIf: doc.type=='upload' -->
                                <!-- ngIf: doc.type=='link' -->
                                <a ng-if="doc.type=='link'" target="_blank" href="https://www.youtube.com/watch?v=j1VCuUPw3Xc"
                                    class="ng-binding ng-scope">School of thoughts on Corporate Communication</a>
                                <!-- end ngIf: doc.type=='link' -->
                            </td>
                        </tr>
                        <!-- end ngRepeat: doc in ::$ctrl.task.preference -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="margin-top: 10px;"></div>
    <common-module-preference ng-if="$ctrl.moduleOfTask" module="$ctrl.moduleOfTask"></common-module-preference>

</section>
<!-- END: COURSE WORK -->