* {
    margin: 0;
    padding: 0
}

html,
body {
    overflow-x: hidden;
}

$color-den:#232323;
$color-xanh:#3399cc;
$color-xam:#999999;
$color-vang:#ffea00;

@font-face {
    font-family: myFont;
    src: url(../fonts/adobe-devanagari_836.otf);
}

@font-face {
    font-family: CaslonFont;
    src: url(../fonts/Adobe-Caslon-Pro-Italic.ttf);
}

@font-face {
    font-family: avenirFont;
    src: url(../fonts/AvenirLTStd-Roman.otf);
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: $color-xanh
}

::selection {
    background-color: $color-xanh;
    color: #fff
}

-webkit-::selection {
    background-color: $color-xanh;
    color: #fff
}

::-moz-selection {
    background-color: $color-xanh;
    color: #fff
}


.navbar-nav>.user-menu .user-image {
    float: right;
    margin-left: 20px;
    margin-right: 0px;
    width: 50px;
    height: 50px;
    margin-top: -17px;
}

.main-header {
    position: relative;
    height: 80px;
    z-index: 1030;
    box-shadow: 5px 3px 5px rgba(102, 102, 102, 0.67);
    -moz-box-shadow: 5px 5px 5px #666;
    -webkit-box-shadow: 5px 3px 5px rgba(102, 102, 102, 0.55);
}

.skin-blue .main-header .navbar .nav>li>a {
    font-family: avenirFont;
    color: #454857;
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}

.skin-blue .main-header .navbar {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efefef+0,d0d0d0+100 */
    background: rgb(239, 239, 239);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(208, 208, 208, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(208, 208, 208, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%, rgba(208, 208, 208, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#d0d0d0', GradientType=0);
    /* IE6-9 */
}

.skin-blue .main-header .logo {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efefef+0,d0d0d0+100 */
    background: rgb(239, 239, 239);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(208, 208, 208, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(208, 208, 208, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%, rgba(208, 208, 208, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#d0d0d0', GradientType=0);
    /* IE6-9 */
    height: 80px;
}

img.img-responsive.logoFix {
    margin: 25px auto;
    max-width: 150px;
}

nav.navbar.navbar-static-top {
    padding-top: 25px;
}

.navbar-nav>li>a {
    padding: 3px 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.skin-blue .main-header .navbar .nav>li>a:hover,
.skin-blue .main-header .navbar .nav>li>a:active,
.skin-blue .main-header .navbar .nav>li>a:focus,
.skin-blue .main-header .navbar .nav .open>a,
.skin-blue .main-header .navbar .nav .open>a:hover,
.skin-blue .main-header .navbar .nav .open>a:focus,
.skin-blue .main-header .navbar .nav>.active>a {

    border-radius: 5px;
    color: #454857;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd3fe+0,d0c9ff+56,d0c9ff+56,d0c9ff+86,d0c9ff+100 */
    background: rgb(255, 211, 254);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255, 211, 254, 1) 0%, rgba(208, 201, 255, 1) 56%, rgba(208, 201, 255, 1) 56%, rgba(208, 201, 255, 1) 86%, rgba(208, 201, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255, 211, 254, 1) 0%, rgba(208, 201, 255, 1) 56%, rgba(208, 201, 255, 1) 56%, rgba(208, 201, 255, 1) 86%, rgba(208, 201, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255, 211, 254, 1) 0%, rgba(208, 201, 255, 1) 56%, rgba(208, 201, 255, 1) 56%, rgba(208, 201, 255, 1) 86%, rgba(208, 201, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd3fe', endColorstr='#d0c9ff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

img.img-responsive.notiFix {
    height: 35px;
}

img.img-responsive.bannerFix {
    width: 100%;
    height: 300px;
    /* margin-left: 50px; */
    /* margin-right: 50px; */
}

.navbar-custom-menu.navMenuFix {
    background: rgba(209, 209, 209, 0.51);
    border-radius: 5px;
    height: 66px;
    margin-top: -20px;
    padding-top: 17px;
    .navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a {
        margin: 10px;
        border-bottom: none; // background: #e1e1e1;
        border-radius: 7px;
    }
}


.navbar-custom-menu>.navbar-nav>li>.dropdown-menu.dropMenuFix {
    top: 70px;
    li.header.text-center.headerFix {
        font-family: avenirFont;
        font-weight: bold;
        height: 50px;
        padding: 18px;
        border-bottom: none;
    }
}

.noti {
    float: left;
    margin-right: 10px;
}

img.img-responsive.notiIconFix {
    height: 25px;
    margin-top: -12px;
}

p.pNoti {
    position: absolute;
    top: -9px;
    color: white;
    left: 21px;
}

.navMenuFix {
    // position: absolute;
    // width: 100%;
    // left: 0;
    // text-align: center;
    // margin:0 auto;
}

li.dropdown.user.user-menu {
    a.dropdown-toggle.hiFix {
        color: #162faf;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: -17px;
    }
}

.uploadFix {
    padding: 50px 30px 0px 30px;
    img.img-responsive {
        margin-left: 6px;
        margin-bottom: 5px;
    }
    h4 {
        font-family: avenirFont;
    }
    hr.hrFix {
        border-top: 3px solid #cccccc;
    }
}

.buttonFix {
    margin-top: 20px;
    .btn {
        float: right;
        margin-left: 20px;
        border: none;
        outline: none !important;
        min-height: 49px;
        font-size: 24px;
        padding: 0 25px;
        -webkit-background-clip: padding-box;
        -webkit-border-radius: 7px;
        -moz-background-clip: padding-box;
        -moz-border-radius: 7px;
        border-radius: 7px;
        background-clip: padding-box;
    }
}

button.button-submit.btn.btn-primary.btnGreen {
    background: #46C463;
}

.mainSubmit {
    padding-left: 30px;
    padding-right: 30px;
    h5 {
        font-family: avenirFont;
    }
}

.boxFix {
    // background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #dcdcdc;
    background-color: #f5f5f5;
    a.file-upload.btn.btn-flat {
        font-size: 18px;
        font-family: avenirFont;
        color: #333;
    }
}



.h3Fix {
    font-family: avenirFont;
    font-weight: bold;
    margin-bottom: 30px;
}

img.img-responsive.loginLogoFix {
    margin: 0 auto;
}

@media (max-width: 767px) {
    .main {
        background: url(../img/mobi-background.png);
        background-size: cover;
        .row.hidden-md.hidden-lg.rowLogoFix {
            padding-top: 30px;
        }
        img.img-responsive.loginLogoFix.fix1 {
            margin-bottom: 20px;
            width: 220px;
        }
        img.img-responsive.loginLogoFix.fix3 {
            width: 60px;
        }
        .col4Fix {
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 50px;
            background: rgba(255, 255, 255, 0.8);
            -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            .logoFix {
                padding-top: 10px;
            }
            img.img-responsive.imgFix {
                margin: 0 auto;
                width: 100%;
                max-width: 600px;
                max-height: 195px;
                object-fit: cover;
                border-radius: 7px;
                margin-top: 20px;
            }
            h3 {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                color: #6b6b6b;
            }
            h4 {
                font-family: 'Source Sans Pro', sans-serif;
                color: #6b6b6b;

                font-size: 14px;
            }
            a:hover,
            a:focus {
                text-decoration: none;
            }
        }
        .col8Fix {
            padding-top: 50px;
            section {
                width: 340px;
                background: none;
                padding: 0 30px 18px 30px;
                margin: 60px auto;
                text-align: center;
                border-radius: 5px;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
            .selFix {
                background: none;
            }
            span {
                display: block;
                position: relative;
                margin: 0 auto;
                top: -70px;
                height: 150px;
                width: 150px;
                background: url(../img/user.png);
                border-radius: 50%;

                border: 10px solid white;
                background-size: cover;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            }

            h1 {
                font-size: 24px;
                font-weight: 100;
                margin-bottom: 30px;
            }

            input {
                width: 100%;
                background: rgba(255, 255, 255, 0.75);
                border: none;
                margin-bottom: 15px; // border-radius: 5px;
                text-align: center;
                font-size: 14px;
                color: #7f8c8d;
                height: 45px;
                border-radius: 10px;
                margin-top: 15px;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                font-size: 16px;
            }

            input:focus {
                outline: none;
            }

            button.btnFix {
                background: rgba(255, 255, 255, 0.46);
            }

            button {
                width: 100%;
                height: 45px;
                border: none;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                font-size: 18px;
                color: #ecf0f1;
                margin-bottom: 15px;
                border-radius: 5px;
                transition: all ease-in-out .2s;
                margin-top: 15px;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b680ff+0,b680ff+29,004eff+100 */
                background: #b680ff;
                /* Old browsers */
                background: -moz-linear-gradient(-45deg, #b680ff 0%, #b680ff 29%, #004eff 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, #b680ff 0%, #b680ff 29%, #004eff 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, #b680ff 0%, #b680ff 29%, #004eff 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b680ff', endColorstr='#004eff', GradientType=1);
                /* IE6-9 fallback on horizontal gradient */
                // border-bottom: 3px solid #2980b9;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            }

            button:focus {
                outline: none;
            }

            button:hover {
                background: #2980b9;
            }
            button.btn.btn-default.registerFix {
                height: 38px;
                text-align: center;
                border-radius: 3px;
                font-size: 14px;
                background-color: #845c3f;
                margin: 0 auto;
                display: inline-block;
                padding: 0 30px;
            }

            h2 {
                font-size: .75em;
            }
            form.formFix {
                margin-top: -50px;
            }
            img.img-responsive.iconFix {
                transition: all ease-in-out .2s;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                border-radius: 50%;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#62a7ca+0,6b47e1+100 */
                background: #62a7ca;
                /* Old browsers */
                background: -moz-linear-gradient(-45deg, #62a7ca 0%, #6b47e1 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, #62a7ca 0%, #6b47e1 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, #62a7ca 0%, #6b47e1 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62a7ca', endColorstr='#6b47e1', GradientType=1);
                /* IE6-9 fallback on horizontal gradient */
            }
            img.img-responsive.iconFix:hover,
            img.img-responsive.iconFix:focus {
                background: #2980b9;
            }
        }
    }
}

@media (min-width: 768px) {
    .main {
        background: url(../img/homepage.jpg);
        background-size: cover;
        .row.hidden-md.hidden-lg.rowLogoFix {
            padding-top: 60px;
        }
        img.img-responsive.loginLogoFix.fix1 {
            margin-bottom: 35px;
        }
        .col4Fix {
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 50px;
            background: rgba(255, 255, 255, 0.8);
            -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            .logoFix {
                padding-top: 10px;
            }
            img.img-responsive.imgFix {
                margin: 0 auto;
                width: 100%;
                max-width: 600px;
                max-height: 195px;
                object-fit: cover;
                border-radius: 7px;
                margin-top: 20px;
            }
            h3 {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                color: #6b6b6b;
            }
            h4 {
                font-family: 'Source Sans Pro', sans-serif;
                color: #6b6b6b;

                font-size: 14px;
            }
            a:hover,
            a:focus {
                text-decoration: none;
            }
        }
        .col8Fix {
            padding-top: 100px;
            section {
                width: 340px;
                background: rgba(236, 240, 241, 0.8);
                padding: 0 30px 18px 30px;
                margin: 60px auto;
                text-align: center;
                border-radius: 5px;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            }
            .selFix {
                background: none;
            }
            span {
                display: block;
                position: relative;
                margin: 0 auto;
                top: -70px;
                height: 200px;
                width: 200px;
                background: url(../img/user.png);
                border-radius: 50%;

                border: 10px solid white;
                background-size: cover;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            }

            h1 {
                font-size: 24px;
                font-weight: 100;
                margin-bottom: 30px;
            }

            input {
                width: 100%;
                background: #ffffff;
                border: none;
                margin-bottom: 15px; // border-radius: 5px;
                text-align: center;
                font-size: 14px;
                color: #7f8c8d;
                height: 45px;
                border-radius: 10px;
                margin-top: 15px;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                font-size: 16px;
            }

            input:focus {
                outline: none;
            }

            button {
                width: 100%;
                height: 45px;
                border: none;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                font-size: 18px;
                color: #ecf0f1;
                margin-bottom: 15px;
                border-radius: 5px;
                transition: all ease-in-out .2s;
                margin-top: 15px;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b680ff+0,b680ff+29,004eff+100 */
                background: #b680ff;
                /* Old browsers */
                background: -moz-linear-gradient(-45deg, #b680ff 0%, #b680ff 29%, #004eff 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, #b680ff 0%, #b680ff 29%, #004eff 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, #b680ff 0%, #b680ff 29%, #004eff 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b680ff', endColorstr='#004eff', GradientType=1);
                /* IE6-9 fallback on horizontal gradient */
                // border-bottom: 3px solid #2980b9;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            }

            button:focus {
                outline: none;
            }

            button:hover {
                background: #2980b9;
            }
            button.btn.btn-default.registerFix {
                height: 38px;
                text-align: center;
                border-radius: 3px;
                font-size: 14px;
                background-color: #845c3f;
                margin: 0 auto;
                display: inline-block;
                padding: 0 30px;
            }

            h2 {
                font-size: .75em;
            }
            form.formFix {
                margin-top: -50px;
            }
            img.img-responsive.iconFix {
                transition: all ease-in-out .2s;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                border-radius: 50%;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#62a7ca+0,6b47e1+100 */
                background: #62a7ca;
                /* Old browsers */
                background: -moz-linear-gradient(-45deg, #62a7ca 0%, #6b47e1 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, #62a7ca 0%, #6b47e1 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, #62a7ca 0%, #6b47e1 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62a7ca', endColorstr='#6b47e1', GradientType=1);
                /* IE6-9 fallback on horizontal gradient */
            }
            img.img-responsive.iconFix:hover,
            img.img-responsive.iconFix:focus {
                background: #2980b9;
            }
        }
    }
}

@media (min-width: 992px) {
    .main {
        background: url(../img/homepage.jpg);
        background-size: cover;
        .col4Fix {
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 50px;
            background: rgba(255, 255, 255, 0.8);
            -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            .logoFix {
                padding-top: 10px;
            }
            img.img-responsive.imgFix {
                margin: 0 auto;
                width: 100%;
                max-width: 600px;
                max-height: 195px;
                object-fit: cover;
                border-radius: 7px;
                margin-top: 20px;
            }
            h3 {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                color: #6b6b6b;
            }
            h4 {
                font-family: 'Source Sans Pro', sans-serif;
                color: #6b6b6b;

                font-size: 14px;
            }
            a:hover,
            a:focus {
                text-decoration: none;
            }
        }
        .col8Fix {
            padding-top: 50px;
            section {
                width: 340px;
                background: rgba(236, 240, 241, 0.8);
                padding: 0 30px 18px 30px;
                margin: 60px auto;
                text-align: center;
                border-radius: 5px;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            }
            .selFix {
                background: none;
            }
            span {
                display: block;
                position: relative;
                margin: 0 auto;
                top: -70px;
                height: 200px;
                width: 200px;
                background: url(../img/user.png);
                border-radius: 50%;

                border: 10px solid white;
                background-size: cover;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            }

            h1 {
                font-size: 24px;
                font-weight: 100;
                margin-bottom: 30px;
            }

            input {
                width: 100%;
                background: #ffffff;
                border: none;
                margin-bottom: 15px; // border-radius: 5px;
                text-align: center;
                font-size: 14px;
                color: #7f8c8d;
                height: 45px;
                border-radius: 10px;
                margin-top: 15px;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                font-size: 16px;
            }

            input:focus {
                outline: none;
            }

            button {
                width: 100%;
                height: 45px;
                border: none;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                font-size: 18px;
                color: #ecf0f1;
                margin-bottom: 15px;
                border-radius: 5px;
                transition: all ease-in-out .2s;
                margin-top: 15px;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b680ff+0,b680ff+29,004eff+100 */
                background: #b680ff;
                /* Old browsers */
                background: -moz-linear-gradient(-45deg, #b680ff 0%, #b680ff 29%, #004eff 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, #b680ff 0%, #b680ff 29%, #004eff 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, #b680ff 0%, #b680ff 29%, #004eff 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b680ff', endColorstr='#004eff', GradientType=1);
                /* IE6-9 fallback on horizontal gradient */
                // border-bottom: 3px solid #2980b9;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            }

            button:focus {
                outline: none;
            }

            button:hover {
                background: #2980b9;
            }
            button.btn.btn-default.registerFix {
                height: 38px;
                text-align: center;
                border-radius: 3px;
                font-size: 14px;
                background-color: #845c3f;
                margin: 0 auto;
                display: inline-block;
                padding: 0 30px;
            }

            h2 {
                font-size: .75em;
            }
            form.formFix {
                margin-top: -50px;
            }
            img.img-responsive.iconFix {
                transition: all ease-in-out .2s;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                border-radius: 50%;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#62a7ca+0,6b47e1+100 */
                background: #62a7ca;
                /* Old browsers */
                background: -moz-linear-gradient(-45deg, #62a7ca 0%, #6b47e1 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, #62a7ca 0%, #6b47e1 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, #62a7ca 0%, #6b47e1 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62a7ca', endColorstr='#6b47e1', GradientType=1);
                /* IE6-9 fallback on horizontal gradient */
            }
            img.img-responsive.iconFix:hover,
            img.img-responsive.iconFix:focus {
                background: #2980b9;
            }
        }
    }
}

@media (min-width:1200px) {
    .main {
        background: url(../img/homepage.jpg);
        background-size: cover;
        .col4Fix {
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 50px;
            background: rgba(255, 255, 255, 0.8);
            -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            .logoFix {
                padding-top: 10px;
            }
            img.img-responsive.imgFix {
                margin: 0 auto;
                width: 100%;
                max-width: 600px;
                max-height: 195px;
                object-fit: cover;
                border-radius: 7px;
                margin-top: 20px;
            }
            h3 {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                color: #6b6b6b;
            }
            h4 {
                font-family: 'Source Sans Pro', sans-serif;
                color: #6b6b6b;

                font-size: 14px;
            }
            a:hover,
            a:focus {
                text-decoration: none;
            }
        }
        .col8Fix {
            padding-top: 50px;
            section {
                width: 340px;
                background: rgba(236, 240, 241, 0.8);
                padding: 0 30px 18px 30px;
                margin: 60px auto;
                text-align: center;
                border-radius: 5px;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            }
            .selFix {
                background: none;
            }
            span {
                display: block;
                position: relative;
                margin: 0 auto;
                top: -70px;
                height: 200px;
                width: 200px;
                background: url(../img/user.png);
                border-radius: 50%;

                border: 10px solid white;
                background-size: cover;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            }

            h1 {
                font-size: 24px;
                font-weight: 100;
                margin-bottom: 30px;
            }

            input {
                width: 100%;
                background: #ffffff;
                border: none;
                margin-bottom: 15px; // border-radius: 5px;
                text-align: center;
                font-size: 14px;
                color: #7f8c8d;
                height: 45px;
                border-radius: 10px;
                margin-top: 15px;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                font-size: 16px;
            }

            input:focus {
                outline: none;
            }

            button {
                width: 100%;
                height: 45px;
                border: none;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                font-size: 18px;
                color: #ecf0f1;
                margin-bottom: 15px;
                border-radius: 5px;
                transition: all ease-in-out .2s;
                margin-top: 15px;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b680ff+0,b680ff+29,004eff+100 */
                background: #b680ff;
                /* Old browsers */
                background: -moz-linear-gradient(-45deg, #b680ff 0%, #b680ff 29%, #004eff 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, #b680ff 0%, #b680ff 29%, #004eff 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, #b680ff 0%, #b680ff 29%, #004eff 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b680ff', endColorstr='#004eff', GradientType=1);
                /* IE6-9 fallback on horizontal gradient */
                // border-bottom: 3px solid #2980b9;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            }

            button:focus {
                outline: none;
            }

            button:hover {
                background: #2980b9;
            }
            button.btn.btn-default.registerFix {
                height: 38px;
                text-align: center;
                border-radius: 3px;
                font-size: 14px;
                background-color: #845c3f;
                margin: 0 auto;
                display: inline-block;
                padding: 0 30px;
            }

            h2 {
                font-size: .75em;
            }
            form.formFix {
                margin-top: -50px;
            }
            img.img-responsive.iconFix {
                transition: all ease-in-out .2s;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                border-radius: 50%;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#62a7ca+0,6b47e1+100 */
                background: #62a7ca;
                /* Old browsers */
                background: -moz-linear-gradient(-45deg, #62a7ca 0%, #6b47e1 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, #62a7ca 0%, #6b47e1 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, #62a7ca 0%, #6b47e1 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62a7ca', endColorstr='#6b47e1', GradientType=1);
                /* IE6-9 fallback on horizontal gradient */
            }
            img.img-responsive.iconFix:hover,
            img.img-responsive.iconFix:focus {
                background: #2980b9;
            }
        }
    }
}

@media (min-width:1400px) {
    .main {
        background: url(../img/homepage.jpg);
        background-size: cover;
        .col4Fix {
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 50px;
            background: rgba(255, 255, 255, 0.8);
            -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            .logoFix {
                padding-top: 10px;
            }
            img.img-responsive.imgFix {
                margin: 0 auto;
                width: 100%;
                max-width: 600px;
                max-height: 195px;
                object-fit: cover;
                border-radius: 7px;
                margin-top: 20px;
            }
            h3 {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                color: #6b6b6b;
            }
            h4 {
                font-family: 'Source Sans Pro', sans-serif;
                color: #6b6b6b;

                font-size: 18px;
            }
            a:hover,
            a:focus {
                text-decoration: none;
            }
        }
        .col8Fix {
            padding-top: 200px;
            section {
                width: 340px;
                background: rgba(236, 240, 241, 0.8);
                padding: 0 30px 18px 30px;
                margin: 60px auto;
                text-align: center;
                border-radius: 5px;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            }
            .selFix {
                background: none;
            }
            span {
                display: block;
                position: relative;
                margin: 0 auto;
                top: -70px;
                height: 200px;
                width: 200px;
                background: url(../img/user.png);
                border-radius: 50%;

                border: 10px solid white;
                background-size: cover;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            }

            h1 {
                font-size: 24px;
                font-weight: 100;
                margin-bottom: 30px;
            }

            input {
                width: 100%;
                background: #ffffff;
                border: none;
                margin-bottom: 15px; // border-radius: 5px;
                text-align: center;
                font-size: 14px;
                color: #7f8c8d;
                height: 45px;
                border-radius: 10px;
                margin-top: 15px;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                font-size: 16px;
            }

            input:focus {
                outline: none;
            }

            button {
                width: 100%;
                height: 45px;
                border: none;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                font-size: 18px;
                color: #ecf0f1;
                margin-bottom: 15px;
                border-radius: 5px;
                transition: all ease-in-out .2s;
                margin-top: 15px;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b680ff+0,b680ff+29,004eff+100 */
                background: #b680ff;
                /* Old browsers */
                background: -moz-linear-gradient(-45deg, #b680ff 0%, #b680ff 29%, #004eff 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, #b680ff 0%, #b680ff 29%, #004eff 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, #b680ff 0%, #b680ff 29%, #004eff 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b680ff', endColorstr='#004eff', GradientType=1);
                /* IE6-9 fallback on horizontal gradient */
                // border-bottom: 3px solid #2980b9;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
            }

            button:focus {
                outline: none;
            }

            button:hover {
                background: #2980b9;
            }
            button.btn.btn-default.registerFix {
                height: 38px;
                text-align: center;
                border-radius: 3px;
                font-size: 14px;
                background-color: #845c3f;
                margin: 0 auto;
                display: inline-block;
                padding: 0 30px;
            }

            h2 {
                font-size: .75em;
            }
            form.formFix {
                margin-top: -50px;
            }
            img.img-responsive.iconFix {
                transition: all ease-in-out .2s;
                -webkit-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                box-shadow: 4px 12px 49px -6px rgba(0, 0, 0, 0.31);
                border-radius: 50%;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#62a7ca+0,6b47e1+100 */
                background: #62a7ca;
                /* Old browsers */
                background: -moz-linear-gradient(-45deg, #62a7ca 0%, #6b47e1 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg, #62a7ca 0%, #6b47e1 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, #62a7ca 0%, #6b47e1 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62a7ca', endColorstr='#6b47e1', GradientType=1);
                /* IE6-9 fallback on horizontal gradient */
            }
            img.img-responsive.iconFix:hover,
            img.img-responsive.iconFix:focus {
                background: #2980b9;
            }
        }
    }
}