<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Login in London Westminster College</h4>
</div>
<div class="modal-body">
    <p class="login-box-msg">Learner Login</p>
    <div class="form-group has-feedback">
        <input type="text" class="form-control" ng-model="$ctrl.item.email" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        <input type="password" ng-model="$ctrl.item.password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-success pull-right" data-loading-text="Processing..." ng-click="$ctrl.submit()"><i class="fa fa-sign-in"></i> Login</button>
</div>

