<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Register in London Westminster College</h4>
</div>
<div class="modal-body">
    <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Full name" ng-model="$ctrl.item.name">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Email"  ng-model="$ctrl.item.email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password"  ng-model="$ctrl.item.password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Retype password" ng-model="$ctrl.item.password_confirmation">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
    </div>
    <!--<div class="form-group">-->
        <!--<div vc-recaptcha ng-model="$ctrl.item['g-recaptcha-response']"></div>-->
    <!--</div>-->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-success pull-right" data-loading-text="Processing..." ng-click="$ctrl.submit()"><i class="fa fa-registered"></i>  Register</button>
</div>