<div class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title">All Courses</h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <tbody ng-repeat="course in $ctrl.courses" ng-if="course.modules[0]">
                <tr style="background-color: #f9f9f9;">
                    <th colspan="2" style="border-top: 1px solid #f4f4f4;">
                        <div>
                            <p><a ui-sref="app.learnerNoneCourse.course_detail({course_id: course.id})"><strong ng-bind="course.title"></strong></a></p>
                            <p ng-bind="course.excerpt"></p>
                        </div>
                    </th>
                    <th style="width: 100px;">
                        <a ng-if="!course.user_course[0]" style="cursor: pointer" class="text text-primary" ng-click="$ctrl.action({action: 'create-course-payment', id: course.id})">Enroll ({{ course.price|currency }})</a>
                    </th>
                </tr>
                <tr ng-repeat="module in course.modules">
                    <td ng-bind="module.title"></td>
                    <!--<td style="width: 50px" ng-bind="module.price|currency"></td>-->
                    <!--<td>-->
                        <!--<a style="cursor: pointer" class="text text-primary" ng-click="$ctrl.action({action: 'create-payment', id: module.id})">Enroll ({{ module.price|currency }})</a>-->
                    <!--</td>-->
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="learner-allcourses-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modelFix" role="document">
        <div class="modal-content">
            <item-form ng-if="$ctrl.modal == 'create-payment'" template="app/learner/theme/create-payment.html" on-submit="$ctrl.createPayment($event)" item="$ctrl.module" item2="$ctrl.user"></item-form>
            <item-form ng-if="$ctrl.modal == 'create-course-payment'" template="app/learner/theme/create-course-payment.html" on-submit="$ctrl.createCoursePayment($event)" item="$ctrl.course" item2="$ctrl.user"></item-form>
        </div>
    </div>
</div>