<div class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title">{{ ::$ctrl.course.title }}</h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <tbody><tr>
                <th style="width: 10px">LO</th>
                <th></th>
                <th>Task</th>
            </tr>
            <tr ng-repeat="module in ::$ctrl.course.modules track by $index">
                <td>{{$index + 1}}</td>
                <td ng-bind="module.title"></td>
                <td>
                    <common-tasks-by-module module="::module" template="lists_task_by_module.html" typeuser="learner" stt="$index + 1"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="learner-mymodules-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"></div>
    </div>
</div>
