<section class="payment-page">
    <div class="container-fluid info-pmend">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default info-left-pmend">
                    <p class="title-p"><strong>Please confirm personal information</strong></p>
                    <div class="row">
                        <div class="col-sm-5">Your name</div>
                        <div class="col-sm-7 break-word" ng-bind="$ctrl.item2.name"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">Your Email</div>
                        <div class="col-sm-7 break-word" ng-bind="$ctrl.item2.email"></div>
                    </div>
                    <div class="row">
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default info-right-pmend table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Qty</th>
                                <th>Course</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td>1</td>
                            <td ng-bind="$ctrl.item.title"></td>
                            <td ng-bind="$ctrl.item.price|currency"></td>
                        </tbody>
                    </table>
                    <form class="form-inline text-right">
                        <div class="form-group">
                            <label for="promotionCode" class="lbl-promo">Promotion code</label>
                            <input type="text" class="form-control" ng-model="$ctrl.item.promotion_code">
                        </div>
                    </form>
                    <hr>
                    <div class="col-sm-12 text-right">
                        <strong>
                                <span class="sp-med">Total</span>
                                <span ng-bind="$ctrl.item.price|currency"></span>
                            </strong>
                    </div>
                    <div class="clear-fix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid choose-payment">
        <h2 class="title-pmet text-bold">Choose Payment Methods</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel left-pmet">
                    <h3 class="title-pmethod text-center">Online Payment</h3>
                    <div class="row" style="margin-bottom: 85px;">
                        <div class="col-md-6"><img src="media/img/visa.png" alt="" style="cursor: pointer;"></div>
                        <div class="col-md-6"><img src="media/img/paypal.png" alt="" style="cursor: pointer;"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><img src="media/img/master-card.png" alt="" style="cursor: pointer;"></div>
                        <div class="col-md-6"><img src="media/img/american-express.png" alt="" style="cursor: pointer;"></div>
                    </div>
                    <!-- <p class="note-method">
                        Please select a service provider
                        <br> Click the icon you want to select
                    </p> -->
                     <div class="sty-btn-method">
                        <a href="" class="btn btn-primary checkPay" data-loading-text="Loading..." ng-click="$ctrl.submit()" >I choose this method</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel mid-pmet">
                    <h3 class="title-pmethod text-center">Bank Transfer</h3>
                    <form class="form-inline frm-flag">
                        <div class="form-group">
                            <label>please select country</label>
                            <img src="media/img/flag-vn.png" alt="">
                            <img src="media/img/flag-us.png" alt="">
                        </div>
                    </form>
                    <ul>
                        <li>
                            <span>Bank</span>
                            <br>
                            <strong>Hong Leong Bank Bhd</strong>
                        </li>
                        <li>
                            <span>Bank account number</span>
                            <br>
                            <strong>280-00-02882-6</strong>
                        </li>
                        <li>
                            <span>Bank account nam</span>
                            <br>
                            <strong>Learning Awards Academy Sdn Bhd</strong>
                        </li>
                        <li>
                            <span>Swift Code</span>
                            <br>
                            <strong>HLBBMYKLJBU</strong>
                        </li>
                    </ul>
                    <p class="note-method text-center">
                        Please confirm the method,
                        <br> the administrator will contact to confirm with you
                    </p>
                    <div class="sty-btn-method">
                        <!-- <a href="#" class="btn btn-primary">I choose this method</a> -->
                        <a href="" class="btn btn-primary">I choose this method</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel right-pmet">
                    <h3 class="title-pmethod text-center">Payment at the office</h3>
                    <form class="form-inline frm-flag">
                        <div class="form-group">
                            <label>please select country</label>
                            <img src="media/img/flag-vn.png" alt="">
                            <img src="media/img/flag-us.png" alt="">
                        </div>
                    </form>
                    <div class="address-pment">
                        <p class="text-center">
                            <strong>Learning Awards Academy Sdn Bhd </strong>
                            <br> 4-01, Jalan Kebun Teh 1,
                            <br> Pusat Perdagangan Kebun Teh
                            <br> 80250 Johor Bahru, Johor, Malaysia
                        </p>
                    </div>
                    <div class="but-gmap text-center">
                        <a href="">
                                <span>Find us with google map</span>
                                <img src="media/img/gmap.png" alt="" class="">
                            </a>
                    </div>
                    <p class="note-method text-center">
                        Please confirm the method,
                        <br> the administrator will contact to confirm with you
                    </p>
                    <div class="sty-btn-method">
                        <!-- <a href="" class="btn btn-primary">I choose this method</a> -->
                        <a href="" class="btn btn-primary">I choose this method</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>