<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Enroll module <strong ng-bind="$ctrl.item.title"></strong></h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe"></i> LONDON WESTMINSTER COLLEGE.
                <small class="pull-right">Date: <span ng-bind="$ctrl.item.current_date"></span></small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Qty</th>
                    <th>Module</th>
                    <th>Subtotal</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td ng-bind="$ctrl.item.title"></td>
                    <td ng-bind="$ctrl.item.price|currency"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <div class="row">
        <div class="col-xs-6">
            <p class="lead">Payment Methods:</p>
            <img src="components/AdminLTE/dist/img/credit/visa.png" alt="Visa">
            <img src="components/AdminLTE/dist/img/credit/mastercard.png" alt="Mastercard">
            <img src="components/AdminLTE/dist/img/credit/american-express.png" alt="American Express">
            <img src="components/AdminLTE/dist/img/credit/paypal2.png" alt="Paypal">
        </div>
        <div class="col-xs-6">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Total:</th>
                        <td ng-bind="$ctrl.item.price|currency"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-success pull-right" ng-click="$ctrl.submit()"><i class="fa fa-credit-card"></i> Submit Payment</button>
</div>
