<div class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title">All Courses</h3>
    </div>
    <div class="table-responsive no-padding">
        <table class="table table-hover">
            <tbody ng-repeat="course in $ctrl.courses">
                <tr style="background-color: #f9f9f9;" ng-init="course.show_modules = false">
                    <th colspan="2" style="border-top: 1px solid #f4f4f4;">
                        <div>
                            <p><a ng-click="course.show_modules = course.show_modules ? false : true"><strong ng-bind="course.title"></strong></a></p>
                            <p></p>
                        </div>
                    </th>
                </tr>
                <tr ng-if="course.show_modules">
                    <td>
                      <ek-modules-by-course modules="course.modules" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
