<style>
    .content-e-knowledge {
      float: left;
      width: 100%;
      clear: both;
    }
    .content-e-knowledge .page-title h1,
    .content-e-knowledge .page-title h2,
    .content-e-knowledge h2,
    .content-e-knowledge h3,
    .content-e-knowledge h4,
    .content-e-knowledge h5 {
        color: #0f76bb;
        font-family: 'HelveticaBold',arial;
        font-weight: normal;
    }
    .content-e-knowledge .section_title {
        padding: 10px;
        background-image: url('http://learn.awards-uk.com/skin/frontend/default/blanco/images/bg_lesson_section_.png');
        letter-spacing: -2px;
        font-size: 25px;
        line-height: 20px;
        color: #ffffff;
    }
    .content-e-knowledge li {
        padding-left: 10px;
        margin: 0px;
    }
    .content-e-knowledge ul,.content-e-knowledge ol {
        padding-left: 20px;
    }
    iframe {
        width:100%;
        height: auto!important;
    }
</style>
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title" ng-bind="$ctrl.module.title" style="width: 80%;font-weight: bold;word-wrap:break-word;"></h3>
            <button ng-if="!$ctrl.show_description" class="btn btn-default pull-right" ng-click="$ctrl.show_description = true"><i class="fa fa-plus"></i></button>
            <button ng-if="$ctrl.show_description" class="btn btn-default pull-right" ng-click="$ctrl.show_description = false"><i class="fa fa-minus"></i></button>
        </div>
        <div class="box-body" ng-show="$ctrl.show_description">
          <div class="content-e-knowledge">
            <p ng-bind-html="$ctrl.module.learning_outcomes | unsafe"></p>
            <h4 ng-if="$ctrl.module.introduction">Introduction</h4>
            <p ng-bind-html="$ctrl.module.introduction | unsafe" style="text-align:justify"></p>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Lessons</h3>
                <button ng-if="!$ctrl.show_lesson" class="btn btn-default pull-right" ng-click="$ctrl.show_lesson = true"><i class="fa fa-plus"></i></button>
                <button ng-if="$ctrl.show_lesson" class="btn btn-default pull-right" ng-click="$ctrl.show_lesson = false"><i class="fa fa-minus"></i></button>
            </div>
            <div class="box-body" ng-show="$ctrl.show_lesson">
              <table class="table table-bordered">
                  <tbody ng-repeat="lesson in $ctrl.lessons track by $index + 1">
                      <tr ng-if="lesson.id == $ctrl.lesson.id" style="background-color: gainsboro">
                          <td>{{ $index + 1 }}</td>
                          <td ng-bind="lesson.title"></td>
                      </tr>
                      <tr ng-if="lesson.id != $ctrl.lesson.id" ng-click="$ctrl.chooseLesson(lesson)">
                          <td>{{ $index + 1 }}</td>
                          <td ng-bind="lesson.title"></td>
                      </tr>
                  </tbody>
              </table>
            </div>
        </div>
   </div>
   <div class="col-md-8" ng-if="$ctrl.lesson_sections[0].id">
       <div class="box box-primary">
           <div class="box-header with-border">
               <button type="button" ng-if="$ctrl.lesson_section_prev_page_url" ng-click="$ctrl.prevPage()" class="btn btn-default">Prev</button>
               <button type="button" ng-if="$ctrl.lesson_section_next_page_url" ng-click="$ctrl.nextPage()" class="btn btn-default">Next</button>
           </div>
           <div class="box-body">
               <div ng-repeat="lesson_section in $ctrl.lesson_sections">
                    <div class="content-e-knowledge" ng-bind-html="lesson_section.content | unsafe" style="text-align:justify"></div>
               </div>
           </div>
       </div>
  </div>
</div>
