<label>Modules</label>
<table class="table table-bordered" style="word-wrap:break-word;">
    <tbody ng-repeat="module in $ctrl.modules">
        <tr ng-click="$ctrl.viewDetail(module)">
            <td><a ng-bind="module.code"></a></td>
            <td>
                <h4 style="text-align:center"><strong ng-bind="module.title"></strong></h4>
                <p ng-bind-html="module.description | unsafe" style="text-align:justify;"></p>
            </td>
        </tr>
    </tbody>
</table>
