<learner-nav ng-if="$ctrl.isAuth"/>
<div class="login-box">
    <div class="login-logo loginLogoFix">
        <a style="cursor: pointer;"><b>London Westminster College</b></a>
    </div>
    <div class="login-box-body authentication-form">
        <p class="login-box-msg">Need Login & Register to go on</p>
        <p id="login-error" class="alert alert-danger hide"></p>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn bg-orange btn-flat" ng-click="$ctrl.action({action: 'register'})">Register</button> Or
                <button type="button" class="btn bg-olive btn-flat" ng-click="$ctrl.action({action: 'login'})">Login</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <item-form ng-if="$ctrl.modal == 'payment'" on-submit="$ctrl.createCoursePayment($event)" item="$ctrl.course" item="$ctrl.user" template="app/learner/theme/create-course-payment.html"/>
    </div>
</div>
<div class="modal fade" id="learner-enroll-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <item-form ng-if="$ctrl.modal == 'register'" template="app/login/theme/register-modal.html" on-submit="$ctrl.register($event)" item="$ctrl.item"></item-form>
            <item-form ng-if="$ctrl.modal == 'login'" template="app/login/theme/login-modal.html" on-submit="$ctrl.login($event)" item="$ctrl.item"></item-form>
        </div>
    </div>
</div>
