<learner-nav ng-if="$ctrl.isAuth"/>
<div class="main" ng-class="">
    <div class="container-fluid" ng-if="$ctrl.modal == null">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col8Fix">
                <section>
                    <span></span>
                    <form class="formFix">
                        <input ng-model="$ctrl.user.email" placeholder='Email' type='text'>
                        <input ng-model="$ctrl.user.password" placeholder='Password' type='password'>
                    </form>
                    <button ng-click="$ctrl.loginEnroll()">Login now!</button>
                    <br>
                </section>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <item-form ng-if="$ctrl.modal == 'payment'" on-submit="$ctrl.createCoursePayment($event)" item="$ctrl.course" item2="$ctrl.userInfo" template="app/learner/theme/create-course-payment.html"/>
        </div>
    </div>
</div>
