<div class="main" ng-class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col8Fix" style="padding-top: 10px;">
                <section style="width: auto">
                    <br/>
                    <form class="formFix">
                        <input ng-model="$ctrl.form.name" placeholder='Name' type='text' class="form-control" />
                        <input ng-model="$ctrl.form.phone" placeholder='Phone' type='text' class="form-control" />
                        <input ng-model="$ctrl.form.email" placeholder='Email' type='text' class="form-control" />
                        <select ng-model="$ctrl.form.course" ng-options="val as val for (key,val) in $ctrl.courses" placeholder="Choose Course" class="form-control"></select>
                        <input ng-model="$ctrl.form.price" placeholder='Price' type='text' class="form-control" />
                    </form>
                    <button id="btn-generate" ng-click="$ctrl.generate()" data-loading-text="processing..">Generate Link!</button>
                    <br>
                    <div ng-if="$ctrl.guest">
                        <div class="form-group">
                            <label for="">Link Payment</label>
                            <input ng-value="$ctrl.guest.link" placeholder='Name' type='text' class="form-control" />
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
