<div id="learner-courses" class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Master File Config</h3>
    </div>
    <div class="box-body">
        <div class="form-group">
            <label for="title">Student Name</label>
            <input type="text" ng-model="$ctrl.config.student_name" class="form-control" />
        </div>
        <div class="form-group">
            <button type="button" ng-click="$ctrl.save()" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>