<div class="row">
    <div class="col-md-3">
        <item-form template="app/learner/theme/learner-todo-form.html" on-submit="$ctrl.createWork($event)" item="$ctrl.work"></item-form>
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="box box-widget">
            <div class="box-body no-padding">
                <calendar />
            </div>
        </div>
        <!--<div class="box box-widget">-->
            <!--<div class="box-header">-->
                <!--<h3 class="box-title with-border">Todo List</h3>-->
            <!--</div>-->
            <!--<div class="box-body no-padding">-->
                <!--<partial-list items="$ctrl.works" fields="$ctrl.table.fields" actions="$ctrl.table.actions" on-action="$ctrl.action($event)"></partial-list>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
<div class="modal fade" id="learner-todolist-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <item-form ng-if="$ctrl.modal == 'edit'" template="app/learner/theme/learner-todo-form-modal.html" on-submit="$ctrl.updateWork($event)" item="$ctrl.workUpdate"></item-form>
        </div>
    </div>
</div>