<learner-nav />
<!--<aside class="main-sidebar">-->
    <!--<section class="sidebar" style="min-height: 600px;">-->
        <!--<learner-sidebar></learner-sidebar>-->
    <!--</section>-->
<!--</aside>-->
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ui-view></ui-view>
            </div>
        </div>
    </section>
</div>
