
<learner-nav />
<div class="content-wrapper" style="margin-left: 0px;">
    <section class="content">
        <div class="row" style="margin-top: -15px; margin-bottom: 15px; height: 200px; overflow-y: hidden;">
            <img src="portal/img/banner.jpg" style="width: 100%; margin: auto">
        </div>
        <!--<learner-courses />-->
        <div class="row">
            <section class="col-lg-7">
                <my-modules />
                <my-activities />
                <!--<div class="box">-->
                    <!--<div class="box-header">-->
                        <!--<h3 class="box-title">Courses Progress</h3>-->
                    <!--</div>-->
                    <!--<div class="box-body no-padding">-->
                        <!--<table class="table table-condensed">-->
                            <!--<tbody>-->
                                <!--<tr>-->
                                    <!--<th style="width: 10px">#</th>-->
                                    <!--<th>Course Name</th>-->
                                    <!--<th>Progress</th>-->
                                    <!--<th style="width: 40px">Percent</th>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>1.</td>-->
                                    <!--<td><a style="cursor: pointer" href="#/learner/course/1">Course 1 (55 of 100 tasks)</a></td>-->
                                    <!--<td>-->
                                        <!--<div class="progress progress-xs">-->
                                            <!--<div class="progress-bar progress-bar-yellow" style="width: 55%"></div>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                    <!--<td><span class="badge bg-yellow">55%</span></td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>2.</td>-->
                                    <!--<td><a style="cursor: pointer" href="#/learner/course/2">Course 2 (70 of 100 tasks)</a></td>-->
                                    <!--<td>-->
                                        <!--<div class="progress progress-xs">-->
                                            <!--<div class="progress-bar progress-bar-primary" style="width: 70%"></div>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                    <!--<td><span class="badge bg-blue">70%</span></td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>3.</td>-->
                                    <!--<td><a style="cursor: pointer" href="#/learner/course/3">Course 3 (30 of 100 tasks)</a></td>-->
                                    <!--<td>-->
                                        <!--<div class="progress progress-xs progress-striped active">-->
                                            <!--<div class="progress-bar progress-bar-danger" style="width: 30%"></div>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                    <!--<td><span class="badge bg-red">30%</span></td>-->
                                <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<learner-todolist />-->
            </section>
            <section class="col-lg-5">
                <vl-news-events-announcements on-click="$ctrl.viewPost($event)"></vl-news-events-announcements>
            </section>
        </div>
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
        <div id="common-post-view">
            <common-post-view ng-if="$ctrl.postView" post="$ctrl.postView" on-close="$ctrl.closeViewPost()"></common-post-view>
        </div>
    </section>
</div>
