<div class="row">
    <section class="col-lg-6">
        <div class="box box-widget">
            <div class="box-header with-border">
                <h3 class="box-title">Overview Course</h3>
            </div>
            <div class="box-body" ng-bind-html="::$ctrl.content"></div>
        </div>
    </section>
    <section class="col-lg-6">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Assignment Task</h3>
            </div>
            <div class="box-body no-padding">
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Task Name</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td><a style="cursor: pointer">Characteristics of Organization Structure <span class="label label-success">Submission</span></a></td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td><a style="cursor: pointer">Organizational Cultures & Their  Effectiveness <span class="label label-default">draft</span></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>