<div class="user-panel">
    <div class="pull-left image">
        <img src="components/AdminLTE/dist/img/avatar5.png" class="img-circle" alt="Hi {{ ::$ctrl.user.name }}">
    </div>
    <div class="pull-left info">
        <p ng-bind="::$ctrl.user.name"></p>
        <a style="cursor: pointer;" ui-sref="app.learner.profile"><i class="fa fa-circle text-success"></i> Profile</a>
        <a style="cursor: pointer;" ui-sref="logout"><i class="fa fa-circle text-danger"></i> Logout</a>
    </div>
</div>
<section class="sidebar">
    <ul class="sidebar-menu">
        <li class="header">USER NAVIGATION</li>
        <li>
            <a style="cursor: pointer;" ui-sref="app.learner_dashboard">
                <i class="fa fa-dashboard"></i> <span>Home</span>
            </a>
        </li>
        <li>
            <a style="cursor: pointer;" ui-sref="app.learner.course({course_id: $ctrl.course.id})">
                <i class="fa fa-dashboard"></i> <span>Overview Course</span>
            </a>
        </li>
        <li>
            <a style="cursor: pointer;" ui-sref="app.learner.calendar({course_id: $ctrl.course.id})">
                <i class="fa fa-calendar"></i> <span>Calendar</span>
            </a>
        </li>
        <!--<li>-->
        <!--<a style="cursor: pointer;" ui-sref="home.master_file_config({course_id: $ctrl.course.id})">-->
        <!--<i class="fa fa-dashboard"></i> <span>Config Master File</span>-->
        <!--</a>-->
        <!--</li>-->
        <li class="treeview active">
            <a style="cursor: pointer;">
                <i class="fa fa-list"></i> <span>Assestment list</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu menu-open">
                <li ng-repeat="task in $ctrl.tasks">
                    <a style="cursor: pointer;" ng-if="task.type == 'assignment'" ui-sref="app.learner.user_task_assigment({course_id: $ctrl.course.id,id: task.id})">{{ task.title }}</a>
                    <a style="cursor: pointer;" ng-if="task.type == 'mcq'" ui-sref="app.learner.user_task_mcq({course_id: $ctrl.course.id,id: task.id})">{{ task.title }} <span class="label label-info">MCQ</span></a>
                </li>
            </ul>
        </li>
        <li class="treeview active">
            <a style="cursor: pointer;"><i class="fa fa-bars"></i> <span>Module listed</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu menu-open">
                <li ng-repeat="module in $ctrl.modules">
                    <a style="cursor: pointer;" ui-sref="app.learner.user_module({course_id: $ctrl.course.id, id: module.id})">{{ ::module.title }}</a>
                </li>
            </ul>
        </li>
    </ul>
</section>
