<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 ng-hide="$ctrl.item.id" class="modal-title">Add New To Do</h4>
    <h4 ng-show="$ctrl.item.id" class="modal-title">Update <strong ng-bind="::$ctrl.item.todo"></strong></h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="">Name </label>
        <input type="text" class="form-control" ng-model="$ctrl.item.todo"/>
        <label for="">Start Date </label>
        <vl-date ng-model="$ctrl.item.start_date"></vl-date>
        <label for="">End Date </label>
        <vl-date ng-model="$ctrl.item.end_date"></vl-date>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="button" ng-if="!$ctrl.item.id" class="btn btn-primary" ng-click="$ctrl.submit()">Add</button>
    <button type="button" ng-if="$ctrl.item.id" class="btn btn-primary" ng-click="$ctrl.submit()">Update</button>
</div>
