<learner-nav />
<div class="content-wrapper" style="margin-left: 0px;">
    <section class="content">
        <div class="row">
            <section class="col-lg-12">
                <my-modules />
            </section>
        </div>
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
    </section>
</div>
