<div class="box box-widget widget-user-2">
    <div class="widget-user-header bg-yellow">
        <div class="widget-user-image">
            <img class="img-circle" src="components/AdminLTE/dist/img/avatar5.png" alt="{{ ::$ctrl.user.name }}">
        </div>
        <h3 class="widget-user-username" ng-bind="::$ctrl.user.name">Nadia Carmichael</h3>
        <h5 class="widget-user-desc" ng-bind="::$ctrl.user.email">Lead Developer</h5>
    </div>
    <div class="box-footer no-padding" ng-if="$ctrl.learner_info">
        <ul class="nav nav-stacked">
            <li><a style="cursor: pointer;">Courses <span class="pull-right badge bg-aqua" ng-bind="$ctrl.learner_info.count_courses"></span></a></li>
            <li><a style="cursor: pointer;">Modules <span class="pull-right badge bg-blue" ng-bind="$ctrl.learner_info.count_modules"></span></a></li>
        </ul>
    </div>
</div>