<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Create Todo</h3>
    </div>
    <div class="box-body">
        <div class="form-group">
            <label for="">Name </label>
            <input type="text" class="form-control" ng-model="$ctrl.item.todo"/>
            <label for="">Start Date </label>
            <vl-date ng-model="$ctrl.item.start_date"></vl-date>
            <label for="">End Date </label>
            <vl-date ng-model="$ctrl.item.end_date"></vl-date>
        </div>
        <div class="form-group">
            <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                <!--<button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>-->
                <ul class="fc-color-picker" id="color-chooser">
                    <li><a class="text-aqua" style="cursor: pointer;"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-blue" style="cursor: pointer;"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-light-blue" style="cursor: pointer;"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-teal" style="cursor: pointer;"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-yellow" style="cursor: pointer;"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-orange" style="cursor: pointer;"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-green" style="cursor: pointer;"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-lime" style="cursor: pointer;"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-red" style="cursor: pointer;"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-purple" style="cursor: pointer;"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-fuchsia" style="cursor: pointer;"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-muted" style="cursor: pointer;"><i class="fa fa-square"></i></a></li>
                    <li><a class="text-navy" style="cursor: pointer;"><i class="fa fa-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box-footer clearfix with-border">
        <button type="button" ng-if="!$ctrl.item.id" class="btn btn-default pull-right" ng-click="$ctrl.submit()"><i class="fa fa-plus"></i> Add</button>
        <button type="button" ng-if="$ctrl.item.id" class="btn btn-default pull-right" ng-click="$ctrl.submit()"><i class="fa fa-plus"></i> Update</button>
    </div>
</div>
