<table class="table table-bordered">
    <tbody>
    <tr ng-repeat="task in ::$ctrl.tasks track by $index">
        <td>{{$ctrl.stt}}.{{$index + 1}}</td>
        <td>
            <span ng-bind="task.title"></span>
            <span class="label label-success" ng-if="task.user_task[0].status == 'submission'">Submission</span>
        </td>
        <td style="width: 100px;" ng-bind="task.type"></td>
    </tr>
    </tbody>
</table>