<learner-nav />
<div class="content-wrapper">
    <section class="content-header">
        <!-- <h1>
            {{ ::$resolve.task.title }}
            <small>You are task page</small>
        </h1> -->
        <ol class="breadcrumb">
            <li><a style="cursor: pointer"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a style="cursor: pointer" ui-sref="app.learner_module.dashboard({module_id: $resolve.module.id})" ng-bind="::$resolve.module.title"></a></li>
            <li class="active" ng-bind="::$resolve.task.title"></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <ui-view></ui-view>
        </div>
    </section>
</div>