<learner-nav />
<div class="content-wrapper">
    <section class="content-header">
        <!-- <h1>
            {{ ::$resolve.task.title }}
            <small>You are task page</small>
        </h1> -->
        <ol class="breadcrumb">
            <li><a style="cursor: pointer"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a style="cursor: pointer" ui-sref="app.learnerNoneCourse.myModules">My Modules</a></li>
            <li><a style="cursor: pointer" ui-sref="app.learner_module.dashboard({module_id: $resolve.module.id})" ng-bind="::$resolve.module.title"></a></li>
            <li class="active" ng-bind="::$resolve.task.title"></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <!-- <learner-info />
                <user-module module="::$resolve.module"/> -->
                <article class="request-frm-teacher">
                    <h3 class="title">Request from the teacher</h3>
                    <div class="panel">
                        <div class="header">
                            <p>Info</p>
                            <p>Courses: Managing Business Operations</p>
                            <p>ID: 12398128</p>
                            <p>Teacher: Sr Roy</p>
                        </div>
                        <div class="body">
                            <p class="content">
                                Hi Phúc, Tôi cần bạn nghiên cứu về thị trường kinh tế Châu Á nói chung và thị trường việt nam nói riêng, đặt biệt là hãy đọc về các báo cáo tài chính của các ngân hàng. Sau đó hãy viết một luận văn dài 10.000 từ chuyên về chủ đề “ngành ngân hàng việt nam”. Tôi cần bạn phân tích theo hướng tín dụng cho vay, đây sẽ là một đề tài thực tế, bạn có thể có một luận văn cao cấp để trình bày với những đối tác trong tương lai đấy.  Hãy viết cẩn thận và sử dụng từ vựng chính xác. Hạn chót nộp bài là 21/09/2017. Tôi muốn nhận thêm 1 file thuyết trình bằng powerpoint, trong đó có hình ảnh và các số liệu cụ thể. Chúc bạn làm bài tốt!
                            </p>
                            
                        </div>
                    </div>
                    <div class="des1">
                        <div class="col-xs-3 no-padding">
                            <button class="btn btn-default">Back</button>
                        </div>
                        <div class="col-xs-9 no-padding">
                            <p>
                                <span class="des-title">My Modules</span>
                                <span class="des-sub-title">Managing Business Operations / Task1.0</span>
                            </p>
                        </div>
                        <div class="clear-fix"></div>
                    </div>
                    <div>
                        <button class="btn btn-default">Save & Back</button>
                        <button class="btn btn-primary pull-right">Pin to desktop</button>
                    </div>
                </article>
            </div>
            <div class="col-lg-9 col-sm-9">
                <ui-view></ui-view>
            </div>
        </div>
    </section>
</div>