<div id="module-dashboard" class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active" id="li-all-task"><a style="cursor: pointer;" onclick="$('#module-dashboard div.tab-pane,#module-dashboard ul.nav>li').removeClass('active');$('#all-task,#li-all-task').addClass('active');">All Tasks</a></li>
        <li id="li-module-information"><a style="cursor: pointer;" onclick="$('#module-dashboard div.tab-pane,#module-dashboard ul.nav>li').removeClass('active');$('#module-information,#li-module-information').addClass('active');">Module Information</a></li>
        <li id="li-module-final-file">
            <a style="cursor: pointer;"
                onclick="$('#module-dashboard div.tab-pane,#module-dashboard ul.nav>li').removeClass('active');$('#module-final-file,#li-module-final-file').addClass('active');">
                Final Assignment Submission
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="all-task">
            <tasks-by-module module="::$resolve.module"/>
        </div>
        <div class="tab-pane" id="module-information">
            <view-summernote height="800" ng-model="::$resolve.module.content"/>
        </div>
        <div class="tab-pane" id="module-final-file">
            <module-final-file user-module="::$resolve.module.user_module"/>
        </div>
    </div>
</div>
