<input type="file" class="hide" accept="image/*,.pdf,.doc,.docx,.ppt,.pptx,.xls,.xlsx">
<div class="form-group" ng-if="$ctrl.userModule.final_file">
    <label for="">Your Final Assignment</label>
    <input type="text" class="form-control" disabled="disabled" ng-value="$ctrl.userModule.final_file">
</div>
<div class="form-group">
    <button class="btn btn-primary btn-success" ng-click="$ctrl.uploadFile()">
        <i class="fa fa-paperclip"></i>
        Submit Final Assignment
    </button>
</div>