<learner-nav />
<div class="content-wrapper">
    <section class="form-table put-content manager-task">
        <p class="title pull-left" style="padding-top: 30px;">
            <span class="t-left pull-left">Choose your Module</span>
            <button type="" class="btn btn-default pull-left">{{ ::$resolve.module.title }}</button>
        </p>
        <div class="clear-fix"></div>
        <ui-view></ui-view>
    </section>
</div>