<div class="put-content" style="">
    <section class="form-table history-activities">
        <p class="title">
            <span class="t-left pull-left">History of Your Activities</span>
            <a href="" class="pull-right"><em>All History</em></a href="">
            </p>
            <div class="clear-fix"></div>

            <article class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr ng-repeat="activity in ::$ctrl.activities">
                            <td>
                                <img src="media/img/re-tang.png" alt="" ng-if="activity.type=='TYPE_USERMODULE_CREATE'">
                                <img src="media/img/save.png" alt="" ng-if="activity.type=='TYPE_USERTASK_SAVE'">
                                <img src="media/img/document.png" alt="" ng-if="activity.type=='TYPE_USERTASK_SUBMISSION'"> 
                            </td>
                            <td>
                                <a style="cursor: pointer;" ng-if="activity.type == 'TYPE_USERMODULE_CREATE'">Enroll new module</a>
                                <a style="cursor: pointer;" ng-if="activity.type == 'TYPE_USERTASK_SAVE'">New Task Saved</a>
                                <a style="cursor: pointer;" ng-if="activity.type == 'TYPE_USERTASK_SUBMISSION'">New Task Submission</a>
                            </td>
                            <td>12:33 | 12/09/2017</td>
                        </tr>
                    </tbody>
                </table>
            </article>
    </section>
</div>