<ul class="timeline">
    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-red">
        Activities
        </span>
    </li>
    <li ng-repeat="activity in ::$ctrl.activities">
        <i class="fa fa-credit-card bg-blue" ng-if="activity.type=='TYPE_USERMODULE_CREATE'"></i>
        <i class="fa fa-save bg-blue" ng-if="activity.type=='TYPE_USERTASK_SAVE'"></i>
        <i class="fa fa-send-o bg-blue" ng-if="activity.type=='TYPE_USERMODULE_CREATE'"></i>
        <!--<i class="fa fa-envelope bg-blue"></i>-->
        <!--<i class="fa fa-user bg-aqua"></i>-->
        <!--<i class="fa fa-user bg-yellow"></i>-->
        <!--<i class="fa fa-user bg-maroon"></i>-->
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ activity.created_at|formatDate:'DD-MM-YYYY HH:MM:SS'}}</span>
            <h3 class="timeline-header">
                <a style="cursor: pointer;" ng-if="activity.type == 'TYPE_USERMODULE_CREATE'">Enroll new module</a>
                <a style="cursor: pointer;" ng-if="activity.type == 'TYPE_USERTASK_SAVE'">New Task Saved</a>
                <a style="cursor: pointer;" ng-if="activity.type == 'TYPE_USERTASK_SUBMISSION'">New Task Submission</a>
            </h3>
            <!--<div class="timeline-body">-->
                <!--Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,-->
                <!--weebly ning heekya handango imeem plugg dopplr jibjab, movity-->
                <!--jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle-->
                <!--quora plaxo ideeli hulu weebly balihoo...-->
            <!--</div>-->
            <!--<div class="timeline-footer">-->
                <!--<a class="btn btn-primary btn-xs">Read more</a>-->
                <!--<a class="btn btn-danger btn-xs">Delete</a>-->
            <!--</div>-->
        </div>
    </li>
    <li>
        <i class="fa fa-clock-o bg-gray"></i>
    </li>
</ul>