<div class="put-content" style="">
    <section class="form-table learning-process" ng-repeat="course in ::$ctrl.courses" ng-if="course.modules[0]">
        <p class="title">
            <span class="t-left pull-left">Learning Process</span>
            <button type="" class="btn btn-default pull-left">
                <p><strong ng-bind="course.title"></strong></p>
                <p ng-bind="course.excerpt"></p>
            </button>
        </p>
        <div class="clear-fix"></div>
        <article class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Module Name</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Process</th>
                        <th>Status</th>
                    </tr>
                    <tr ng-repeat="module in course.modules">
                        <td style="padding-left: 20px;">
                            <div>
                                <p><i class="fa fa-angle-double-right"></i> {{ module.title }}
                                    <!--<strong>(Time Start: {{ module.time_start|formatDate}})</strong>-->
                                </p>
                            </div>
                        </td>
                        <td ng-bind="module.time_start|formatDate"></td>
                        <td ng-bind="module.time_end|formatDate"></td>
                        <td>
                            {{ module.count_task_submission }} Task Submission of {{ module.count_task }} Task
                            <!--<div class="progress progress-xs">-->
                            <!--<div class="progress-bar progress-bar-yellow" style="width: {{ module.count_task|percent:module.count_task_submission }}%"></div>-->
                            <!--</div>-->
                        </td>
                        <td>
                            <!--<a ng-if="module.time_start|dateIsBefore" style="cursor: pointer" class="text text-primary" ui-sref="app.learner_module.dashboard({module_id: module.id})">View Module</a>-->
                            <!--<a ng-if="module.time_start|dateIsBefore" style="cursor: pointer" class="text text-primary" ui-sref="app.learner_module.dashboard({module_id: module.id})">Completed</a>-->
                            <!--<a ng-if="module.time_start|dateIsAfter" style="cursor: pointer" class="text text-muted">Ongoing</a>-->
                            <a ng-show="module.time_start|isBetween:module.time_end" style="cursor: pointer" class="text text-primary" ui-sref="app.learner_module.dashboard({module_id: module.id})">To Do</a>
                            <a ng-hide="module.time_start|isBetween:module.time_end" style="cursor: pointer" class="text text-muted">Registered</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </section>
</div>