<div class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title">My Modules</h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <tbody ng-repeat="course in ::$ctrl.courses" ng-if="course.modules[0]">
                <tr style="background-color: #f9f9f9;">
                    <th colspan="5" style="border-top: 1px solid #f4f4f4;">
                        <div>
                            <p><strong ng-bind="course.title"></strong></p>
                            <p ng-bind="course.excerpt"></p>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>Module Name</th>
                    <th style="width: 100px; width: 100px">Start Time</th>
                    <th style="width: 100px; width: 100px">End Time</th>
                    <th>Process</th>
                    <th>Status</th>
                </tr>
                <tr ng-repeat="module in course.modules">
                    <td style="padding-left: 20px;">
                        <div>
                            <p><i class="fa fa-angle-double-right"></i>
                                {{ module.title }}
                                <!--<strong>(Time Start: {{ module.time_start|formatDate}})</strong>-->
                            </p>
                        </div>
                    </td>
                    <td style="width: 100px; width: 100px" ng-bind="module.time_start|formatDate"></td>
                    <td style="width: 100px; width: 100px" ng-bind="module.time_end|formatDate"></td>
                    <td>
                        {{ module.count_task_submission }} Task Submission of {{ module.count_task }} Task
                        <!--<div class="progress progress-xs">-->
                            <!--<div class="progress-bar progress-bar-yellow" style="width: {{ module.count_task|percent:module.count_task_submission }}%"></div>-->
                        <!--</div>-->
                    </td>
                    <td>
                        <!--<a ng-if="module.time_start|dateIsBefore" style="cursor: pointer" class="text text-primary" ui-sref="app.learner_module.dashboard({module_id: module.id})">View Module</a>-->
                        <!--<a ng-if="module.time_start|dateIsBefore" style="cursor: pointer" class="text text-primary" ui-sref="app.learner_module.dashboard({module_id: module.id})">Completed</a>-->
                        <!--<a ng-if="module.time_start|dateIsAfter" style="cursor: pointer" class="text text-muted">Ongoing</a>-->
                        <a ng-show="module.time_start|isBetween:module.time_end" style="cursor: pointer" class="text text-primary" ui-sref="app.learner_module.dashboard({module_id: module.id})">Completed</a>
                        <a ng-hide="module.time_start|isBetween:module.time_end" style="cursor: pointer" class="text text-muted">Registered</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="learner-mymodules-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>