<learner-nav />
<div class="content-wrapper" style="margin-left: 0px;">
    <section class="content">
        <div class="row">
            <section class="col-lg-12 text-center">
                <img src="media/img/successPayment.png" class="img-responsive imgSuccess" alt="">
            </section>
            <section class="col-lg-12 text-center">
                <div class="divFix">
                    <table class="tableFix">
                        <tr>
                            <td></td>
                            <td class="thLeft">Thank For:</td> 
                            <td class="thRight" ng-bind="$ctrl.listInfoPayment.name"></td> 
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="thLeft">You are selected:</td>
                            <td class="thRight" ng-if="$ctrl.listInfoPayment.payment_method == 'payment_at_office'"> Pay as Office</td>
                            <td class="thRight" ng-if="$ctrl.listInfoPayment.payment_method == 'bank_transfer'"> Bank Transfer</td>
                            <td class="thRight" ng-if="$ctrl.listInfoPayment.payment_method == 'paypal'"> Paypal</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </section>
            <section class="col-lg-12 text-center col12LogoFix">
                    <div class="col-sm-2 col-sm-offset-3 colHeight"><img src="media/img/lsm.png" class="img-responsive imgLogoFix" alt=""></div>
                    <div class="col-sm-2 colHeight"><img src="media/img/4.png" class="img-responsive imgLogoFix" alt=""></div>
                    <div class="col-sm-2 colHeight"><img src="media/img/laa.png" class="img-responsive imgLogoFix" alt=""></div>          
            </section>
        </div>
    </section>
</div>