<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="box box-widget widget-user-2">
            <div class="widget-user-header bg-aqua-active">
                <div class="widget-user-image">
                    <img class="img-circle" src="media/img/user.png" alt="{{ ::$ctrl.item.name }}">
                </div>
                <h3 class="widget-user-username" ng-bind="::$ctrl.item.name"></h3>
                <h5 class="widget-user-desc" ng-bind="::$ctrl.item.email"></h5>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" ng-model="$ctrl.item.password" class="form-control"/>
                    <label for="">Password Confirmation</label>
                    <input type="password" ng-model="$ctrl.item.password_confirmation" class="form-control"/>
                    <label for="">Full Name</label>
                    <input type="text" ng-model="$ctrl.item.name" class="form-control"/>
                </div>
            </div>
            <div class="box-footer">
                <button type="button" ng-click="$ctrl.submit()"class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>