<div class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title"><label for="" class="label label-info">Tasks</label></h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Task Name</th>
                <th style="width: 100px;">Task Type</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in ::$ctrl.tasks">
                <td>
                    <span ng-bind="task.title"></span>
                    <span class="label label-success" ng-if="task.user_task[0].status == 'submission'">Submission</span>
                </td>
                <td style="width: 100px;" ng-bind="task.type"></td>
                <td style="width: 200px;">
                    <a style="cursor: pointer" ng-if="task.type=='assignment'" ui-sref="app.learner_module_task.task_assigment({module_id: $ctrl.module.id, id: task.id})">View Task</a>
                    <a style="cursor: pointer" ng-if="task.type=='mcq'" ui-sref="app.learner_module_task.task_mcq({module_id: $ctrl.module.id, id: task.id})">View Task</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
    </div>
</div>
<div class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title"><label for="" class="label label-success">Tasks Merit</label></h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Task Name</th>
                <th style="width: 100px;">Task Type</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in ::$ctrl.meritTasks">
                <td>
                    <span ng-bind="task.title"></span>
                    <span class="label label-success" ng-if="task.user_task[0].status == 'submission'">Submission</span>
                </td>
                <td style="width: 100px;" ng-bind="task.type"></td>
                <td style="width: 200px;">
                    <a style="cursor: pointer" ng-if="task.type=='assignment'" ui-sref="app.learner_module_task.task_assigment({module_id: $ctrl.module.id, id: task.id})">View Task</a>
                    <a style="cursor: pointer" ng-if="task.type=='mcq'" ui-sref="app.learner_module_task.task_mcq({module_id: $ctrl.module.id, id: task.id})">View Task</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
    </div>
</div>
<div class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title"><label for="" class="label label-primary">Tasks Diction</label></h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Task Name</th>
                <th style="width: 100px;">Task Type</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in ::$ctrl.dictionTasks">
                <td>
                    <span ng-bind="task.title"></span>
                    <span class="label label-success" ng-if="task.user_task[0].status == 'submission'">Submission</span>
                </td>
                <td style="width: 100px;" ng-bind="task.type"></td>
                <td style="width: 200px;">
                    <a style="cursor: pointer" ng-if="task.type=='assignment'" ui-sref="app.learner_module_task.task_assigment({module_id: $ctrl.module.id, id: task.id})">View Task</a>
                    <a style="cursor: pointer" ng-if="task.type=='mcq'" ui-sref="app.learner_module_task.task_mcq({module_id: $ctrl.module.id, id: task.id})">View Task</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">

    </div>
</div>c