<div class="row">
    <div class="col-sm-2 text-center">
        <div class="task-name task-info">
            <span>Task</span>
        </div>
    </div>
    <div class="col-sm-10 table-responsive">
        <div class="sty-tbl-task">
            <table class="table table-hover">
                <tbody>
                    <tr ng-repeat="task in ::$ctrl.tasks">
                        <td>LO {{ task.lo.scenarios }}</td>
                        <td>
                            <span ng-bind="task.title"></span>
                            <span class="label label-success" ng-if="task.user_task[0].status == 'submission'">Submission</span>
                        </td>
                        <td ng-bind="task.question"></td>
                        <td ng-bind="task.type"></td>
                        <td style="width: 200px;">
                            <a style="cursor: pointer" ng-if="task.type=='assignment'" ui-sref="app.learner_module_task.task_assigment({module_id: $ctrl.module.id, id: task.id})">View</a>
                            <a style="cursor: pointer" ng-if="task.type=='mcq'" ui-sref="app.learner_module_task.task_mcq({module_id: $ctrl.module.id, id: task.id})">View</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2 text-center">
        <div class="task-name task-primary">
            <span>Task Merit</span>
        </div>
    </div>
    <div class="col-sm-10 table-responsive">
        <div class="sty-tbl-task">
            <table class="table table-hover">
                <tbody>
                    <tr ng-repeat="task in ::$ctrl.meritTasks">
                        <td>LO {{ task.lo.scenarios }}</td>
                        <td>
                            <span ng-bind="task.title"></span>
                            <span class="label label-success" ng-if="task.user_task[0].status == 'submission'">Submission</span>
                        </td>
                        <td ng-bind="task.question"></td>
                        <td ng-bind="task.type"></td>
                        <td style="width: 200px;">
                            <a style="cursor: pointer" ng-if="task.type=='assignment'" ui-sref="app.learner_module_task.task_assigment({module_id: $ctrl.module.id, id: task.id})">View</a>
                            <a style="cursor: pointer" ng-if="task.type=='mcq'" ui-sref="app.learner_module_task.task_mcq({module_id: $ctrl.module.id, id: task.id})">View</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2 text-center">
        <div class="task-name task-danger">
            <span>Task Distinction</span>
        </div>
    </div>
    <div class="col-sm-10 table-responsive">
        <div class="sty-tbl-task">
            <table class="table table-hover">
                <tbody>
                    <tr ng-repeat="task in ::$ctrl.dictionTasks">
                        <td>LO {{ task.lo.scenarios }}</td>
                        <td>
                            <span ng-bind="task.title"></span>
                            <span class="label label-success" ng-if="task.user_task[0].status == 'submission'">Submission</span>
                        </td>
                        <td ng-bind="task.question"></td>
                        <td ng-bind="task.type"></td>
                        <td>
                            <a style="cursor: pointer" ng-if="task.type=='assignment'" ui-sref="app.learner_module_task.task_assigment({module_id: $ctrl.module.id, id: task.id})">View</a>
                            <a style="cursor: pointer" ng-if="task.type=='mcq'" ui-sref="app.learner_module_task.task_mcq({module_id: $ctrl.module.id, id: task.id})">View</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>