<div class="col-lg-4 col-sm-4">
    <!-- <learner-info />
                <user-module module="::$resolve.module"/> -->
    <article class="request-frm-teacher">
        <h3 class="title">Request from the teacher</h3>
        <div class="panel" style="padding-top: 0px;">
            <div class="body">
                <p class="content" style="white-space: inherit;">
                    <label for="">Question : </label><br/>
                    <span ng-bind="::$ctrl.task.question" style="text-align: justify; display: inline-block;"></span><br/><br/>
                    <label for="">Scenarios : </label><br/>
                    <span ng-bind="::$ctrl.task.scenarios" style="text-align: justify; display: inline-block;"></span>
                </p>
            </div>
        </div>
        <div class="box box-widget box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Keywords</h3>
            </div>
            <div class="box-body">
                <vl-bootstrap-tagsinput ng-model="::$ctrl.task.keywords" read-only="true" />
            </div>
        </div>
        <common-module-preference module="$ctrl.moduleOfTask"/>
        <div class="box box-widget">
            <div class="box-header">
                <h3 class="box-title">Task Reference link</h3>
            </div>
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <tbody>
                    <tr ng-repeat="doc in $ctrl.task.preference">
                        <td>
                            <a ng-if="doc.type=='refer'" style="cursor: pointer;" ng-click="$ctrl.clickRefer(doc)" target="_blank">{{ doc.name }}</a>
                            <a ng-if="doc.type=='upload'" href="/api/filemanager/download-no-auth?path={{ doc.path }}" target="_blank">{{ doc.name }}</a>
                            <a ng-if="doc.type=='link'" target="_blank" href="{{ doc.href }}" target="_blank">{{ doc.name }}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </article>
</div>
<div class="col-lg-8 col-sm-8">
    <div class="row">
        <section class="col-sm-12">
            <h3 class="h3Fix">LO: {{ ::$ctrl.task.title }}</h3>
            <div class="box box-widget boxFix">
                <div class="box-body">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 uploadFix">
                        <vl-files-form ng-model="$ctrl.user_task.files" url="/api/learner/filemanager/upload-storage"/>

                        <!-- <img src="media/img/upload.png" class="img-responsive" alt="Image"> -->
                        <!-- <h4>Upload</h4> -->
                        <hr class="hrFix">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mainSubmit">
                        <summernote ng-if="$ctrl.user_task.status == 'draft'" height="500" ng-model="$ctrl.user_task.answer"></summernote>
                        <view-summernote height="600" ng-model="::$ctrl.user_task.answer" ng-if="$ctrl.user_task.status == 'submission'" />

                        <!-- <div class="box box-widget">
                            <div class="box-header with-border">
                                <h3 class="box-title">Insert Reference</h3>
                            </div>
                            <div class="box-body">
                                <view-summernote height="200" ng-model="::$ctrl.user_task.reference_box" ng-if="$ctrl.user_task.status == 'submission'"/>
                                <summernote ng-if="$ctrl.user_task.status == 'draft'" height="200" ng-model="$ctrl.user_task.reference_box"></summernote>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>
            <div class="buttonFix clearfix form-group">
                <button ng-if="$ctrl.user_task.status == 'draft'" type="button" data-loading-text="processing..." class="button-submit btn btn-primary btnGreen" ng-click="$ctrl.submission()">Submission</button>
                <button ng-if="$ctrl.user_task.status == 'draft'" type="button" data-loading-text="processing..." class="button-submit btn btn-default" ng-click="$ctrl.save()">Save draft</button>
                <button class="btn btn-default" ui-sref="app.learner_module.dashboard({module_id: $ctrl.task.post_id})"> Back</button>
            </div>
            <div class="box box-widget direct-chat direct-chat-primary" ng-if="$ctrl.comments[0]">
                <div class="box-header with-border">
                    <h3 class="box-title">Message Box</h3>
                </div>
                <div class="box-body">
                    <div ng-repeat="comment in $ctrl.comments" style="padding: 10px;">
                        <div class="direct-chat-msg" ng-if="comment.user.type == 'teacher_1'">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-left" ng-bind="comment.user.name"></span>
                                <span class="direct-chat-timestamp pull-right" ng-bind="comment.created_at|formatDate:'DD-MM-YYYY H:I:S'">23 Jan 2:00 pm</span>
                            </div>
                            <!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="components/AdminLTE/dist/img/avatar.png" />
                            <div class="direct-chat-text" ng-bind="comment.message"></div>
                            <!-- /.direct-chat-text -->
                        </div>
                        <div class="direct-chat-msg right" ng-if="comment.user.type == 'learner'">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-right" ng-bind="comment.user.name"></span>
                                <span class="direct-chat-timestamp pull-left" ng-bind="comment.created_at|formatDate:'DD-MM-YYYY H:I:S'"></span>
                            </div>
                            <!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="components/AdminLTE/dist/img/avatar5.png" /><!-- /.direct-chat-img -->
                            <div class="direct-chat-text"  ng-bind="comment.message"></div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="input-group">
                        <input type="text" ng-model="$ctrl.message" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-btn">
                        <button type="button" data-loading-text="sending..." class="button-send btn btn-primary btn-flat" ng-click="$ctrl.send()">Send</button>
                    </span>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Button trigger modal -->
    <button id="button-modal-Common-module-view" type="button" class="hide" data-toggle="modal" data-target="#modal-Common-module-view"></button>
    <!-- Modal -->
    <div class="modal fade" id="modal-Common-module-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" ng-if="$ctrl.module">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" ng-bind="$ctrl.module.title"></h4>
                </div>
                <div class="modal-body">
                    <common-module-view module="$ctrl.module" template="quick-view-module.html"></common-module-view>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
