<div class="row">
    <section class="col-sm-8">
        <div class="box box-widget" ng-if="$ctrl.task.scenarios.length > 0">
            <div class="box-body">
                <p ng-bind="::$ctrl.task.scenarios"></p>
            </div>
        </div>
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">{{ ::$ctrl.task.title }}<span class="label-success" ng-show="$ctrl.user_task.status == 'submission'">Task was submission</span></h3>
            </div>
            <div class="box-body">
                <div class="form-group" ng-repeat="mcq in ::$ctrl.mcqs track by $index">
                    <h4 ng-bind="mcq.title"></h4>
                    <ul>
                        <li ng-repeat="option in mcq.options">
                            <input type="radio" name="option-{{mcq.id}}" ng-model="$ctrl.answers[mcq.id]" ng-value="option.key" />
                            <label for="" ng-bind="option.title"></label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="col-sm-4">
        <div class="box box-widget">
            <div class="box-footer" ng-if="$ctrl.userTask.status == 'draft'">
                <button type="button"class="btn btn-info" ng-click="$ctrl.recheck()">Redo</button>
                <button type="button" class="btn btn-default" ng-click="$ctrl.check()">Check</button>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.submission()">Submission</button>
            </div>
        </div>
        <div class="box box-widget">
            <div class="box-header">
                <h3 class="box-title">Task Reference link</h3>
            </div>
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <tbody>
                    <tr ng-repeat="doc in ::$ctrl.task.preference">
                        <td>
                            <a ng-if="doc.type=='refer'" style="cursor: pointer;" ng-click="$ctrl.clickRefer(doc)" target="_blank">{{ doc.name }}</a>
                            <a ng-if="doc.type=='upload'" href="api/filemanager/download-no-auth?path={{ doc.path }}" target="_blank">{{ doc.name }}</a>
                            <a ng-if="doc.type=='link'" target="_blank" href="{{ doc.href }}" target="_blank">{{ doc.name }}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<!-- Button trigger modal -->
<button id="button-modal-Common-module-view" type="button" class="hide" data-toggle="modal" data-target="#modal-Common-module-view"></button>
<!-- Modal -->
<div class="modal fade" id="modal-Common-module-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" ng-if="$ctrl.module">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" ng-bind="$ctrl.module.title"></h4>
            </div>
            <div class="modal-body">
                <common-module-view module="$ctrl.module" template="quick-view-module.html"></common-module-view>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
