<!--<div class="box box-widget">-->
    <!--<div class="box-header">-->
        <!--<h3 class="box-title">{{ ::$ctrl.module.title }}</h3>-->
    <!--</div>-->
    <!--<div class="box-body">-->
        <!--<div class="col-md-4">-->
            <!--<h3>Overview and introduction</h3>-->
            <!--<ul>-->
                <!--<li ng-repeat="doc in ::$ctrl.docs">-->
                    <!--<a href="{{ doc.href }}" target="_blank">{{ doc.name }}</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-md-8">-->
            <!--<h3>Description</h3>-->
            <!--<div ng-bind-html="$ctrl.content"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="box box-widget">-->
    <!--<div class="box-header">-->
        <!--<h3 class="box-title">{{ ::$ctrl.module.title }}</h3>-->
    <!--</div>-->
<!--</div>-->
<div class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title">Module Reference link</h3>
    </div>
    <div class="box-body no-padding">
        <table class="table table-striped">
            <tbody>
            <tr ng-repeat="doc in ::$ctrl.docs">
                <td>
                    <a ng-if="doc.type=='refer'" ui-sref="app.learner_module.dashboard({module_id: doc.module_id})" href="{{ doc.href }}" target="_blank">{{ doc.name }}</a>
                    <a ng-if="doc.type=='upload'" href="api/filemanager/download-no-auth?path={{ doc.path }}" target="_blank">{{ doc.name }}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

