
<div class="main" ng-class="">
    <div class="container-fluid">
        <div class="row hidden-md hidden-lg rowLogoFix">
            <div class="col-xs-12 col-sm-12 text-center">
                <img src="media/img/lwc.png" class="img-responsive loginLogoFix fix1" alt="Image">
            </div>
            <div class="col-xs-4 col-sm-4 logoColFix text-center">
                <img src="media/img/lsm-white.png" class="img-responsive loginLogoFix fix2" alt="Image">
            </div>
            <div class="col-xs-4 col-sm-4 logoColFix text-center">
                <img src="media/img/laa-white.png" class="img-responsive loginLogoFix fix3" alt="Image">
            </div>
            <div class="col-xs-4 col-sm-4 logoColFix text-center">
                <img src="media/img/athe.png" class="img-responsive loginLogoFix fix4" alt="Image">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col8Fix">
                <div class="hidden-xs hidden-sm col-md-3 col-lg-3 col4Fix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <img src="media/img/4.png" class="img-responsive logoFix" alt="Image">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
                        <img src="media/img/5.png" class="img-responsive" alt="Image">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
                        <img src="media/img/laa.png" class="img-responsive" alt="Image">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
                        <img src="media/img/lsm.png" class="img-responsive" alt="Image">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="divimgFix">
                            <img src="media/banner/web-banner-laa-2.jpg" class="img-responsive" alt="Image">
                        </div>
                    </div>
                    <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
                        <!--<div class="divimgFix">-->
                            <!--<img src="media/banner/web-banner-laa.jpg" class="img-responsive imgFix" alt="Image">-->
                        <!--</div>-->
                        <!--<h4>Nitice of scholarhip from LWC in May 2018</h4>-->
                        <!--<h4><i><a href="">see more information click here</a></i></h4>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
                        <!--<h4>Picnic program in September 2018</h4>-->
                        <!--<h4><i><a href="">see more information click here</a></i></h4>-->
                    <!--</div>-->
                </div>
                <section>
                    <span></span>
                    <form class="formFix">
                        <input ng-model="$ctrl.user.email" placeholder='Email' type='text'>
                        <input ng-model="$ctrl.user.password" placeholder='Password' type='password'>
                    </form>
                    <button ng-click="$ctrl.login()">Login</button>
                </section>
            </div>
        </div>
    </div>
</div>
