<div class="register-box">
    <div class="register-logo">
        <a style="cursor: pointer"><b>London Westminster College</b></a>
    </div>
    <div class="register-box-body">
        <p class="login-box-msg">Register a new Learner</p>
        <form>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Full name" ng-model="$ctrl.user.name">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email"  ng-model="$ctrl.user.email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password"  ng-model="$ctrl.user.password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Retype password" ng-model="$ctrl.user.password_confirmation">
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <!--<div class="form-group">-->
                <!--<div vc-recaptcha ng-model="$ctrl.user['g-recaptcha-response']"></div>-->
            <!--</div>-->
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <button type="button" class="btn btn-primary btn-block btn-flat" ng-click="$ctrl.register()">Register</button>
                </div>
            </div>
        </form>
        <a style="cursor: pointer" ui-sref="login" class="text-center">I already have a membership</a>
    </div>
    <!-- /.form-box -->
</div>